{% extends 'SimplyTestableWebClientBundle::bs3/Abstract/single-page-dialog.html.twig' %}

{% block title %}Reset password - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormErrorHelper.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormHelper.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/reset-password.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/form-helper.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}

    <h1>Reset password</h1>

    <p>
        Enter the email address of your account. We'll send you an email to verify
        you own the address.
    </p>

    <p>
        Follow the instructions in the email to choose a new password.
    </p>    

    <form role="form" method="post" action="{{ path('reset_password_submit') }}">
        {% if user_reset_password_error is defined and user_reset_password_error != '' %}
            {% if user_reset_password_error == 'blank-email' %}
                <div class="alert alert-danger" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Slow down!</strong> You're going to have to enter in your email address of your account.
                </div>                
            {% endif %}  

            {% if user_reset_password_error == 'invalid-email' %}
                <div class="alert alert-danger" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Hmmm.</strong> I'm not convinced that <strong>{{ email }}</strong> is a valid email address.
                </div>                
            {% endif %}         

            {% if user_reset_password_error == 'invalid-user' %}
                <div class="alert alert-danger" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p><strong>Hmmm.</strong> I've got no accounts for <strong>{{ email }}</strong>.</p>
                    <p>Are you sure you
                        entered the right email address?</p>
                </div>                
            {% endif %}          
        {% endif %}  

        {% if user_reset_password_confirmation is defined and user_reset_password_confirmation != '' %}
            {% if user_reset_password_confirmation == 'token-sent' %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p>
                        <strong>Nearly there</strong>.
                    </p>
                    <p>
                        We've emailed a special magic link to <strong> {{ email }}</strong>.
                    </p>
                    <p>
                        Follow the link in the email to choose a new password.
                    </p>            
                </div>

            {% endif %}          
        {% endif %}

        <div class="form-group-collection form-group-collection-single">
            <div class="input-group input-group-larger">
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email address" value="{{ email }}">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Send email!</button>
                </span>
            </div>                
        </div>
    </form> 

{% endblock %}