<div class="meta">
    <div class="line">
        {% if error.lineNumber > -1 %}
            <span class="text">Line</span>
            <span class="digit">{{ error.lineNumber }}</span>
        {% endif %}
    </div>
    <div class="column">
        {% if error.columnNumber > -1 %}
            <span class="text">Column</span>
            <span class="digit">{{ error.columnNumber }}</span>
        {% endif %}
    </div>
</div>
<div class="content">
    <span class="message">{{ error }}</span>
    <pre class="prettyprint fragment">{% if error.canFragmentBeTruncated %}{{ error.truncatedFragment }}&hellip;{% else %}{{ error.fragment }}{% endif %}</pre>
</div>