{% set container_class %}row listed-test state-{{ test.test.state }} {% block container_class %}{% endblock %}{% endset %}

{% if icon is not defined %}
    {% set icon = 'fa-spin fa-spinner' %}
{% endif %}

{% if url is not defined %}
    {% set url = path('app_test_redirector', {'website': test.test.website, 'test_id':test.test.testId}) %}
{% endif %}

{% if container_attributes is not defined %}
    {% set container_attributes = '' %}
{% endif %}

{% block test %}

<div {{ container_attributes|raw }} data-test-id="{{ test.test.testId }}" data-state="{{ test.test.state }}" class="{{ container_class }}">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <a class="url" href="{{ url }}">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <i class="primary fa faw-fw {{ icon }}"></i>
                    <span class="website">{{ test.test.formattedWebsite }}</span> (#{{ test.test.testId }})
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 button hidden-xs">
                    <span class="btn btn-default btn-sm">
                        {% block url_button_label %}url_button_label{% endblock %}
                        <i class="fa fa-caret-right"></i>
                    </span>
                </div>
            </a>
        </div>

        {% block pre_stats %}
        {% endblock %}

        {% block stats %}
        {% endblock %}
    </div>
</div>
{% endblock %}
