{% extends 'SimplyTestableWebClientBundle::bs3/base.html.twig' %}

{% block title %}Results for {% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-64.html.twig' with {'url': website} %} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/full-width.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}

    {#{% javascripts#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/bootstrap3-typeahead.js'#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stModal.js'#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormHelper.js'#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stTestResultPreparer.js'#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/modal.js'#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/test-history.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
{#{% endblock %}#}

{% block body_class %} {{ parent() }} full-width {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="alert-container">
        {% if remote_test.ammendments is defined and remote_test.ammendments[0].constraint is defined %}
            <div class="alert alert-info">
                <div class="container">
                    {% include 'SimplyTestableWebClientBundle:Partials:test-url-limit-notification.html.twig' %}
                </div>
            </div>
        {% endif %}
    </div>

    {#<div class="alert-container">#}
        {#{% if is_logged_in == false %}#}
            {#{% include 'SimplyTestableWebClientBundle:bs3/Partials/Generic:limited-demo-notification.html.twig' %}#}
        {#{% endif %}#}
    {#</div>#}

    {#<div class="header">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-lg-12">#}
                    {#<h1>#}
                        {#{% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/History:heading-content.html.twig' %}#}
                    {#</h1>#}

                    {#{% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/History:url-filter.html.twig' %}#}

                    {#{% if test_list.maxresults > 0 %}#}
                        {#{% if pagination_page_numbers|length > 0 %}#}
                            {#{% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/History:pagination-content.html.twig' %}#}
                        {#{% endif %}#}
                    {#{% endif %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-lg-8 col-md-10 col-sm-12" id="finished-tests">#}
                {#{% for test in test_list.get %}#}
                    {#{% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Summary:finished.html.twig' %}#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}