{% extends 'SimplyTestableWebClientBundle::bs3/base.html.twig' %}

{% block title %}Results for {% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-64.html.twig' with {'url': website} %} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/full-width.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/summary-stats.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/test-results.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}

    {#{% javascripts#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/bootstrap3-typeahead.js'#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stModal.js'#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormHelper.js'#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stTestResultPreparer.js'#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/modal.js'#}
    {#'@SimplyTestableWebClientBundle/Resources/assets/bs3/js/test-history.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
{#{% endblock %}#}

{% block body_class %} {{ parent() }} full-width {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="alert-container">
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/Generic/Notification/Conditional:url-limit.html.twig' %}
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/Generic/Notification/Conditional:read-only-test.html.twig' %}
    </div>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        Results for <span id="test-url" title="{{website.raw}}">{% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-raw-possibly-truncated-50.html.twig' with {'url': website} %}</span>
                        <span id="test-id">(#{{ test.testId }})</span>
                    </h1>

                    <p class="task-type-summary">
                        {% for task_type_key, task_type_name in available_task_types %}

                            {% set is_available = test_options[task_type_key] is defined %}
                            {% set is_selected = is_available and test_options[task_type_key] %}

                            <span class="label {% if is_available %}available{% else %}unavailable{% endif %} {% if is_selected %}selected{% endif %}">
                                {#{% if is_selected %}#}
                                    {#<i class="fa fa-check"></i>#}
                                {#{% endif %}#}

                                {#{% if is_available == false %}#}
                                    {#<i class="fa fa-ban"></i>#}
                                {#{% endif %}#}
                                {{ task_type_name }}
                            </span>

                        {% endfor %}
                    </p>

                    <form role="form" method="post" action="{{ path('test_start') }}">
                        {#<div class="task-types row">#}
                            {#{% for task_type_key, task_type_properties in task_types %}#}
                                {#{% set is_available = test_options[task_type_key] is defined %}#}
                                {#{% set is_selected = is_available and test_options[task_type_key] %}#}

                                {#<div class="col-lg-3">#}
                                    {#<div class="task-type">#}
                                        {#<label>#}
                                            {#<input type="checkbox" name="{{ task_type_key }}" value="1" {% if is_selected %}checked{% endif %}>#}
                                            {#<span class="name">{{ task_type_properties.name }}</span>#}
                                            {#<span class="help-block description">{{ task_type_properties.description|raw }}</span>#}
                                        {#</label>#}

                                    {#</div>#}
                                {#</div>#}

                            {#{% endfor %}#}
                        {#</div>#}

                    </form>



                    {#{{ dump(available_task_types) }}#}
                    {#{{ dump(task_types) }}#}


                    {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Results/Index:summary-stats.html.twig' %}
                    {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Results/Index:summary-prose.html.twig' %}



                </div>
            </div>
        </div>
    </div>

    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-lg-8 col-md-10 col-sm-12" id="finished-tests">#}
                {#{% for test in test_list.get %}#}
                    {#{% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Summary:finished.html.twig' %}#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}