{% extends 'SimplyTestableWebClientBundle::bs3/Abstract/single-page-dialog.html.twig' %}

{% block title %}Sign in - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets    
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/sign-in.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormErrorHelper.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormHelper.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/sign-in.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/form-helper.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}

    <h1>Sign in</h1>

    {% if user_signin_error is defined and user_signin_error != '' %}    
        {% if user_signin_error == 'invalid-user' %}
            <div class="alert alert-info" data-for="email">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>
                    <strong>Hello!</strong>
                </p>
                <p>
                    There's no account for <strong>{{ email }}</strong>.
                    Good news - we can do that for you if you like.
                </p>
                <form role="form" class="single-button-form" method="get" action="{{ path('user_view_signup') }}">
                    <div> 
                        <input type="hidden" name="email" value="{{ email }}" />
                        <button class="btn btn-success" type="submit">Yes, sign me up please!</button>
                    </div>      
                </form>
            </div>                
        {% endif %}

        {% if user_signin_error == 'authentication-failure' %}
            <div class="alert alert-danger" data-for="password">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>
                    <strong>Hmmm.</strong>
                </p>
                <p>
                    That's not the right password. Try again.
                </p>

                <div class="single-button-form" > 
                    <a class="btn btn-success" href="{{ path('user_view_resetpassword', {'email': email}) }}">Ok, maybe I need to reset my password <i class="fa fa-caret-right"></i></a>
                </div>
            </div>                
        {% endif %}

        {% if user_signin_error == 'user-not-enabled' %}
            <div class="alert alert-info">
                <p>
                    <strong>Not quite yet!</strong>
                </p>

                <p>
                    You need to verify your email address before you can sign in.
                </p>            

                <form role="form" class="single-button-form" method="get" action="{{ path('user_view_signupconfirm', {'email': email}) }}">
                    <div> 
                        <button class="btn btn-success" type="submit">Go to account activation <i class="fa fa-caret-right"></i></button>
                    </div>      
                </form>
            </div>
        {% endif %}               
    {% endif %}

    {% if user_signin_confirmation is defined and user_signin_confirmation != '' %}    
        {% if user_signin_confirmation == 'user-activated' %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>
                    <strong>Yippee!</strong>
                </p>
                <p>
                    Your account is now active. Go ahead, sign in and enjoy.
                </p>
            </div>                
        {% endif %}
    {% endif %}

    <form role="form" method="post" action="{{ path('sign_in_submit') }}" novalidate>
        {% if user_signin_error is defined and user_signin_error != '' %}
            {% if user_signin_error == 'invalid-email' %}
                <div class="alert alert-danger" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Hmmm.</strong> I'm not convinced that <strong>{{ email }}</strong> is a valid email address.
                </div>                
            {% endif %}        

            {% if user_signin_error == 'blank-email' %}
                <div class="alert alert-danger" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Slow down!</strong> You're going to have to enter in your email address to sign in.
                </div>                
            {% endif %}                                                   

            {% if user_signin_error == 'blank-password' %}
                <div class="alert alert-danger" data-for="password">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Slow down!</strong> You're going to have to enter in your password to sign in.
                </div>                
            {% endif %}   

            {% if user_signin_error == 'account-not-logged-in' %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p>
                        <strong>Hello!</strong>
                    </p>
                    <p>
                        You need to sign in to access your account.
                    </p>
                </div>                
            {% endif %}         

            {% if user_signin_error == 'test-not-logged-in' %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p>
                        <strong>Hello!</strong>
                    </p>
                    <p>
                        You need to sign in to access this test.
                    </p>
                </div>                
            {% endif %}           

            {% if user_signin_error == 'public-user' %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p>
                        <strong>Hello!</strong>
                    </p>
                    <p>
                        You're trying to sign in as the public user.
                    </p>
                    <p>
                        The public user is special, you're not allowed to sign in as it.
                    </p>
                </div>                
            {% endif %}               
        {% endif %}

        <div class="form-group-collection">
            <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" type="email" class="form-control input-larger" id="email" placeholder="Enter your email address" {% if email != '' %} value="{{ email }}" {% endif %}>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control input-larger" id="password" placeholder="Enter your password">
            </div>
        </div> 

        <div class="form-group-collection form-group-submit-collection">            
            <input type="hidden" name="redirect" value="{{ redirect }}" />

            <button id="submit" type="submit" class="btn btn btn-primary">Sign in!</button> 

            <label class="checkbox">
                <input type="checkbox" {% if stay_signed_in != "0" %}checked="checked"{% endif %} name="stay-signed-in" value="1"><span>Stay signed in</span>
            </label> 
        </div>                   
    </form> 

    <div class="additional single-button-form" > 
        <a class="btn btn-default" href="{{ path('user_view_resetpassword', {'email': email}) }}">I need to reset my password <i class="fa fa-caret-right"></i></a>
    </div>

{% endblock %}