{% extends 'SimplyTestableWebClientBundle::bs3/base.html.twig' %}

{% block title %}{% if is_logged_in == false %}Demo{% endif %} Dashboard (Start Test, Test History) - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/modal.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/full-width.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/action-badge.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/test-options.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/cookies-options-modal.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/btn-significant.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/summary-stats.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/test-list.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/dashboard.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stModal.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormErrorHelper.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormHelper.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/modal.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/http-authentication-options-modal.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/cookie-options-modal.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/form-helper.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stTestResultPreparer.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/dashboard.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body_class %} {% if test_start_error is defined and test_start_error is not empty %}{{ test_start_error }}{% endif %} {{ parent() }} full-width {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="alert-container">
        {% if is_logged_in == false %}
            {% include 'SimplyTestableWebClientBundle:bs3/Partials/Generic:limited-demo-notification.html.twig' %}
        {% endif %}
    </div>

    <div class="header">
        <div class="container">
            <form id="test-start-form" method="post" action="{{ path('test_start') }}">
                <div class="row">
                    <div class="col-lg-12">
                        {% if test_start_error is defined and test_start_error is not empty %}
                            {% if test_start_error == 'website-blank' %}
                                <div class="alert alert-danger alert-dismissable" data-for="website">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Slow down!</strong> You're going to have to enter a website URL if we're going to get anything done here.
                                </div>
                            {% endif %}

                            {% if test_start_error == 'web_resource_exception' %}
                                <div class="alert alert-danger alert-dismissable" data-for="website">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    Sorry, looks like my testing system is in <strong>read-only</strong> mode whilst some maintenance is happening. Can you try again in a short while?
                                </div>
                            {% endif %}

                            {% if test_start_error == 'no-test-types-selected' %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Slow down!</strong> Check off the types of test you want to run.
                                </div>
                            {% endif %}
                        {% endif %}

                        <label for="website" class="sr-only">
                            What website or page do you want to test?
                        </label>
                        <input id="website"
                               type="text"
                               name="website"
                               class="form-control"
                               placeholder="Enter the address of the site or web page you want to test"
                                {% if website is defined and website is not empty %}
                            value="{{ website.raw }}"
                                {% endif %}>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6">
                        <p class="sr-only">What tests do you want to carry out?</p>
                        {% include 'SimplyTestableWebClientBundle:bs3/Partials/Dashboard/TaskTypes:task-types.html.twig' %}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="row buttons">
                            <div class="col-lg-6 col-md-12 col-xs-6 btn-container">
                                <button class="btn btn-primary" type="submit" name="full-single" value="full">
                                    <i class="fa fa-fw fa-globe"></i>
                                    Test entire site
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-6 btn-container">
                                <button class="btn btn-default" type="submit" name="full-single" value="single">
                                    <i class="fa fa-fw fa-circle-o"></i>
                                    Test this page only
                                </button>
                            </div>
                        </div>
                        <div class="row options">
                            {% if test_options['http-authentication'] is defined %}
                                <div class="test-option">
                                    {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Options/HttpAuthentication:http-authentication.html.twig' %}
                                </div>
                            {% endif %}

                            {% if test_options['cookies'] is defined %}
                                <div class="test-option">
                                    {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Options/Cookies:cookies.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        {% import 'SimplyTestableWebClientBundle:bs3/Macro:form.html.twig' as form %}

                        <div class="collapse-control-group">
                            {% if 'css-validation' in available_task_types|keys %}
                                <span class="collapse-control collapsed link"
                                      data-toggle="collapse"
                                      data-target="#css-validation-options-advanced">
                                    <span class="content">Advanced CSS validation options</span>
                                    <i class="fa fa-fw fa-caret-down"></i>
                                </span>
                            {% endif %}


                            {% if 'js-static-analysis' in available_task_types|keys %}
                                <span class="collapse-control collapsed link"
                                      data-toggle="collapse"
                                      data-target="#js-static-analysis-options-advanced">
                                    <span class="content">Advanced JavaScript static analysis (and JSLint) options</span>
                                    <i class="fa fa-fw fa-caret-down"></i>
                                </span>
                            {% endif %}
                        </div>

                        {% if 'css-validation' in available_task_types|keys %}
                            {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Options/CssValidation:advanced-options.html.twig' with {'is_disabled': false, 'container_classes': ['test-options-set']} %}
                        {% endif %}

                        {% if 'js-static-analysis' in available_task_types|keys %}
                            {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Options/JsStaticAnalysis:advanced-options.html.twig' with {'is_disabled': false, 'container_classes': ['test-options-set']} %}
                        {% endif %}

                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12" id="recent-activity">
                <h2>Recent activity</h2>
                <a href="{{ path('view_test_history_index_index') }}">Full test history <i class="fa fa-caret-right"></i></a>

                <div class="test-list">
                    <i class="fa fa-spin fa-spinner"></i>
                </div>
            </div>
        </div>
    </div>


{% endblock %}