{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Your card details ({{ user.username }}) - {{ parent() }}{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('{{ stripe_publishable_key }}');
    </script>
{{ parent() }}
{% endblock %} 

{% block body_class %} account {{ parent() }}{% endblock %}


{% block main %}
    <div class="row-fluid">
        <div class="span12">
            <h1>Your card details</h1>
            {{ user_account_card_exception_param }}
        </div>
    </div>
    <div class="row-fluid">        
        <form method="post" class="form-horizontal" id="payment-form" action={{ path('user_account_card_associate', {'stripe_card_token' : 'stripe_card_token'}) }}>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <h2>Cardholder</h2>
                    </div>
                </div>                

                <div class="control-group">
                    <label class="control-label" for="inputFirstName">Name</label>
                    <div class="controls">
                        <input value="{% if user_summary.stripe_customer.active_card.name is defined %}{{ user_summary.stripe_customer.active_card.name }}{% endif %}" class="span12" type="text" id="inputFirstName" placeholder="Name" data-stripe="name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputStreetAddress">Street address</label>
                    <div class="controls">
                        {% if user_summary.stripe_customer.active_card is defined and user_summary.stripe_customer.active_card.address_line1_check == 'fail'  %}
                        
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <p>
                                Your card issuer could not verify that this line of the
                                address is correct.
                            </p>
                        </div>  
                            
                        {% endif %}

                        <input value="{% if user_summary.stripe_customer.active_card.address_line1 is defined %}{{ user_summary.stripe_customer.active_card.address_line1 }}{% endif %}" class="span12" type="text" id="inputStreetAddress" placeholder="Steet address" data-stripe="address_line1">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputCity">City</label>
                    <div class="controls">
                        <input value="{% if user_summary.stripe_customer.active_card.address_city is defined %}{{ user_summary.stripe_customer.active_card.address_city }}{% endif %}" type="text" id="inputCity" placeholder="City" data-stripe="address_city">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputState">State or County</label>
                    <div class="controls">
                        <input value="{% if user_summary.stripe_customer.active_card.address_state is defined %}{{ user_summary.stripe_customer.active_card.address_state }}{% endif %}" type="text" id="inputState" placeholder="State or County" data-stripe="address_state">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputZip">Zip or postal code</label>
                    <div class="controls">
                        {% if (user_summary.stripe_customer.active_card is defined and user_summary.stripe_customer.active_card.address_zip_check == 'fail') or (user_account_card_exception_param  is defined and user_account_card_exception_param  == 'address_zip')  %}
                        
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <p>
                                Your card issuer could not verify that the zip or postal
                                code you provided is correct.
                            </p>
                        </div>  
                            
                        {% endif %}
                        
                        <input value="{% if user_summary.stripe_customer.active_card.address_zip is defined %}{{ user_summary.stripe_customer.active_card.address_zip }}{% endif %}" type="text" id="inputZip" placeholder="Zip or postal code" data-stripe="address_zip">
                    </div>
                </div>                    
                <div class="control-group">
                    <label class="control-label" for="inputCountry">Country</label>
                    <div class="controls">                        
                        <select data-stripe="address_country">
                            {% for country_code, country_name in countries %}
                                {% if user_summary.stripe_customer.active_card.address_country is defined %}
                                <option {% if user_summary.stripe_customer.active_card.address_country == country_code %}selected{% endif%} value="{{ country_code }}">{{ country_name }}</option>                             
                                {% else %}
                                <option {% if country_code == 'GB' %}selected{% endif%} value="{{ country_code }}">{{ country_name }}</option>                             
                                {% endif %}                              
                            {% endfor %}
                            </select>                        
                        </div>
                    </div>                            
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">
                            {% if user_summary.stripe_customer.active_card is defined %}
                                    Update
                            {% else %}
                                    Add
                            {% endif %}
                                    card
                                </button>
                            </div>
                        </div>            
                    </div>            
                    <div class="span6">

                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <h2>Credit card</h2>
                                <p>
                                    We accept Visa and Mastercard credit and debit cards.
                                </p>
                            </div>
                        </div>                

                        <div class="control-group">
                            <label class="control-label" for="inputNumber">Number</label>
                            <div class="controls">
                                <input class="span12" type="text" id="inputNumber" placeholder="15 or 16 digits across the front" data-stripe="number">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputExpiryMonth">Expiry date</label>
                            <div class="controls">
                                <!-- user_account_card_exception_param -->
                                <select class="span4" id="inputExpiryMonth" data-stripe="exp_month">
                                    <option value="00">Month</option>
                                    <option value="01">January</option>
                                    <option value="02">February</option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select> 

                                <select class="span3" data-stripe="exp_year">
                                    <option>Year</option>
{% for year in expiry_year_start..expiry_year_end %}
                                    <option>{{ year }}</option>
{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group control-group-cvc">
                            <label class="control-label" for="inputCVC">CVC</label>
                            <div class="controls">
                                {% if (user_summary.stripe_customer.active_card is defined and user_summary.stripe_customer.active_card.cvc_check == 'fail') or (user_account_card_exception_param  is defined and user_account_card_exception_param  == 'cvc') %}

                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <p>
                                        Your card issuer could not verify that the CVC
                                        you provided is correct.
                                    </p>
                                </div>  

                                {% endif %}                                
                                
                                <input type="text" id="inputCVC" placeholder="" class="span3" data-stripe="cvc"><span class="help-inline">Usually 3 digits on the back</span>
                                <br>
                                <div class="expandable-control expandable-control-default-closed for-detail-expandable">What is a CVC and where do I find it?</div>
                                <div id="detail-expandable">
                                    <p>
                                        This is the <b>c</b>ard <b>v</b>erification <b>c</b>ode (CVC), also know as
                                        CVV or similar-looking abbreviations.
                                    </p>
                                    <p>
                                        It's commonly a 3-digit code on the back of your card:
                                    </p>
                                    <img src="/bundles/simplytestablewebclient/images/CVC2SampleVisaNew.png">
                                    <a href="http://en.wikipedia.org/wiki/File:CVC2SampleVisaNew.png">Image credit</a>
                                </div>                        
                            </div>
                        </div>                
                    </div>            


                </form>
            </div>
{% endblock %}