{% extends 'Partials/abstract-navbar.html.twig' %}

{% set username_parts = user.username|split('@') %}

{% block items %}
    <li class="text hidden-lg hidden-md hidden-sm {% if app.request.get('_route') == 'view_dashboard_index_index' %}active{% endif %}">
        <a href="{{ path('view_dashboard_index_index') }}">
            <i class="fa fa-tachometer"></i>
            {% if is_logged_in %}
                Dashboard
            {% else %}
                Demo <span class="hidden-sm hidden-md">dashboard</span> (try me)
            {% endif %}
        </a>
    </li>
    <li class="text hidden-lg hidden-md hidden-sm">
        <a href="{{ public_site['urls']['home'] }}{{ public_site['urls']['features'] }}">
            <i class="fa fa-signal"></i> Features
        </a>
    </li>
    <li class="text hidden-lg hidden-md hidden-sm">
        <a href="{{ public_site['urls']['home'] }}{{ public_site['urls']['plans_and_pricing'] }}">
            <i class="fa fa-calendar"></i> Pricing <span class="hidden-sm">and plans</span>
        </a>
    </li>

    {% if is_logged_in %}
        <li class="user-actions text">
            <a class="username" href="{{ path('view_user_account_index_index') }}">
                <i class="fa fa-user"></i> {{ username_parts[0] }}<span class="hidden-sm">@{{username_parts[1]}}</span>
            </a>
        </li>
        <li class="text">
            <a class="username" href="{{ path('action_user_sign_out') }}">
                <i class="fa fa-sign-out"></i>
                Sign out
            </a>
        </li>
    {% else %}
        <li class="user-actions text {% if app.request.get('_route') == 'view_user_sign_in' %}active{% endif %}">
            <a class="username" href="{{ path('view_user_sign_in') }}">
                <i class="fa fa-sign-in"></i> Sign in
            </a>
        </li>
        <li class="text {% if app.request.get('_route') == 'view_user_sign_up_request' %}active{% endif %}">
            <a class="" href="{{ path('view_user_sign_up_request') }}">
                <i class="fa fa-user"></i> Create an account
            </a>
        </li>
    {% endif %}
{% endblock %}
