<div class="html-validation-result">
    <p>
        <span class="meta">            
            {% if error.getLineNumber > -1 and error.getColumnNumber == -1 %}
                Line {{ error.getLineNumber }}:
            {% endif %}              

            {% if error.getLineNumber == -1 and error.getColumnNumber > -1 %}
                Column {{ error.getColumnNumber }}:
            {% endif %}            

            {% if error.getLineNumber > -1 and error.getColumnNumber > -1 %}
                Line {{ error.getLineNumber }}, Column {{ error.getColumnNumber }}:
            {% endif %}            
        </span>
        <span class="message">{{ error }}</span>                 
    </p>
</div>


