{% if error.isException %}
<div class="js-static-analysis-result">   
    <div class="meta">     
        <p>
            Unable to analyse
        </p>
    </div>
    <div class="content">
        <span class="message">
            {% if error.fragment == 'webResourceException' %}
                An error occurred trying to retrieve the content of this script URL.
            {% else %}
                An unknown error occurred
            {% endif %}
        </span>
        {% if error.fragment == 'webResourceException' %}
            <pre class="fragment">HTTP response: {{error.message}}</pre>
        {% else %}
        {% endif %}                      
    </div>
    <div class="clearfix"></div>
</div>
{% else %}
<div class="js-static-analysis-result">   
    <div class="meta">     
        <p>
            {% if error.getLineNumber > -1 and error.getColumnNumber == -1 %}
                Line {{ error.getLineNumber }}:
            {% endif %}              

            {% if error.getLineNumber == -1 and error.getColumnNumber > -1 %}
                Column {{ error.getColumnNumber }}:
            {% endif %}            

            {% if error.getLineNumber > -1 and error.getColumnNumber > -1 %}
                Line {{ error.getLineNumber }}, Column {{ error.getColumnNumber }}:
            {% endif %}
        </p>
    </div>
    <div class="content">
        <span class="message">{{ error }}</span>
        <pre class="fragment">{% if error.canFragmentBeTruncated %}{{ error.truncatedFragment }}&hellip;{% else %}{{ error.fragment }}{% endif %}</pre>            
    </div>
    <div class="clearfix"></div>
</div>
{% endif %}

