<div class="html-validation-result">
    <div class="meta">     
        <p>
            <strong>{{class | upper}} error {{state}}</strong>
        </p>
        {% if (link_state_descriptions[class] is defined and link_state_descriptions[class][state] is defined) %}
        <p>
            {{ link_state_descriptions[class][state] | nl2br }}
        </p>
        {% endif %}
    </div>
    <div class="content">        
        <ul>
            {% for error in errors %}
                <li><a href="{{ error.url }}"><code>{{ error.context }}</code></a></li>
            {% endfor %}
        </ul>      
    </div>
    <div class="clearfix"></div>
</div>