<div class="summary-prose">
    {% if test.errorCount %}
        <div class="summary-prose-section errors">
            <ul>
                {% for task_type in remote_test.tasktypes %}
                    {% set task_issue_count = test.getErrorCountByTaskType(task_type | replace({'JavaScript static analysis': "JS static analysis"})) %}

                    {% if task_issue_count > 0 %}
                        <li>
                            {% if (task_type | lower != type) %}<a href="{{ path('view_test_results_index_index', { 'website': test.website, 'test_id': test.testId, 'filter': filter, 'type': task_type|lower }) }}">{% endif %}

                                <span class="badge alert-danger">{{ task_issue_count|number_format }}</span>

                                {{ task_type }}
                                error{% if task_issue_count != 1 %}s{% endif %}
                                {% if (task_type | lower != type) %}</a>{% endif %}
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if test.warningCount %}
        <div class="summary-prose-section warnings">
            <ul>
                {% for task_type in remote_test.tasktypes %}
                    {% set task_issue_count = test.getWarningCountByTaskType(task_type | replace({'JavaScript static analysis': "JS static analysis"})) %}

                    {% if task_issue_count > 0 %}
                        <li>
                            {% if (task_type | lower != type) %}<a href="{{ path('view_test_results_index_index', { 'website': test.website, 'test_id': test.testId, 'filter': filter, 'type': task_type|lower }) }}">{% endif %}

                                <span class="badge alert-info">{{ task_issue_count|number_format }}</span>

                                {{ task_type }}
                                warning{% if task_issue_count != 1 %}s{% endif %}
                                {% if (task_type | lower != type) %}</a>{% endif %}
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>