<form class="form-horizontal" role="form" method="post" action="{{ path('action_user_account_passwordchange_request') }}" novalidate>

    {% if user_account_details_update_password_request_notice is defined and user_account_details_update_password_request_notice is not empty %}
        {% if user_account_details_update_password_request_notice == 'blank' %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>
                    <strong>Slow down!</strong>
                </p>

                <p>
                    To change your password, enter your current password
                    to verify your identity and then enter your choice of new password.
                </p>
            </div>
        {% endif %}

        {% if user_account_details_update_password_request_notice == 'password-missing' %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>
                    <strong>Nearly!</strong>
                </p>       
                <p>
                    To change your password, enter your current password <strong>and</strong> enter your choice of new password.
                </p>
            </div>                
        {% endif %}

        {% if user_account_details_update_password_request_notice == 'password-invalid' %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>
                    <strong>Not quite!</strong>
                </p>
                <p>
                    That's not your current password. Give it a go again.
                </p>
            </div>
        {% endif %}

        {% if user_account_details_update_password_request_notice == 'password-failed-read-only' %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p><strong>Sorry, I can't do that right now</strong></p>
                <p>
                    We're in a <strong>read-only</strong> state whilst some 
                    <strong>maintenance</strong> is going on.
                </p>
                <p>
                    Give it a go again soon, this won't take long.
                </p>
            </div>              
        {% endif %}

        {% if user_account_details_update_password_request_notice == 'unknown' %}
            {#<div class="alert alert-danger">#}
                {#<button type="button" class="close" data-dismiss="alert">×</button>#}

                {#<strong>Hmmm.</strong><br>#}
                {#Something went wrong when I tried to do that. I'm not sure what happened.#}
                {#Would you mind trying that again?#}
            {#</div>               #}
        {% endif %}                  

        {% if user_account_details_update_password_request_notice == 'password-done' %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>            
                <strong>Yay!</strong> Your password has been changed.
            </div>               
        {% endif %}                
    {% endif %}      

    <div class="form-group">
        <label for="currentPassword" class="{{ label_col_class }} control-label">Current password</label>
        <div class="{{ field_col_class }}">
            <input type="password" class="form-control" id="currentPassword" name="current-password" placeholder="Current password">
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword" class="{{ label_col_class }} control-label">New password</label>
        <div class="{{ field_col_class }}">
            <input type="password" class="form-control" id="newPassword" name="new-password" placeholder="New password">
        </div>
    </div>
    <div class="form-group">
        <div class="{{ submit_col_class }}">
            <button type="submit" class="btn btn-default xs-full">Change password</button>
        </div>
    </div>
</form>