{% if plan_subscribe_success is defined and plan_subscribe_success != '' %}
    {% if plan_subscribe_success == 'already-on-plan' %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>You're already there!</strong></p>
            <p>
                You've already on the <strong>{{ user_summary.plan.accountplan.name }}</strong> plan.
            </p>
        </div>                
    {% else %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>All done!</strong></p>
            <p>
                You've changed to the <strong>{{ user_summary.plan.accountplan.name }}</strong> plan.
            </p>
        </div>                
    {% endif %}
{% endif %}

{% if plan_subscribe_error is defined and plan_subscribe_error != '' %}            
    {% if plan_subscribe_error == '403' %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>That didn't work</strong></p>
            <p>
                Looks like we're having trouble talking to our subscription service.                
            </p>
        </div>            
    {% endif %}        
{% endif %}

{% if user_account_card_exception_code is defined and user_account_card_exception_code != '' %}            
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p><strong>That didn't work</strong></p>

        {% if user_account_card_exception_code == 'incorrect_number' %}
            <p>
                Your payment card number is incorrect.
            </p>

        {% endif %}

        {% if user_account_card_exception_code == 'invalid_number' %}
            <p>
                Your payment card number is not valid.
            </p>
        {% endif %}

        {% if user_account_card_exception_code == 'invalid_expiry_month' or user_account_card_exception_code == 'invalid_expiry_year' %}
            <p>
                Your payment card's expiry date is invalid. Has it expired?
            </p>
        {% endif %}

        {% if user_account_card_exception_code == 'invalid_cvc' %}
            <p>
                Your payment card's security (CVC) code is invalid.
            </p>            
        {% endif %}

        {% if user_account_card_exception_code == 'expired_card' %}
            <p>
                Your payment card has expired. Are you using an old card by mistake?
            </p>                        
        {% endif %}

        {% if user_account_card_exception_code == 'incorrect_cvc' %}
            <p>
                Your payment card's security code is incorrect. Try updating
                your card details.
            </p>
        {% endif %}

        {% if user_account_card_exception_code == 'incorrect_zip' %}
            <p>
                The zip or postal code you entered failed validation. Did you
                enter the wrong address for your card?
            </p>         
        {% endif %}

        {% if user_account_card_exception_code == 'card_declined' %}
            <p>
                Your payment card was declined by your card provider.
            </p>            
            <p>
                Some common reasons for this:
            </p>
            <ul>
                <li>
                    you have reached your card's limit
                </li>            
                <li>
                    your card has been blocked
                </li>            
                <li>
                    your card provider's fraud checks are a little flaky
                </li>
            </ul>
            <p>
                If you can't immediately figure this one out, give your
                card provider a call and ask them why charges for Simply Testable
                are being declined.
            </p>
        {% endif %}

        {% if user_account_card_exception_code == 'missing' %}
            <p>
                You need to add a credit or debit card so that we can take payment for
                your premium subscription.
            </p>
        {% endif %}

        {% if user_account_card_exception_code == 'processing_error' %}
            <p>
                An error occurred while processing payment for your premium subscription.
            </p>         
            <p>
                This can happen from time to time if your card provider is having issues.
                Sometimes we ask them to charge your card and they just ignore us.
            </p>         
            <p>
                Please give it a go again in a few minutes.
            </p>            
        {% endif %}	                    

    </div>        
{% endif %}

<div>
    <p>
        You are on the <strong>{{ user_summary.plan.accountplan.name }}</strong> plan{% if user_summary.plan.accountplan.name == 'basic' %}. This is <strong>free of charge</strong> and always will be.
        {% else %}
        at <strong>&pound{{ user_summary.stripecustomer.subscription.plan.amount / 100 }} per {{ user_summary.stripecustomer.subscription.plan.interval }}</strong>.
        {% endif %}

        {% if user_summary.stripecustomer.subscription.status is defined %}
            {% if user_summary.stripecustomer.subscription.status == 'trialing' %}
                You are on day <strong>{{ user_summary.dayOfTrialPeriod }}</strong> of your <strong>{{ user_summary.plan.startTrialPeriod }}</strong> day trial
                ending <strong>{{ user_summary.stripecustomer.subscription.trialperiod.end|date("d") }} {{ user_summary.stripecustomer.subscription.trialperiod.end|date("F") }} {{ user_summary.stripecustomer.subscription.trialperiod.end|date("Y") }}</strong>.
            {% endif %}                    
        {% endif %}
    </p>            
</div>

<div id="plan-allowances">
    <h3>Allowances</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Pages examined per test</th>
                <td>{% if user_summary.planConstraints.urls_per_job is defined %}{{ user_summary.planConstraints.urls_per_job }}{% else %}Unlimited{% endif %}</td>
            </tr>
            <tr>
                <th>Credits</th>
                <td>
                    {% if user_summary.planConstraints.credits is defined %}
                        {{ user_summary.planConstraints.credits.used|number_format(0) }} of 
                        {{ user_summary.planConstraints.credits.limit|number_format(0) }} used ({{ (user_summary.planConstraints.credits.used / user_summary.planConstraints.credits.limit) * 100 }}%)
                    {% else %}
                        Unlimited
                    {% endif %}                                
                </td>
            </tr>                
        </tbody>            
    </table>             
</div>

<div id="plan-upgrade-downgrade">
    <h3>Upgrade/downgrade</h3>

    {% if user_summary.plan.accountplan.name == 'basic' %}
        {% if user_summary.plan.startTrialPeriod > 0  %}
            {% if user_summary.plan.startTrialPeriod == 365 %}
                <div class="alert alert-success">
                    <p><strong>Special offer!</strong></p>
                    <p>
                        Upgrade before {{ premium_plan_launch_offer_end }} to get a 12 month trial (usually 30 days).
                    </p>
                </div>    
            {% endif %}

            <p>
                Try any premium plan free for <strong>{{ user_summary.plan.startTrialPeriod }}</strong> day{% if user_summary.plan.startTrialPeriod != 1%}s{% endif %}.
            </p>                             
        {% endif %}
    {% else %}
    {% endif %}

    {% if user_summary.plan.accountplan.name !='basic' %}
        {% if plan.summary is defined %}
            {% set trial_days_remaining = plan.summary.trial_period_days - plan.summary.days_of_trial_period + 1 %}                               
            {% if trial_days_remaining > 0 %}
                <p>
                    Switch between premium plans free for up to <strong>{{ trial_days_remaining }}</strong> day{% if trial_days_remaining != 1%}s{% endif %}.
                </p>                                
            {% endif %}                            
        {% endif %}                                
    {% endif %}

    <div class="row">
        <div class="col-md-8 col-sm-6">
            <form role="form" method="post" action="{{ path('user_account_plan_subscribe') }}">
                <div class="input-group">
                    <select name="plan" class="form-control">
                        <option value="basic" {% if user_summary.plan.accountplan.name == 'basic' %}selected{% endif %}>Basic (&pound;0)</option>
                        <option value="personal" {% if user_summary.plan.accountplan.name == 'personal' %}selected{% endif %}>Personal (&pound;{{ plans.personal.price }})</option>
                        <option value="agency" {% if user_summary.plan.accountplan.name == 'agency' %}selected{% endif %}>Agency (&pound;{{ plans.agency.price }})</option>
                        <option value="business" {% if user_summary.plan.accountplan.name == 'business' %}selected{% endif %}>Business (&pound;{{ plans.business.price }})</option>
                        <option value="enterprise" {% if user_summary.plan.accountplan.name == 'enterprise' %}selected{% endif %}>Enterprise (&pound;{{ plans.enterprise.price }})</option>
                    </select> 
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Subscribe</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-12 col-sm-6">
            <a class="plans-link" href="{{ public_site['urls']['home'] }}{{ public_site['urls']['plans_and_pricing'] }}">View plan and pricing details <i class="fa fa-caret-right"></i></a>    
        </div>
    </div>    

</div>