{% extends 'SimplyTestableWebClientBundle::bs3/base.html.twig' %}

{% set is_failed = task.state in ['failed',  'failed-retry-available', 'failed-no-retry-available', 'failed-retry-limit-reached'] %}

{% block title %}Results for {% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-64.html.twig' with {'url': website_url} %} (Test#{{test.testId}} Task#{{task.taskId}}) - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@SimplyTestableWebClientBundle/Resources/assets/vendor/jquery-scrollto/jquery.scrollTo-1.4.12/jquery.scrollTo.js'
    '@SimplyTestableWebClientBundle/Resources/assets/vendor/spark-md5/js-spark-md5-3.0.0/spark-md5.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/test-task-results.js'
    %}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% set task_type_key = task.type|lower|replace({' ': '-'}) %}

{% set filter_selectors = {
    'html-validation':'p',
    'css-validation':'.message',
    'js-static-analysis':'.message',
    'link-integrity':'.raw-error-message'
} %}

{% block body_class %} {{ parent() }} {{ task_type_key }} full-width task-results {{ is_failed ? 'task-results-failed' : '' }} {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="alert-container">
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/Generic/Notification/Conditional:read-only-test.html.twig' %}
    </div>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        {{ task.type }} report for
                        <a href="{{ path('view_test_results_index_index', { 'website': test.website, 'test_id': test.testId }) }}">
                            {{ website_url.utf8.schemeless.raw }}
                            {#{% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-raw-possibly-truncated-40.html.twig' with {'url': website_url} %}#}
                            <span id="test-id">(#{{ test.testId }})</span>
                        </a>
                        task
                        <span id="task-id">#{{task.taskId}}</span>
                    </h1>

                    <p>
                        Page tested: <a href="{{ task.url }}">{{ task.formattedUrl }}</a><span class="fade"></span>
                    </p>

                    {% if task.state == 'completed' %}
                        <div class="summary-stats hidden-xs hidden-sm">
                            {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
                            with { 'count': task.output.errorCount, 'name':'error', 'anchor': '#errors' }
                            %}

                            {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
                            with { 'count': task.output.warningCount, 'negative':'primary', 'name':'warning', 'anchor': '#warnings' }
                            %}

                            {% if distinct_fixes is defined and distinct_fixes | length > 0 %}
                                {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
                                with { 'count': distinct_fixes | length, 'negative':'fixes', 'name':'fix', 'plural_suffix':'es', 'anchor':'#fixes' }
                                %}
                            {%  endif %}
                        </div>

                        <div class="summary-stats hidden-lg hidden-md">
                            {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
                            with { 'count': task.output.errorCount, 'name':'error', 'anchor': '#errors', 'stacked': true }
                            %}

                            {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
                            with { 'count': task.output.warningCount, 'negative':'primary', 'name':'warning', 'anchor': '#warnings', 'stacked': true }
                            %}

                            {% if distinct_fixes is defined and distinct_fixes | length > 0 %}
                                {% include 'SimplyTestableWebClientBundle:bs3/Abstract/Partials/Test/Results:issue-count-zero-positive.html.twig'
                                with { 'count': distinct_fixes | length, 'negative':'fixes', 'name':'fix', 'plural_suffix':'es', 'anchor':'#fixes', 'stacked': true }
                                %}
                            {%  endif %}
                        </div>
                    {% else %}
                    <div class="summary-stats">
                        <span class="label label-danger">
                            Failed to perform test
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container issue-content" {% if filter_selectors[task_type_key] is defined %} data-filter-selector="{{ filter_selectors[task_type_key] }}" {% endif %}>
        {% if is_failed %}
            {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Results/Task/Failed:failed.html.twig' %}
        {% else %}
            {% include 'SimplyTestableWebClientBundle:bs3/Partials/Test/Results/Task/Succeeded:succeeded.html.twig' %}
        {% endif %}
    </div>

{% endblock %}