{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% set is_finished = task.state in ['completed', 'failed',  'failed-retry-available', 'failed-no-retry-available', 'failed-retry-limit-reached'] %}
{% set is_failed = task.state in ['failed',  'failed-retry-available', 'failed-no-retry-available', 'failed-retry-limit-reached'] %}

{% block title %}Results for {% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-64.html.twig' with {'url': website_url} %} (Test#{{test.testId}} Task#{{task.taskId}}) - {{ parent() }}{% endblock %}

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">

    <div id="main">
    {% block main %}
        {% if is_finished %}
            <div class="row-fluid">
            {% if is_failed %}
            {% else %}
                {% if task.output.hasErrors %}
                    <span id="error-list" class="section-marker"></span>
                    <section class="issue-list">
                        <div class="span12">
                            <h2 class="info"><i class="icon-ban-circle"></i> Errors ({{ task.output.errorCount }}) </h2>
                            {% if task.type == 'CSS validation' %}

                            {% elseif task.type == 'JS static analysis' %}



                            {% elseif task.type == 'Link integrity' %}
                                {% if task.output.hasErrors and not task.output.result.hasErrors %}
                                    <div class="span12 notification" id="task-summary">
                                        <p>
                                            Detailed results from this test are no longer available.
                                        </p>
                                    </div>
                                {% endif %}

                                {% for class,errors_by_class in errors_by_link_state %}

                                    <ul class="errors">
                                        {% for state,errors in errors_by_class %}
                                            <li>
                                                {% include 'SimplyTestableWebClientBundle:Partials:task/link-integrity-class-results.html.twig' %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}

                            {% else %}

                            {% endif %}
                        </div>

                    </section>


                {% endif %}


            {% endif %}
            </div>
        {% endif %}
    {% endblock %}
    </div>
    </div>

{% endblock %}