{% import 'SimplyTestableWebClientBundle:bs3/Macro:form.html.twig' as form %}

{% if is_disabled is not defined %}
    {% set is_disabled = false %}
{% endif %}

{% if is_enabled is not defined %}
    {% set is_enabled = not is_disabled %}
{% endif %}

{% if container_classes is not defined %}
    {% set container_classes = [] %}
{% endif %}

<div id="css-validation-options-advanced" class="collapse">
    <div class="{{ container_classes|join(' ') }}">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 css-validator-option-set validator-option-set css-general">
                <h3>Handling warnings:</h3>

                {{ form.labelled_checkbox(
                    'Ignore warnings (report errors only)',
                    'css-validation-ignore-warnings',
                    test_options,
                    '',
                    is_disabled)
                }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 css-validator-option-set validator-option-set css-vendor-extensions">
                <h3>Vendor extension issues:</h3>

                {{ form.labelled_radio_group(
                    [{
                        'label':'Ignore',
                        'value':'ignore'
                    },
                    {
                        'label':'Report as warnings',
                        'value':'warn'
                    },
                    {
                        'label':'Report as errors',
                        'value':'error'
                    }],
                    'css-validation-vendor-extensions',
                    test_options,
                    is_disabled
                ) }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 css-validator-option-set validator-option-set css-common-cdn-domains">
                <h3>Common <a href="http://en.wikipedia.org/wiki/Content_delivery_network">CDN</a> domains:</h3>

                <label class="checkbox ignore-common-cdn-domains {% if (is_disabled) and (test_options['css-validation-ignore-common-cdns'] is not defined or test_options['css-validation-ignore-common-cdns'] == 0) %}disabled{% endif %}">
                    <input {% if (is_disabled) %}disabled{% endif %} type="checkbox" value="1" name="css-validation-ignore-common-cdns"  {% if (test_options['css-validation-ignore-common-cdns'] is defined and test_options['css-validation-ignore-common-cdns'] == 1) %} checked {% endif %} /> Ignore CSS from common CDNs:

                    {% if css_validation_ignore_common_cdns|length > 0 %}
                        <ul class="list-unstyled">
                            {% for cdn_domain_to_ignore in css_validation_ignore_common_cdns %}
                                <li>&ndash; {{ cdn_domain_to_ignore }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 css-validator-option-set validator-option-set css-domains-to-ignore">
                <h3>Linked CSS domains to ignore:</h3>

                <span class="help-block">
                    Ignore third-party CSS resources by domain.
                </span>
                <textarea class="form-control" {% if (is_disabled) %}disabled{% endif %} name="css-validation-domains-to-ignore" rows="3" {% if (is_enabled) %} placeholder="example.mycdn.com                                                     one-per-line.example.com"{% endif %}>{% if test_options['css-validation-domains-to-ignore'] is defined and test_options['css-validation-domains-to-ignore'] != '' %}{{test_options['css-validation-domains-to-ignore']|join('\n')}}{% endif %}</textarea>
            </div>
        </div>
    </div>
</div>