<div class="row-fluid state-{% if test is defined %}{{test.state}}{% endif %}" id="test-summary-container">
    <section>                
        <div class="span12" id="test-summary">
            <h2 class="info"><i class="icon-certificate"></i> Summary (<span id="test-summary-url-count">{{ remote_test.urlcount }}</span> urls, <span id="test-summary-task-count">{{ remote_test.taskcount }}</span> tests)</h2>

            <table class="test-states">
                <tbody>
                    <tr class="queued">
                        <th><span class="label label-warning">Queued</span></th>
                        <td class="bar"><span class="label label-warning" style="width:{% if remote_test.taskcountbystate.queued == 0 %} 2{% else %} {{ (remote_test.taskcountbystate.queued / remote_test.taskcount) * 100}}{% endif %}%;">{{ remote_test.taskcountbystate.queued }}</span></td>
                    </tr>
                    <tr class="in_progress">
                        <th><span class="label label-info">In Progress</span></th>
                        <td class="bar"><span class="label label-info" style="width:{% if remote_test.taskcountbystate.in_progress == 0 %} 2{% else %} {{ (remote_test.taskcountbystate.in_progress / remote_test.taskcount) * 100}}{% endif %}%;">{{ remote_test.taskcountbystate.in_progress }}</span></td>
                    </tr>              
                    <tr class="completed">                
                        <th><span class="label label-success">Completed</span></th>
                        <td class="bar"><span class="label label-success" style="width:{% if remote_test.taskcountbystate.completed == 0 %} 2{% else %} {{ (remote_test.taskcountbystate.completed / remote_test.taskcount) * 100}}{% endif %}%;">{{ remote_test.taskcountbystate.completed }}</span></td>
                    </tr>
                    <tr class="skipped">                
                        <th><span class="label">Skipped</span></th>
                        <td class="bar"><span class="label" style="width:{% if remote_test.taskcountbystate.skipped == 0 %} 2{% else %} {{ (remote_test.taskcountbystate.skipped / remote_test.taskcount) * 100}}{% endif %}%;">{{ remote_test.taskcountbystate.skipped }}</span></td>
                    </tr>        
                    <tr class="failed">                
                        <th><span class="label label-important">Failed</span></th>
                        <td class="bar"><span class="label label-important" style="width:{% if remote_test.taskcountbystate.failed == 0 %} 2{% else %} {{ (remote_test.taskcountbystate.failed / remote_test.taskcount) * 100}}{% endif %}%;">{{ remote_test.taskcountbystate.failed }}</span></td>
                    </tr>        
                </tbody>
            </table>  

        </div>
        <div class="clearfix"></div>
    </section>
</div>