<div class="row">
    <div class="{{ label_col_class }} col-xs-2">
        <span class="card-type card-type-{{ user_summary.stripeCustomer.activeCard.type|lower}}"></span>
    </div>
    <div class="{{ field_col_class }} col-xs-10 details">
        <div class="card-details">
            <p> 
                &bull;
                &bull;
                &bull;
                &bull;
                &bull;
                &bull;
                &bull;
                &bull;
                &bull;
                &bull;
                &bull;
                &bull;
                {{ user_summary.stripeCustomer.activeCard.last4 }}
                <span class="exp_date">expiring {{ card_expiry_month }} {{ user_summary.stripeCustomer.activeCard.expiryYear }}</span>
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-lg-offset-3 col-md-offset-4 col-sm-offset-3">
        <a href="{{ path('user_view_account_card_index') }}">Change your card details <i class="fa fa-caret-right"></i></a>
    </div>
</div>