{% include 'Partials/User/Account/Team/Manage/members.html.twig' %}

{% set has_notification = team_invite_get is defined and team_invite_get is not empty %}

<div class="account-section">
    <h2 id="invites">Invites</h2>

    {% if invites is defined and invites|length > 0 %}
        <p>
            These invites have yet to be accepted or declined:
        </p>

        <ul class="invites list-unstyled items">
            {% for invite in invites %}
                <li class="invite item">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 user">
                            <i class="fa fa-flag"></i>
                            {{ invite.user }}
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 action remove">
                            <form role="form" method="post" action="{{ path('action_user_account_team_removeinvite') }}">
                                <input type="hidden" name="user" value="{{ invite.user }}">
                                <button type="submit" class="btn btn-xs btn-danger">
                                    Remove
                                </button>
                            </form>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 action resend">
                            <form role="form" method="post" action="{{ path('action_user_account_team_resendinvite') }}">
                                <input type="hidden" name="user" value="{{ invite.user }}">
                                <button type="submit" class="btn btn-xs btn-default">
                                    Re-send
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if team_invite_get is defined %}
        {% include 'Partials/User/Account/Team/Leader/Invite/Get/Alert/notifications.html.twig' %}
    {% endif %}

    {% if team_invite_resend is defined %}
        {% include 'Partials/User/Account/Team/Leader/Invite/Resend/Alert/notifications.html.twig' %}
    {% endif %}

    <p>
        Invite anyone to join your team. Everyone on your team can sign in independently
        and share this team account.
    </p>

    <form class="issue-invite" role="form" method="post" action="{{ path('action_user_account_team_invitemember') }}">
        <label for="email">Who would you like to invite?</label>
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   name="email"
                   id="email"
                   placeholder="Email address of new team member"
                   data-focused
            >
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button">Send invite</button>
            </span>
        </div>
    </form>
</div>
