<ul class="grouped-issues collapse in" id="error-list-content">
    <li>
        {% for class,errors_by_class in errors_by_link_state %}
            <ul>
                {% for state,errors in errors_by_class %}
                    {% set has_description = link_state_descriptions[class] is defined and link_state_descriptions[class][state] is defined %}
                    {% set description = has_description ? link_state_descriptions[class][state] : '' %}

                <li>
                    <h3>
                        {{class | upper}} {{state}}{% if has_description %}: {{ description[0] }}{% endif %}
                    </h3>

                    <div class="row">
                        <div class="col-lg-12">
                            {% if has_description and description[1] is defined %}
                            <p>
                                {{ description[1] }}
                            </p>
                            {% endif %}
                            <ul class="issue-list">
                                {% for error in errors %}
                                    <li>
                                        <a href="{{ error.url }}">
                                            <pre class="prettyprint">{{ error.context }}</pre>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

        {% endfor %}
    </li>
</ul>