{% import 'Macro/form.html.twig' as form %}

{% if is_disabled is not defined %}
    {% set is_disabled = false %}
{% endif %}

{% if is_enabled is not defined %}
    {% set is_enabled = not is_disabled %}
{% endif %}

{% if container_classes is not defined %}
    {% set container_classes = [] %}
{% endif %}

<div id="js-static-analysis-options-advanced" class="collapse">
    <div class="{{ container_classes|join(' ') }}">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 validator-option-set js-static-analysis-common-cdn-domains">
                <h3>Common <a href="http://en.wikipedia.org/wiki/Content_delivery_network">CDN</a> domains:</h3>

                <label class="checkbox ignore-common-cdn-domains {% if (is_disabled) and test_options['js-static-analysis-ignore-common-cdns'] is not defined or (test_options['js-static-analysis-ignore-common-cdns'] is defined and test_options['js-static-analysis-ignore-common-cdns'] == 0) %}disabled{% endif %}">
                    <input {% if (is_disabled) %}disabled{% endif %} type="checkbox" value="1" name="js-static-analysis-ignore-common-cdns" {% if (test_options['js-static-analysis-ignore-common-cdns'] is defined and test_options['js-static-analysis-ignore-common-cdns'] == 1) or ((test_options['js-static-analysis'] is not defined or test_options['js-static-analysis'] == '') and default_js_static_analysis_options['ignore-common-cdns'] == 1) %} checked {% endif %} /> Ignore JS from common CDNs:

                    {% if js_static_analysis_ignore_common_cdns|length > 0 %}
                        {% include 'Partials/Test/Options/domains-to-ignore.html.twig' with {
                            'domains_to_ignore': js_static_analysis_ignore_common_cdns
                        } only %}
                    {% endif %}
                </label>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 css-validator-option-set validator-option-set css-domains-to-ignore">
                <h3>Linked JavaScript domains to ignore:</h3>

            <span class="help-block">
                Ignore third-party JavaScript resources by domain.
            </span>
                <textarea class="form-control" {% if (is_disabled) %}disabled{% endif %} name="js-static-analysis-domains-to-ignore" rows="5" {% if (is_enabled) %}placeholder="example.mycdn.com                                               one-per-line.example.com"{% endif %}>{% if test_options['js-static-analysis-domains-to-ignore'] is defined and test_options['js-static-analysis-domains-to-ignore'] != '' %}{{test_options['js-static-analysis-domains-to-ignore']|join('\n')}}{% endif %}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 css-validator-option-set validator-option-set js-static-analysis-jslint-options">
                <h3>
                    JSLint options: <span class="help-block help-block-inline">
                        Options to use with the JSLint static analyser. Refer to the
                        <a href="http://www.jslint.com/lint.html#options">JSLint options documentation</a>.
                    </span>
                </h3>

                <div class="jslint-options-container">

                    <div class="row">
                        <div class="col-lg-12 jslint-option-set-group">
                            <h3 class="snug-heading">Warn:</h3>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4 jslint-option-set">
                                    {{ form.labelled_checkbox('About unused parameters', 'js-static-analysis-jslint-option-unparam', test_options, 'unparam', is_disabled) }}
                                    {{ form.labelled_checkbox('When <code>continue</code> is used', 'js-static-analysis-jslint-option-continue', test_options, 'continue', is_disabled) }}
                                    {{ form.labelled_checkbox('About <code>debugger</code> operations', 'js-static-analysis-jslint-option-debug', test_options, 'debug', is_disabled) }}
                                    {{ form.labelled_checkbox('About <code>eval</code>', 'js-static-analysis-jslint-option-evil', test_options, 'evil', is_disabled) }}
                                    {{ form.labelled_checkbox('About unfiltered <code>for &hellip; in</code>', 'js-static-analysis-jslint-option-forin', test_options, 'forin', is_disabled) }}

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 jslint-option-set">
                                    {{ form.labelled_checkbox('When not using dot notation to access properties', 'js-static-analysis-jslint-option-sub', test_options, 'sub', is_disabled) }}
                                    {{ form.labelled_checkbox('When bitwise operators are used', 'js-static-analysis-jslint-option-bitwise', test_options, 'bitwise', is_disabled) }}
                                    {{ form.labelled_checkbox('About dangling <code>_</code> in identifiers', 'js-static-analysis-jslint-option-nomen', test_options, 'nomen', is_disabled) }}
                                    {{ form.labelled_checkbox('About <code>++</code> and <code>--</code> operations', 'js-static-analysis-jslint-option-plusplus', test_options, 'plusplus', is_disabled) }}
                                    {{ form.labelled_checkbox('When uncapitalised constructors are used', 'js-static-analysis-jslint-option-newcap', test_options, 'newcap', is_disabled) }}
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-4 jslint-option-set">
                                    {{ form.labelled_checkbox('When code is not in strict mode (<code>\'use strict\';</code>)', 'js-static-analysis-jslint-option-sloppy', test_options, 'sloppy', is_disabled) }}
                                    {{ form.labelled_checkbox('About blocking <code>&hellip;Sync</code> methods', 'js-static-analysis-jslint-option-stupid', test_options, 'stupid', is_disabled) }}
                                    {{ form.labelled_checkbox('About multiple var statements per function', 'js-static-analysis-jslint-option-vars', test_options, 'vars', is_disabled) }}
                                    {{ form.labelled_checkbox('About messy white space', 'js-static-analysis-jslint-option-white', test_options, 'white', is_disabled) }}
                                    {{ form.labelled_checkbox('When <code>==</code> or <code>!=</code> is used', 'js-static-analysis-jslint-option-eqeq', test_options, 'eqeq', is_disabled) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 jslint-option-set-group">
                            <h3 class="snug-heading">Assume:</h3>
                            <div class="row">
                                <div class="col-lg-12 jslint-option-set">
                                    {{ form.labelled_checkbox('Browser', 'js-static-analysis-jslint-option-browser', test_options, 'browser', is_disabled) }}
                                    {{ form.labelled_checkbox('console,alert,&nbsp;...', 'js-static-analysis-jslint-option-devel', test_options, 'devel', is_disabled) }}
                                    {{ form.labelled_checkbox('Windows', 'js-static-analysis-jslint-option-windows', test_options, 'windows', is_disabled) }}

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 jslint-option-set-group jslint-limits">
                            <h3 class="snug-heading">Limits:</h3>
                            <div class="row">
                                <div class="col-lg-12 inline-short stop-on-errors">
                                    <label class="radio ">
                                        <input type="radio" name="passfail" value="1">
                                        <span>Stop on first error, or</span>
                                    </label>
                                    <label class="radio stop-when-reaching">
                                        <input type="radio" name="passfail" value="0">
                                        <span>Stop when reaching</span>
                                        <input {% if (is_disabled) %}disabled{% endif %} id="js-static-analysis-jslint-option-maxerr"
                                               class="inline-short form-control"
                                               type="text"
                                               name="js-static-analysis-jslint-option-maxerr"
                                               value="{% if (test_options['js-static-analysis-jslint-option-maxerr'] is defined) %}{{ test_options['js-static-analysis-jslint-option-maxerr'] }}{% else %}{{ default_js_static_analysis_options['jslint-option-maxerr'] }}{% endif %}"
                                               title="maxerr" />
                                        errors
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 jslint-integer-options">
                                    <label>
                                        Indentation level:
                                        <input {% if (is_disabled) %}disabled{% endif %} id="js-static-analysis-jslint-option-indent"
                                               class="inline-short form-control"
                                               type="text"
                                               name="js-static-analysis-jslint-option-indent"
                                               value="{% if (test_options['js-static-analysis-jslint-option-indent'] is defined) %}{{ test_options['js-static-analysis-jslint-option-indent'] }}{% else %}{{ default_js_static_analysis_options['jslint-option-indent'] }}{% endif %}"
                                               title="indent" />
                                        spaces
                                    </label>

                                    <label>
                                        Maximum line length:
                                        <input {% if (is_disabled) %}disabled{% endif %} id="js-static-analysis-jslint-option-maxlen"
                                               class="inline-short form-control"
                                               type="text"
                                               name="js-static-analysis-jslint-option-maxlen"
                                               value="{% if (test_options['js-static-analysis-jslint-option-maxlen'] is defined) %}{{ test_options['js-static-analysis-jslint-option-maxlen'] }}{% else %}{{ default_js_static_analysis_options['jslint-option-maxlen'] }}{% endif %}"
                                               title="maxlen" />
                                        characters
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 jslint-option-set-group">
                            <h3 class="snug-heading">Predefined variable names:</h3>
                            <textarea class="form-control jslint-predef" {% if (is_disabled) %}disabled{% endif %} name="js-static-analysis-jslint-option-predef" rows="5" {% if (is_enabled) %}placeholder="NamesOfVariables                                            AssumedToBePredefined                                OnePerLine"{% endif %}>{% if test_options['js-static-analysis-jslint-option-predef'] is defined and test_options['js-static-analysis-jslint-option-predef'] != '' %}{{test_options['js-static-analysis-jslint-option-predef']|join('\n')}}{% endif %}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>