{% if plural_suffix is not defined %}
    {% set plural_suffix = 's' %}
{% endif %}

{% if positive is not defined %}
    {% set positive = 'success' %}
{% endif %}

{% if negative is not defined %}
    {% set negative = 'danger' %}
{% endif %}

{% if name_suffix is not defined %}
    {% set name_suffix = '' %}
{% endif %}

{% if anchor is not defined %}
    {%  set anchor = '#' %}
{% endif %}

{% if count == 0 %}
<span class="row label label-{{ count == 0 ? positive : negative }}">
    <span class="col-md-12 col-sm-6 col-xs-6 count">{{ count|number_format }}</span>
    <span class="col-md-12 col-sm-6 col-xs-6 name">{{ name }}{% if count != 1 %}{{ plural_suffix }}{% endif %}{{ name_suffix }}</span>
    <span class="icon">
        {% if count == 0 %}
            <i class="fa fa-check"></i>
        {% else %}
            <i class="fa fa-caret-down"></i>
        {% endif %}
    </span>
</span>
{% else %}
    <a data-target="#test-list" data-target="#test-list" href="{{ anchor }}" class="row label label-{{ count == 0 ? positive : negative }}">
        <span class="col-md-12 col-sm-6 col-xs-6 count">{{ count|number_format }}</span>
        <span class="col-md-12 col-sm-6 col-xs-6 name">{{ name }}{% if count != 1 %}{{ plural_suffix }}{% endif %}{{ name_suffix }}</span>
        <span class="icon">
            <i class="fa fa-caret-down"></i>
        </span>
    </a>
{% endif %}



