{% set plural_suffix = plural_suffix is defined ? plural_suffix : 's' %}
{% set positive is defined ? positive : 'success' %}
{% set negative is defined ? negative : 'danger' %}
{% set name_suffix is defined ? name_suffix : '' %}
{% set anchor is defined ? anchor : '#' %}
{% set stacked is defined ? stacked : false %}

{% if count == 0 %}
<span class="{% if stacked %}row{% endif %} label label-{{ count == 0 ? positive : negative }}">
    <span class="{% if stacked %}col-md-12 col-sm-6 col-xs-6{% endif %} count">{{ count|number_format }}</span>
    <span class="{% if stacked %}col-md-12 col-sm-6 col-xs-6{% endif %} name">{{ name }}{% if count != 1 %}{{ plural_suffix }}{% endif %} {{ name_suffix }}</span>
    <span class="icon">
        <i class="fa fa-times"></i>
    </span>
</span>
{% else %}
    <a href="{{ anchor }}" class="{% if stacked %}row{% endif %} label label-{{ count == 0 ? positive : negative }}">
        <span class="{% if stacked %}col-md-12 col-sm-6 col-xs-6{% endif %} count">{{ count|number_format }}</span>
        <span class="{% if stacked %}col-md-12 col-sm-6 col-xs-6{% endif %} name">{{ name }}{% if count != 1 %}{{ plural_suffix }}{% endif %} {{ name_suffix }}</span>
    <span class="icon">
        <i class="fa fa-caret-down"></i>
    </span>
    </a>
{% endif %}
