{% extends 'SimplyTestableWebClientBundle::bs3/User/Account/base.html.twig' %}

{% block body_class %}{% if user_summary.getTeamSummary.isInTeam %}{{ 'in-team' }}{% if true %} {{ (team.leader == user.username) ? 'team-leader' : 'team-member' }}{% endif %}{% elseif user_summary.getTeamSummary.hasInvite %}{{ 'has-invite' }}{% else %}{{ 'no-team-no-invite' }}{% endif %}
{% endblock %}

{% block title %}Your team ({{ user.username }}) - {{ parent() }}{% endblock %}
{% block heading %}
    <a href="{{ path('view_user_account_index_index') }}">{{ parent() }}</a>: your team
    {% if user_summary.getTeamSummary.isInTeam and team is defined %}
        ({{ team.name }})
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/user-account.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/user-account-team.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@SimplyTestableWebClientBundle/Resources/assets/vendor/jquery-scrollto/jquery.scrollTo-1.4.12/jquery.scrollTo.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormErrorHelper.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormHelper.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/form-helper.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/user-account.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/user-account-team.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block account_content %}

{% if not user_summary.getTeamSummary.isInTeam and not user_summary.getTeamSummary.hasInvite %}
    {% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account/Team/Manage:no-team-no-invite.html.twig' %}
{% elseif user_summary.getTeamSummary.hasInvite %}
    {% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account/Team/Manage:no-team-has-invite.html.twig' %}
{% elseif user_summary.getTeamSummary.isInTeam %}
    {% if team.leader == user.username %}
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account/Team/Manage:leader.html.twig' %}
    {% else %}
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account/Team/Manage:member.html.twig' %}
    {% endif %}
{% endif %}

{% endblock %}