{% extends 'SimplyTestableWebClientBundle::bs3/Abstract/single-page-dialog.html.twig' %}

{% block title %}Sign up - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormErrorHelper.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormHelper.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/sign-up.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/plan-selection.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/form-helper.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body_class %} {{ parent() }} sign-up {% endblock %}

{% block content %}

    <h1>Create your account</h1>

    <p>
        Private tests, all types of test, your own test history.
        <a class="account-benefits-link" href="{{ [public_site.urls.home,public_site.urls.account_benefits]|join('') }}">Account benefits <i class="fa fa-caret-right"></i></a>
    </p>

    {% if has_coupon %}
        <div class="alert alert-info alert-coupon">
            <p>
                {{ coupon.intro|raw }}
            </p>
        </div>

    {% endif %}

    <form role="form" method="post" action="{{ path('sign_up_submit') }}" novalidate>

        {% if user_create_confirmation is defined and user_create_confirmation == 'user-exists' %}

            <div class="alert alert-success" data-for="email">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>
                    Looks like <strong>{{ email }}</strong> already has an account.</p>
                <p>
                    Do you need to <a href="{{ path('view_user_resetpassword_index_index', {'email': email}) }}">reset your password</a>?
                </p>
            </div>

        {% endif %}

        {% if user_create_error is defined and user_create_error != '' %}
            {% if user_create_error == 'blank-email' %}
                <div class="alert alert-danger for:email" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Slow down!</strong> You're going to have to enter in your email address to sign up.
                </div>
            {% endif %}

            {% if user_create_error == 'blank-password' %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Slow down!</strong> You're going to have to choose a password for your account.
                </div>
            {% endif %}

            {% if user_create_error == 'postmark-not-allowed-to-send' %}
                <div class="alert alert-info" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>

                    <p>
                        <strong>Well, this is embarrassing.</strong>
                    </p>

                    <p>
                        I can't send email at the moment. Neither can I email my makers so that they can fix this. Awkward.
                    </p>

                    <p>
                        You're a nice person. Could you <a href="{{ external_links.contact_email }}">email my makers</a> so that they can fix this?
                    </p>
                </div>
            {% endif %}

            {% if user_create_error == 'postmark-inactive-recipient' %}
                <div class="alert alert-danger" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>

                    <p>
                        <strong>Hmmm. That's not going to work.</strong>
                    </p>

                    <p>
                        I can't send a confirmation email to <strong>{{ email }}</strong>.
                    </p>

                    <p>
                        Perhaps your mailbox is full, perhaps the email address doesn't exist.
                    </p>

                    <p>
                        Maybe try with a different email address?
                    </p>

                </div>
            {% endif %}

            {% if user_create_error == 'invalid-email' %}
                <div class="alert alert-danger" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Hmmm.</strong> I'm not convinced that <strong>{{ email }}</strong> is a valid email address.
                </div>
            {% endif %}

            {% if user_create_error == 'create-failed' %}
                <div class="alert alert-danger" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Something went wrong.</strong> I tried to sign up <strong>{{ email }}</strong> but it didn't
                    work. I don't know why.
                </div>
            {% endif %}

            {% if user_create_error == 'create-failed-read-only' %}
                <div class="alert alert-danger for:email" data-for="email">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p><strong>Sorry, I can't do that right now</strong></p>
                    <p>
                        We're in a <strong>read-only</strong> state whilst some
                        <strong>maintenance</strong> is going on.
                    </p>
                    <p>
                        Give it a go again soon, this won't take long.
                    </p>
                </div>
            {% endif %}
        {% endif %}

        <div class="form-group-collection">
            <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" type="email" class="form-control input-larger" id="email" placeholder="Enter your email address" {% if email != '' %} value="{{ email }}" {% endif %}>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control input-larger" id="password" placeholder="Choose a password">
            </div>
        </div>
        <div class="form-group-collection plan-selection">
            <div class="form-group">
                <p>
                    <i class="fa fa-heart"></i> Free for 30 days, no credit card required.
                    <a href="{{ public_site['urls']['home'] }}{{ public_site['urls']['plans_and_pricing'] }}">Plans and pricing <i class="fa fa-caret-right"></i></a>
                </p>

                {% include 'SimplyTestableWebClientBundle:bs3/Partials/Plan:selection.html.twig' with {selected_plan: plan} %}
            </div>
        </div>

        <div class="form-group-collection form-group-submit-collection">
            <button id="submit" type="submit" class="btn btn btn-primary">Sign up! <i class="fa fa-fw fa-caret-right"></i></button>

            <p class="terms-notice additional">
                By making use of this website you agree to the <a href="{{ external_links.terms }}">terms of service</a>.
            </p>
        </div>

    </form>

{% endblock %}