<div class="address">
<a href="{{ path('view_test_progress_index_index', {'website': test.website, 'test_id':test.id}) }}">
    <span class="badge badge-{{ test.state_label_class }}"><i class="icon state-icon {{ test.state_icon }}"></i></span>{{ test.website_label }}        
    <span class="btn-wrapper">
        <span class="btn-spacer"></span>
        <span class="btn btn-mini">View progress <i class="icon icon-caret-right"></i></span>   
    </span>
</a>    
</div>

{% if test.state == 'crawling' %}
<div class="row-fluid meta">
    <div class="span4 total">
        <span class="test-count processed-url-count">{{ test.crawl.processed_url_count }}</span><span class="subtext">page{% if test.crawl.processed_url_count != 1 %}s{% endif %} checked</span>
    </div>
    <div class="span4 total">
        <span class="test-count discovered-url-count">{{ test.crawl.discovered_url_count }}</span><span class="subtext">url{% if test.crawl.discovered_url_count != 1 %}s{% endif %} found</span>
    </div>
    <div class="span4 detail">        
        <div>
            <span class="caption">crawling &hellip;</span>
        </div>
    </div>        
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="progress progress-striped">
            <div class="bar bar-success" style="width:{{ test['completion_percent'] }}%;"></div>
        </div>
    </div>
</div>
{% else %}
<div class="row-fluid meta">
    <div class="span3 total">
        <span class="url-count">{{ test.url_count }}</span><span class="subtext">url{% if test.url_count != 1 %}s{% endif %}</span>
    </div>      
    <div class="span3 total">
        <span class="task-count">{{ test.task_count }}</span><span class="subtext">test{% if test.task_count != 1 %}s{% endif %}</span>
    </div>       
    <div class="span6 detail">
        <div>
            <span class="queued-count figure">{{ test.task_count_by_state.queued + attribute(test.task_count_by_state, 'queued-for-assignment') }}</span>
            <span class="caption">queued</span>
        </div>
        <div>
            <span class="in-progress-count figure">{{ attribute(test.task_count_by_state, 'in-progress') }}</span>
            <span class="caption">in progress</span>
        </div>
        <div>
            <span class="finished-count figure">{{ test.task_count - test.task_count_by_state.queued - attribute(test.task_count_by_state, 'queued-for-assignment') - attribute(test.task_count_by_state, 'in-progress') }}</span>
            <span class="caption">finished</span>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="progress progress-striped active">
            <div class="bar" style="width:{{ test.completion_percent }}%;"></div>
        </div>
    </div>
</div>
{% endif %}