{% set was_not_started = test.test.state == 'cancelled' and test.remote_test.taskcount == test.remote_test.taskcountbystate.cancelled %}
{% set no_urls = test.test.state == 'failed-no-sitemap' and test.remote_test.crawl is null %}

<div data-test-id="{{test.test.testId}}" class="site state-{{ test.test.state }} {% if was_not_started %}not-started{% endif %} {% if test_list is defined and test_list.requiresresults(test.test) %}requires-results{% endif %}">
        <div class="wrapper">
<div>
    <a class="url" href="{{ path('app_results', {'website': test.test.website, 'test_id':test.test.testId}) }}">
        <i class="icon icon-bar-chart"></i><span class="website">{{ test.remote_test.website }}</span> (#{{ test.test.testId }})
        <span class="btn-wrapper">
            <span class="btn-spacer"></span>
            <span class="btn btn-small">View full results <i class="icon icon-caret-right"></i></span>   
        </span>    
    </a>
        
    <!--<a href="{{ path('app_test_retest', {'website': test.test.website, 'test_id':test.test.testId}) }}" class="btn btn-mini re-test">Re-test <i class="icon icon-refresh"></i></a>-->

    <div class="row-fluid summary-stats">        
        {% if test_list is defined and test_list.requiresresults(test.test) %}           
        {% else %}
            {% if was_not_started %}            
            <p>
                Stopped before any tests were run.
            </p>
            {% elseif no_urls %}
            <p>
                No urls discovered.
            </p>
            {% else %}
                {% include 'SimplyTestableWebClientBundle:Partials:/results/url-count.html.twig' with {'test': test.test, 'remote_test':test.remote_test} %}
                {% include 'SimplyTestableWebClientBundle:Partials:/results/task-count.html.twig' with {'test': test.test, 'remote_test':test.remote_test} %}            
                {% include 'SimplyTestableWebClientBundle:Partials:/results/error-count.html.twig' with {'test': test.test} %}
                {% include 'SimplyTestableWebClientBundle:Partials:/results/warning-count.html.twig' with {'test': test.test} %}
                {% include 'SimplyTestableWebClientBundle:Partials:/results/errors-by-task-type.html.twig' with {'test': test.test, 'remote_test':test.remote_test, 'type':null, 'filter':null} %}            
            {% endif %}
        {% endif %}
    </div>
</div>
        </div>
    </div>

