<section>
    <div id="input" class="leader">                  
        <h1 class="info">
            <label for="input-website">
                <i id="completion-percent-state-icon" class="{{ state_icon }}"></i> Testing <span id="test-url" title="{{website.raw}}">{% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-raw-possibly-truncated-50.html.twig' with {'url': website} %}</span>
                <span id="test-id">(#{{ test.testId }})</span>           
            </label>
        </h1>    

        {% if (is_public_user_test is not defined or (is_public_user_test is defined and is_public_user_test == true) or is_owner) %}
            
        <form id="cancel-form" class="top-right-form" method="post" action="{{ path('test_cancel', {website: website.raw, test_id: test.testId}) }}">
            <button type="submit" class="btn btn-danger">Stop test</button>
        </form>
            
        {% endif %}
            
        {% if app.request.attributes.get('_route') == 'view_test_progress_index_index' %}
            
        <div id="test-options">
            <div class="intro">
                <p>
                    Testing                 
                    {% for task_type in task_types %}
                        <span class="selected">{{ task_type }}</span>{% if loop.length > 1 %}{% if loop.index == loop.length - 1 %} and {% else %}{% if loop.index != loop.length %},{% else %}.{% endif %}{% endif %}{% endif %}
                    {% endfor %}

                <span class="expandable-control for-test-options-expandable expandable-control-default-closed">
                    See test options
                </span>                    
                </p>
            </div>            
            
            <div id="test-options-expandable">
                
                <div class="test-options-set">
                    <label class="radio inline {% if remote_test.type != 'Full site' %}disabled{% endif %}">
                        <input type="radio" name="full-single" value="full" {% if remote_test.type == 'Full site' %}checked{% endif %} disabled> Whole site test
                        <span class="help-block">Test your entire site by finding URLs<br /> in your sitemap and by crawling your site</span>
                    </label>        
                    <label class="radio inline {% if remote_test.type == 'Full site' %}disabled{% endif %}">
                        <input type="radio" name="full-single" value="single" {% if remote_test.type != 'Full site' %}checked{% endif %} disabled> Single URL test
                        <span class="help-block">Test just the above URL only<br />&nbsp;</span>
                    </label>                
                </div>                
        {% include 'SimplyTestableWebClientBundle:Partials:/task-type-options/task-type-options.html.twig' %} 
                </div>
                
{% if test_options['http-authentication'] is defined %}              
    <span class="badge action-badge action-badge-http-authentication {%if test_authentication_enabled%}action-badge-enabled{% endif %}">
        <i class="icon icon-lock icon-primary"></i>
        <span class="action-badge-label">HTTP authentication <span class="authentication-enabled">{{ (test_authentication_enabled) ? 'enabled' : 'not enabled' }}</span></span>
        
        {% if remote_test.hasParameter('http-auth-username') %}
        <span class="modal-control for-authentication-options-modal">
            view                
        </span>
        {% endif %}
    </span>        
       
    {% if remote_test.hasParameter('http-auth-username') %}
    <div id="authentication-options-modal" class="modal-content modal-type-authentication-options">        
        <div class="modal-header-content">
            <h3>HTTP Authentication</h3>
            <span class="help-block modal-transform modal-transform-p">For when your site or page uses either <a href="http://en.wikipedia.org/wiki/Basic_access_authentication">basic</a> or <a href="http://en.wikipedia.org/wiki/Digest_access_authentication">digest</a> HTTP authentication. Commonly used for public staging sites. Not safe for <a href="http://blog.simplytestable.com/html-validation-for-password-protected-sites/#security">sensitive information</a>.</span>          
        </div>
        <div class="modal-body-content">            
            <div class="test-options-set" id="authentication-options">                
                <label class="checkbox-lined"><span>Username</span><input disabled name="http-auth-username" class="credential" type="text" value="{{ remote_test.parameter('http-auth-username') }}"></label>
                <label class="checkbox-lined"><span>Password</span><input disabled name="http-auth-password" class="credential" type="password" value="{% for i in 0..remote_test.parameter('http-auth-username')|length - 1 %}*{% endfor %}"></label>
            </div>              
        </div>
    </div>    
    {% endif %}
{% endif %}
                
{% if test_options['cookies'] is defined %}            
    <span class="badge action-badge action-badge-cookies-options  {%if test_cookies_enabled%}action-badge-enabled{% endif %}">
        <i class="icon icon-adjust icon-primary"></i>
        <span class="action-badge-label">Custom cookies: <span class="cookies-enabled">{{ (test_cookies_enabled) ? 'enabled' : 'not enabled' }}</span></span>
        
        {% if remote_test.hasParameter('cookies') %}
        <span class="modal-control for-cookies-options-modal">
            view
        </span>            
        {% endif %}
    </span> 
    
    {% if remote_test.hasParameter('cookies') %}
    <div id="cookies-options-modal" class="modal-content modal-type-cookie-options">
        <div class="modal-header-content">
            <h3>Custom Cookies</h3>
            <span class="help-block modal-transform modal-transform-p">For testing sites that use cookies for authentication or for user-specific content. Add any number of cookies.</span>           
        </div>
        
        <div class="test-options-set test-cookies modal-body-content">            
            <table class="table">
                <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th class="value">Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for cookie in remote_test.getParameter('cookies') %}
                    <tr>
                        <td class="name">
                            <input name="cookies[{{loop.index0}}][name]"
                                   type="text"
                                   placeholder="Cookie name"
                                   value="{{ cookie.name }}"
                                   disabled>                                
                        </td>
                        <td class="value">
                            <input name="cookies[{{loop.index0}}][value]"
                                   type="text"
                                   placeholder="Cookie value"
                                   value="{{ cookie.value }}"
                                   disabled>                                   
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>
    {% endif %}      
{% endif %}                
                
                
        </div>
            
        {% endif %}
            
        {% include 'SimplyTestableWebClientBundle:Partials/progress:completion-percent.html.twig' %}            
    </div>
</section>