{% if remote_test_summary.state == 'new-queued' %}
{% set cancel_action %}{{ path('test_cancel_queued', {website: website}) }}{% endset %}
{% else %}
{% set cancel_action %}{{ path('test_cancel', {website: website, test_id: test.testId}) }}{% endset %}
{% endif %}

<section>
    <div class="leader">                  
        <h1 class="info">
            <label for="input-website">
                <i class="icon-bar-chart"></i> Results for {{ website }}
                <span id="test-id">(#{{ test.testId }})</span>           
            </label>
        </h1>
    </div>

    <form id="test-start-form" method="post" action="{{ path('test_start') }}">
        <button type="submit" class="btn btn-primary">                    
            Re-test
            <i class="icon icon-refresh"></i>
            <span>Using selected settings</span>
        </button>        
        <input type="hidden" name="website" value="{{ website }}" />
        <div id="test-options">
            <div class="intro">
                <p><span class="task-type-selection">{% autoescape false %}{{ test_options_introduction }}{% endautoescape %}</span> <span class="expandable-control expandable-control-default-closed for-test-options-expandable">Change test options</span></p>
            </div>            
            
            <div id="test-options-expandable">
                
                <div class="test-options-set">
                    <label class="radio inline">
                        <input type="radio" name="full-single" value="full" {% if remote_test_summary.type == 'Full site' %}checked{% endif %}> Whole site test
                        <span class="help-block">Test your entire site by finding URLs<br /> in your sitemap and by crawling your site</span>
                    </label>        
                    <label class="radio inline">
                        <input type="radio" name="full-single" value="single" {% if remote_test_summary.type != 'Full site' %}checked{% endif %}> Single URL test
                        <span class="help-block">Test just the above URL only<br />&nbsp;</span>
                    </label>                
                </div>               
                
        {% include 'SimplyTestableWebClientBundle:Partials:/task-type-options/task-type-options.html.twig' %} 
                </div>
        </div>            
    </form>
        
    <div class="row-fluid" id="summary-stats">
        <div class="span2 summary-container summary-figure {% if test.errorCount > 0 %}error-container{% else %}success-container{% endif %}">
            {% if test.errorCount > 0 %}
                <a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=with-errors#test-list"><span class="count">{{ test.errorCount }}</span> <span class="stat-label">error{% if test.errorCount != 1 %}s{% endif %}</span><i class="icon icon-caret-down"></i></a>
            {% else %}
                <span class="anchor"><span class="count">{{ test.errorCount }}</span> <span class="stat-label">error{% if test.errorCount != 1 %}s{% endif %}</span><i class="icon icon-ok"></i></span>
            {% endif %}
            
        </div>            
        <div class="span2 summary-container summary-figure {% if test.warningCount > 0 %}warning-container{% else %}success-container{% endif %}">
            {% if test.warningCount > 0 %}
                <a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=with-warnings#test-list"><span class="count">{{ test.warningCount }}</span> <span class="stat-label">warning{% if test.warningCount != 1 %}s{% endif %}</span><i class="icon icon-caret-down"></i></a>
            {% else %}
                <span class="anchor"><span class="count">{{ test.warningCount }}</span> <span class="stat-label">warning{% if test.warningCount != 1 %}s{% endif %}</span><i class="icon icon-ok"></i></span>
            {% endif %}
        </div>      
       
        <div class="span2 summary-container summary-figure success-container">
            <a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=without-errors#test-list"><span class="count">{{ error_free_task_count }}</span> <span class="stat-label">test{% if error_free_task_count != 1 %}s{% endif %} without errors</span><i class="icon icon-caret-down"></i></a>
        </div>           
        <div class="span6 summary-container summary-prose">
            {% if test.errorCount > 0 %}
                <ul>
                {% for task_type in task_types %}
                    {% set task_error_count = test.getErrorCountByTaskType(task_type | replace({'JavaScript static analysis': "JS static analysis"})) %}
                        
                    {% if (task_type | lower == type) %}
                        <li>
                            {{ task_error_count }} {{ task_type }} error{% if task_error_count != 1 %}s{% endif %}
                            {% if (task_error_count == 0) %}
                            <i class="icon icon-ok"></i>
                            {% endif %}
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter={{ filter }}&type={{ task_type | lower }}">
                                {{ task_error_count }} {{ task_type }} error{% if task_error_count != 1 %}s{% endif %}
                                {% if (task_error_count == 0) %}
                                <i class="icon icon-ok"></i>
                                {% endif %}                                
                            </a>
                        </li>
                    {% endif %}                       
                    
                {% endfor %}                    
                </ul>
            {% endif %}
        </div>  
        
    </div>


</section>