{% if remote_test_summary.state == 'new-queued' %}
{% set cancel_action %}{{ path('test_cancel_queued', {website: website}) }}{% endset %}
{% else %}
{% set cancel_action %}{{ path('test_cancel', {website: website, test_id: test.testId}) }}{% endset %}
{% endif %}

<section>
    <div id="input" class="leader">                  
        <h1 class="info">
            <label for="input-website">
                <i id="completion-percent-state-icon" class="{{ state_icon }}"></i> Testing {{ website }}
                {% if remote_test_summary.state != 'new-queued' %}
                <span id="test-id">(#{{ test.testId }})</span>           
                {% endif %}
            </label>
        </h1>    

        <form id="cancel-form" class="top-right-form" method="post" action="{{ cancel_action }}">
            <button type="submit" class="btn btn-danger">Stop test</button>
        </form>
            
        {% if app.request.attributes.get('_route') == 'app_progress' %}   
            
        <div id="test-options">
            <div class="intro">
                <p>
                    Testing                 
                    {% for task_type in task_types %}
                        <span class="selected">{{ task_type }}</span>{% if loop.length > 1 %}{% if loop.index == loop.length - 1 %} and {% else %}{% if loop.index != loop.length %},{% else %}.{% endif %}{% endif %}{% endif %}
                    {% endfor %}

                <span class="expandable-control{% if remote_test_summary.task_type_options|length == 0 %}-disabled{% endif %} for-test-options-expandable expandable-control-default-closed">
                    See test options
                </span>                    
                </p>
            </div>            
            
            <div id="test-options-expandable">
                
                <div class="test-options-set">
                    <label class="radio inline {% if remote_test_summary.type != 'Full site' %}disabled{% endif %}">
                        <input type="radio" name="full-single" value="full" {% if remote_test_summary.type == 'Full site' %}checked{% endif %} disabled> Whole site test
                        <span class="help-block">Test your entire site by finding URLs<br /> in your sitemap and by crawling your site</span>
                    </label>        
                    <label class="radio inline {% if remote_test_summary.type == 'Full site' %}disabled{% endif %}">
                        <input type="radio" name="full-single" value="single" {% if remote_test_summary.type != 'Full site' %}checked{% endif %} disabled> Single URL test
                        <span class="help-block">Test just the above URL only<br />&nbsp;</span>
                    </label>                
                </div>                
        {% include 'SimplyTestableWebClientBundle:Partials:test-input-task-type-options.html.twig' %} 
                </div>
        </div>
            
        {% endif %}
            
        {% include 'SimplyTestableWebClientBundle:Partials/progress:completion-percent.html.twig' %}            
    </div>
</section>