{% if remote_test_summary.state == 'new-queued' %}
{% set cancel_action %}{{ path('test_cancel_queued', {website: website}) }}{% endset %}
{% else %}
{% set cancel_action %}{{ path('test_cancel', {website: website, test_id: test.testId}) }}{% endset %}
{% endif %}

<section>
    <div class="leader">                  
        <h1 class="info">
            <label for="input-website">
                <i class="icon-bar-chart"></i> Results for {{ website }}
                <span id="test-id">(#{{ test.testId }})</span>           
            </label>
        </h1>
    </div>

    <form id="test-start-form" method="post" action="{{ path('test_start') }}">
        <button type="submit" class="btn btn-primary">                    
            Re-test
            <i class="icon icon-refresh"></i>
            <span>Using selected settings</span>
        </button>        
        <input type="hidden" name="website" value="{{ website }}" />
        <div id="test-options">
            <div class="intro">
                <p><span class="task-type-selection">{% autoescape false %}{{ test_options_introduction }}{% endautoescape %}</span> <span class="expandable-control expandable-control-default-closed for-test-options-expandable">Change test options</span></p>
            </div>            
            
            <div id="test-options-expandable">
                
                <div class="test-options-set">
                    <label class="radio inline">
                        <input type="radio" name="full-single" value="full" {% if remote_test_summary.type == 'Full site' %}checked{% endif %}> Whole site test
                        <span class="help-block">Test your entire site by finding URLs<br /> in your sitemap and by crawling your site</span>
                    </label>        
                    <label class="radio inline">
                        <input type="radio" name="full-single" value="single" {% if remote_test_summary.type != 'Full site' %}checked{% endif %}> Single URL test
                        <span class="help-block">Test just the above URL only<br />&nbsp;</span>
                    </label>                
                </div>               
                
        {% include 'SimplyTestableWebClientBundle:Partials:test-input-task-type-options.html.twig' %} 
                </div>
        </div>            
    </form>


</section>