<section>
    <div class="leader">                  
        <h1 class="info">
            <label for="input-website">
                <i class="icon-bar-chart"></i> Results for {{ website }}
                <span id="test-id">(#{{ test.testId }})</span>           
            </label>
        </h1>
    </div>

    <form id="test-start-form" method="post" action="{{ path('test_start') }}">
        {% if is_owner or is_public_user_test %}        
        <button type="submit" class="btn btn-primary">                    
            Re-test
            <i class="icon icon-refresh"></i>
            <span>Using selected settings</span>
        </button>
        {% endif %}
        <input type="hidden" name="website" value="{{ website }}" />
        <div id="test-options">
            <div class="intro">
                <p>
                    <span class="task-type-selection">{% autoescape false %}{{ test_options_introduction }}{% endautoescape %}</span> <span class="expandable-control expandable-control-default-closed for-test-options-expandable">
                        {% if is_owner or is_public_user_test %}Change{% else %}View{% endif %} test options                        
                    </span>
                </p>
            </div>            
            
            <div id="test-options-expandable">
                
                <div class="test-options-set">
                    <label class="radio inline">
                        <input type="radio" name="full-single" value="full" {% if remote_test.type == 'Full site' %}checked{% endif %}> Whole site test
                        <span class="help-block">Test your entire site by finding URLs<br /> in your sitemap and by crawling your site</span>
                    </label>        
                    <label class="radio inline">
                        <input type="radio" name="full-single" value="single" {% if remote_test.type != 'Full site' %}checked{% endif %}> Single URL test
                        <span class="help-block">Test just the above URL only<br />&nbsp;</span>
                    </label>                
                </div>               
                
        {% include 'SimplyTestableWebClientBundle:Partials:/task-type-options/task-type-options.html.twig' %} 
                </div>
        </div>            
    </form>
        
    {% if is_owner and is_public_user_test == false %}
        {% if is_public %}
    <form id="lock-unlock" action="{{ path('app_test_lock', { 'website': test.website, 'test_id': test.testId }) }}">
        <p>
            This test is unlocked and can be viewed by anyone. <button type="submit" class="btn btn-mini"><i class="icon icon-lock"></i> Lock</button>
        </p>
    </form>         
        {% else %}
    <form id="lock-unlock" action="{{ path('app_test_unlock', { 'website': test.website, 'test_id': test.testId }) }}">
        <p>
            This test is locked and can be viewed
            only by you. <button type="submit" class="btn btn-mini"><i class="icon icon-unlock"></i> Unlock</button>
        </p>
    </form>         
        {% endif %}
    {% endif %}
       


        
    <div class="row-fluid summary-stats">
        {% include 'SimplyTestableWebClientBundle:Partials:/results/error-count.html.twig' %}
        {% include 'SimplyTestableWebClientBundle:Partials:/results/warning-count.html.twig' %}
        {% include 'SimplyTestableWebClientBundle:Partials:/results/error-free-task-count.html.twig' %}          
        {% include 'SimplyTestableWebClientBundle:Partials:/results/errors-by-task-type.html.twig' %}                  
    </div>


</section>