<section>
    <div class="leader">                  
        <h1 class="info">
            <label for="input-website">
                <i class="icon-bar-chart"></i> Results for <span id="test-url" title="{{website.raw}}">{% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-raw-possibly-truncated-50.html.twig' with {'url': website} %}</span>
                <span id="test-id">(#{{ test.testId }})</span>           
            </label>
        </h1>
    </div>

    <form id="test-start-form" method="post" action="{{ path('test_start') }}">
        {% if is_owner or is_public_user_test %}        
        <button type="submit" class="btn btn-primary" id="retest-button">                    
            Re-test
            <i class="icon icon-refresh"></i>
            <span>Using selected settings</span>
        </button>
        {% endif %}
        <input type="hidden" name="website" value="{{ test.website }}" />
        <div id="test-options">
            <div class="intro">
                <p>
                    <span class="task-type-selection">{% autoescape false %}{{ test_options_introduction }}{% endautoescape %}</span> <span class="expandable-control expandable-control-default-closed for-test-options-expandable">
                        {% if is_owner or is_public_user_test %}Change{% else %}View{% endif %} test options                        
                    </span>
                </p>
            </div>            
            
            <div id="test-options-expandable">
                
                <div class="test-options-set">
                    <label class="radio inline">
                        <input type="radio" name="full-single" value="full" {% if remote_test.type == 'Full site' %}checked{% endif %}> Whole site test
                        <span class="help-block">Test your entire site by finding URLs<br /> in your sitemap and by crawling your site</span>
                    </label>        
                    <label class="radio inline">
                        <input type="radio" name="full-single" value="single" {% if remote_test.type != 'Full site' %}checked{% endif %}> Single URL test
                        <span class="help-block">Test just the above URL only<br />&nbsp;</span>
                    </label>                
                </div>               
                
        {% include 'SimplyTestableWebClientBundle:Partials:/task-type-options/task-type-options.html.twig' %} 
                </div>
                
{% if test_options['http-authentication'] is defined %}                            
    <span class="badge action-badge action-badge-http-authentication {%if test_authentication_enabled%}action-badge-enabled{% endif %}">
        <i class="icon icon-lock icon-primary"></i>
        <span class="action-badge-label">HTTP authentication <span class="authentication-enabled">{{ (test_authentication_enabled) ? 'enabled' : 'not enabled' }}</span></span>        

        <span class="modal-control for-authentication-options-modal">
            change                
        </span>
    </span>

    <div id="authentication-options-modal" class="modal-content modal-type-authentication-options">        
        <div class="modal-header-content">
            <h3>HTTP Authentication</h3>
            <span class="help-block modal-transform modal-transform-p">For when your site or page uses either <a href="http://en.wikipedia.org/wiki/Basic_access_authentication">basic</a> or <a href="http://en.wikipedia.org/wiki/Digest_access_authentication">digest</a> HTTP authentication. Commonly used for public staging sites. Not safe for <a href="http://blog.simplytestable.com/html-validation-for-password-protected-sites/#security">sensitive information</a>.</span>          
        </div>
        <div class="modal-body-content">            
            <div class="test-options-set" id="authentication-options">                
            <label class="checkbox-lined"><span>Username</span><input name="http-auth-username" class="credential" type="text" placeholder="Enter required username" {% if remote_test.hasParameter('http-auth-username') and remote_test.parameter('http-auth-username') !='' %}value="{{ remote_test.parameter('http-auth-username') }}"{% endif %}></label>
            <label class="checkbox-lined"><span>Password</span><input name="http-auth-password" class="credential" type="text" placeholder="Enter required password" {% if remote_test.hasParameter('http-auth-password') and remote_test.parameter('http-auth-password') !='' %}value="{{ remote_test.parameter('http-auth-password') }}"{% endif %}></label>
            </div>              
        </div>
        <div class="modal-footer-content">
            <button id="clear-http-authentication-button" class="btn" data-dismiss="modal" aria-hidden="true">Clear</button>
        </div>                  
    </div>
{% endif %}
                
                
{% if test_options['cookies'] is defined %}        
    <span class="badge action-badge action-badge-cookies-options {%if test_cookies_enabled%}action-badge-enabled{% endif %}">
        <i class="icon icon-adjust icon-primary"></i>
        <span class="action-badge-label">Custom cookies: <span class="cookies-enabled">{{ (test_cookies_enabled) ? 'enabled' : 'not enabled' }}</span></span>        

        <span class="modal-control for-cookies-options-modal">
            change
        </span>            
    </span> 
    

    <div id="cookies-options-modal" class="modal-content modal-type-cookie-options">
        <div class="modal-header-content">
            <h3>Custom Cookies</h3>
            <span class="help-block modal-transform modal-transform-p">For testing sites that use cookies for authentication or for user-specific content. Add any number of cookies.</span>           
        </div>
        
        <div class="test-options-set test-cookies modal-body-content">            
            <table class="table">
                <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th class="value">Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for cookie in test_cookies %}
                    <tr>
                        <td class="name">
                            <input name="cookies[{{loop.index0}}][name]"
                                   type="text"
                                   placeholder="Cookie name"
                                   value="{{ cookie.name }}">                                
                        </td>
                        <td class="value">
                            <input name="cookies[{{loop.index0}}][value]"
                                   type="text"
                                   placeholder="Cookie value"
                                   value="{{ cookie.value }}">
                        </td>
                        <td class="remove">                                
                        </td>                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                
            <button type="submit" class="btn btn-small add-cookie" name="add-cookie" value="1"><i class="icon icon-plus"></i> Add another cookie</button>                
        </div>        
    </div>       
{% endif %}                
                
                
                
        </div>            
    </form>
        
    {% if is_owner and is_public_user_test == false %}
        {% if is_public %}
    <form id="lock-unlock" action="{{ path('app_test_lock', { 'website': test.website, 'test_id': test.testId }) }}">
        <p>
            This test is unlocked and can be viewed by anyone. <button type="submit" class="btn btn-mini"><i class="icon icon-lock"></i> Lock</button>
        </p>
    </form>         
        {% else %}
    <form id="lock-unlock" action="{{ path('app_test_unlock', { 'website': test.website, 'test_id': test.testId }) }}">
        <p>
            This test is locked and can be viewed
            only by you. <button type="submit" class="btn btn-mini"><i class="icon icon-unlock"></i> Unlock</button>
        </p>
    </form>         
        {% endif %}
    {% endif %}    
    
    <div class="history {% if is_owner %}history-with-owner{% endif %}">
        <a href="{{ path('app_history_all', {'filter': test.website}) }}">{{ domain_test_count }} test{% if domain_test_count != 1%}s{% endif %} for this URL <i class="icon icon-caret-right"></i></a>
    </div>
        
    <div class="row-fluid summary-stats">
        {% include 'SimplyTestableWebClientBundle:Partials:/results/error-count.html.twig' %}
        {% include 'SimplyTestableWebClientBundle:Partials:/results/warning-count.html.twig' %}
        {% include 'SimplyTestableWebClientBundle:Partials:/results/error-free-task-count.html.twig' %}          
        {% include 'SimplyTestableWebClientBundle:Partials:/results/errors-by-task-type.html.twig' %}                  
    </div>


</section>