<div class="navbar navbar-inverse navbar-fixed-top">    
    <div class="navbar-inner">

        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <a class="brand" href="{{ public_site['urls']['home'] }}">
                        SimplyTestable
                    </a>
                    {% if is_logged_in %}
                    <div class="pull-right">                        
                        <form class="form-inline sign-out-form" method="post" action="{{ path('sign_out_submit') }}">
                            <p class="navbar-text">                                
                                <a href="{{ path('user_account_index') }}" class="navbar-link navbar-user-link {% if app.request.get('_route') == 'user_account_index' %}active{% endif %}">
                                    <i class="icon icon-user"></i>
                                    {{ user.username }}
                                </a>
                                <button class="btn btn-small btn-primary" type="submit">
                                    Sign out
                                    <i class="icon icon-caret-right"></i>
                                </button>
                            </p>                        
                        </form>                              
                    </div> 

                    {% else %}                        
                    <p class="navbar-text pull-right">
                        <a href="{{ path('user_view_signin_index') }}" class="btn btn-small "><i class="icon icon-caret-right"></i> Sign in</a>                        
                        <a href="{{ path('user_view_signup') }}" class="btn btn-small"><i class="icon icon-user"></i> Create account</a>                        
                    </p>                    
                    {% endif %}

                    <ul class="nav pull-right">                        
                        <li class="{% if app.request.get('_route') == 'app' %}active{% endif %}">                            
                            <a href="{{ path('app') }}">
                                <i class="icon icon-dashboard"></i>                                
                                {% if is_logged_in %}
                                Dashboard
                                {% else %}
                                Demo dashboard (try me)
                                {% endif %}
                            </a>
                        </li>
                        {% if is_logged_in %}
                        {% else %}
                        <li>                            
                            <a href="{{ public_site['urls']['home'] }}{{ public_site['urls']['features'] }}">
                                <i class="icon icon-signal"></i>
                                Features
                            </a>
                        </li>           
                        <li>                            
                            <a href="{{ public_site['urls']['home'] }}{{ public_site['urls']['plans_and_pricing'] }}">
                                <i class="icon icon-calendar"></i>
                                Pricing and plans
                            </a>
                        </li> 
                        {% endif %}                        

                    </ul>                    
                     
                </div>
            </div>
        </div>

    </div>
</div>