<a class="url" href="{{ test['website'] }}">{{ test['website_label'] }}</a>
<div class="results">
    <a href="{{ path('app_test_redirector', {'website': test['website'], 'test_id':test['id']}) }}">
        <span class="badge badge-{{ test['state_label_class'] }}">
            <i class="icon state-icon {{ test['state_icon'] }}"></i>  #{{ test['id'] }} <i class="icon action-icon icon-caret-right"></i>
        </span>
    </a>
</div>

{% if test.state == 'crawling' %}
<div class="row-fluid meta">
    <div class="span4 total">
        <span class="test-count">{{ test.crawl.processed_url_count }}</span><span class="subtext">URLs checked</span>
    </div>
    <div class="span4 total">
        <span class="test-count">{{ test.crawl.discovered_url_count }}</span><span class="subtext">URLs found</span>
    </div>
    <div class="span4 detail">        
        <div>
            {% if test.crawl.state == 'completed' or test.crawl.state == 'cancelled' %}
                <span class="caption">crawled</span>
            {% else %}
                <span class="caption">crawling &hellip;</span>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="row-fluid meta">
    <div class="span4 total">
        <span class="test-count">{{ test['task_count'] }}</span><span class="subtext">tests overall</span>
    </div>
    <div class="span4 total">
        <span class="test-count">{{ test['completion_percent'] }}<span class="percent">%</span></span>
        <span class="subtext">finished</span>
    </div>
    <div class="span4 detail">
        <div>
            <span class="queued-count figure">{{ test['task_count_by_state']['queued'] + test['task_count_by_state']['queued-for-assignment'] }}</span>
            <span class="caption">queued</span>
        </div>
        <div>
            <span class="in-progress-count figure">{{ test['task_count_by_state']['in-progress'] }}</span>
            <span class="caption">in progress</span>
        </div>
        <div>
            <span class="finished-count figure">{{ test['task_count_by_state']['cancelled'] + test['task_count_by_state']['completed'] + test['task_count_by_state']['awaiting-cancellation'] + test['task_count_by_state']['failed-no-retry-available'] + test['task_count_by_state']['failed-retry-available'] + test['task_count_by_state']['failed-retry-limit-reached'] + test['task_count_by_state']['skipped'] }}</span>
            <span class="caption">finished</span>
        </div>
    </div>
</div>
{% endif %}
