<table class="test-states">
    <tbody>
        {% if app.request.attributes.get('_route') == 'app_progress' %}
        <tr class="queued">
            <th><span class="label label-warning">Queued</span></th>
            <td class="bar"><span class="label label-warning" style="width:{% if taskCountByState.queued == 0 %} 1{% else %} {{ (taskCountByState.queued / test.taskCount) * 100}}{% endif %}%;">{{ taskCountByState.queued }}</span></td>
        </tr>
        <tr class="in-progress">
            <th><span class="label label-info">In Progress</span></th>
            <td class="bar"><span class="label label-info" style="width:{% if taskCountByState['in-progress'] == 0 %} 1{% else %} {{ (taskCountByState['in-progress'] / test.taskCount) * 100}}{% endif %}%;">{{ taskCountByState['in-progress'] }}</span></td>
        </tr>        
        <tr class="completed">                
            <th><span class="label label-success">Completed</span></th>
            <td class="bar"><span class="label label-success" style="width:{% if taskCountByState.completed == 0 %} 1{% else %} {{ (taskCountByState.completed / test.taskCount) * 100}}{% endif %}%;">{{ taskCountByState.completed }}</span></td>
        </tr>
        {% endif %}
        
        {% if app.request.attributes.get('_route') == 'app_results' %}
        <tr class="without-errors">                
            <th><span class="label label-success">Tests without errors</span></th>
            <td class="bar"><span class="label label-success" style="width:{% if test.taskCount - taskCountByState.cancelled - erroredTaskCount == 0 %} 1{% else %} {{ ((test.taskCount - taskCountByState.cancelled - erroredTaskCount) / test.taskCount) * 100}}{% endif %}%;">{{ test.taskCount - erroredTaskCount - taskCountByState.cancelled }}</span></td>
        </tr>
        <tr class="cancelled">                
            <th><span class="label">Cancelled</span></th>
            <td class="bar"><span class="label" style="width:{% if taskCountByState.cancelled == 0 %} 1{% else %} {{ (taskCountByState.cancelled / test.taskCount) * 100}}{% endif %}%;">{{ taskCountByState.cancelled }}</span></td>
        </tr>               
        <tr class="with-errrors">                
            <th><span class="label label-important">Tests with errors</span></th>
            <td class="bar"><span class="label label-important" style="width:{% if erroredTaskCount == 0 %} 1{% else %} {{ (erroredTaskCount / test.taskCount) * 100}}{% endif %}%;">{{ erroredTaskCount }}</span></td>
        </tr>        
        {% endif %}
    </tbody>
</table>  