{% if is_public_user_test %}
    {% if is_logged_in %}
    This <strong>free demo</strong> has been limited to only the first <strong>{{remote_test.ammendments[0].constraint.limit}}</strong>
    URLs of the <strong>{{ remote_test.ammendments[0].reason|replace({'plan-url-limit-reached:discovered-url-count-': ''}) }}</strong> that were discovered.
    Start a new test or <a href="{{ path('view_user_account_index_index') }}">upgrade your plan</a> to allow larger sites to be tested.
    {% else %}
    This <strong>free demo</strong> has been limited to only the first <strong>{{remote_test.ammendments[0].constraint.limit}}</strong>
    URLs of the <strong>{{ remote_test.ammendments[0].reason|replace({'plan-url-limit-reached:discovered-url-count-': ''}) }}</strong> that were discovered.
    <a href="{{ path('view_user_signup_index_index') }}">Create an account</a> or <a href="{{ path('view_user_signin_index') }}">sign in</a> to start a new test without this limit.
    {% endif %}
{% else %}
    {% if is_logged_in %}
    This test has been limited to only the first <strong>{{remote_test.ammendments[0].constraint.limit}}</strong>
    URLs of the <strong>{{ remote_test.ammendments[0].reason|replace({'plan-url-limit-reached:discovered-url-count-': ''}) }}</strong> that were discovered.
    Start a new test or <a href="{{ path('view_user_account_index_index') }}">upgrade your plan</a> to allow larger sites to be tested.
    {% else %}
    This test has been limited to only the first <strong>{{remote_test.ammendments[0].constraint.limit}}</strong>
    URLs of the <strong>{{ remote_test.ammendments[0].reason|replace({'plan-url-limit-reached:discovered-url-count-': ''}) }}</strong> that were discovered.
    <a href="{{ path('view_user_signup_index_index') }}">Create an account</a> or <a href="{{ path('view_user_signin_index') }}">sign in</a> to start a new test without this limit.
    {% endif %}    
{% endif %}