<section>
<div id="input" class="leader">            
    <form method="post" action="{{ test_input_action_url }}">                
        <h1 class="info">
            <label for="input-website">
                {% if test is defined %}
                    {% if test.state == 'new'  %}
                    <i class="icon-cog"></i> Testing {{ test.website }}
                    {% elseif test.state == 'queued'  %}
                    <i class="icon-cog"></i> Testing {{ test.website }} 
                    {% elseif test.state == 'preparing' or test.state == 'in-progress' %}
                    <i class="icon-cog"></i> Testing {{ test.website }}
                    {% elseif test.state == 'completed' or test.state == 'cancelled' or test.state == 'no-sitemap' %}
                    <i class="icon-bar-chart"></i> Results for {{ test.website }}
                    {% endif %} 
                    <span id="test-id">(#{{ test.testId }})</span>
                {% else %}
                    <i class="icon-play-circle"></i> Start new website test
                {% endif %}               
            </label>
        </h1>
            
        {% if test_start_error is defined and test_start_error != '' %}
            {% if test_start_error == 'website-blank' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter a website URL if we're going to get anything done here.
        </div>            
            {% endif %}            
            
            {% if test_start_error == 'website-blocked' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Ouch!</strong></p>
            <p><strong>{{ website }}</strong>  is too large for me to test just yet. I'm still new. Do you have a website you made that you'd like to test?</p>
        </div>            
            {% endif %}
            
            {% if test_start_error == 'no-test-types-selected' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Slow down!</strong></p>
            <p>
                You'll need to choose something to test - tick <strong>HTML validation</strong> and <strong>CSS validation</strong> as required.
            </p>
        </div>            
            {% endif %}            
        {% endif %}             

        <div class="fields input-append larger">                    
            <input name="website" id="input-website" type="text" placeholder="Enter website homepage URL &hellip;" {% if test is defined %} {% if test.state != 'completed' and test.state != 'cancelled' and test.state != 'no-sitemap' %} disabled {% endif %} value="{{ test.website }}" {% endif %} {% if website is defined %} value="{{ website }}" {% endif %}>            
            {% if test is defined %}
                {% if test.state == 'completed' or test.state == 'cancelled' %}
                <button type="submit" class="btn btn-primary btn-large">Run test again<i class="icon-repeat icon-large"></i></button>
                {% elseif test.state == 'no-sitemap' %}
                <button type="submit" class="btn btn-primary btn-large">Try again<i class="icon-repeat icon-large"></i></button>
                {% else %}
                <button type="submit" class="btn btn-primary btn-large btn-danger">Cancel test <i class="icon-warning-sign icon-large"></i></button>
                {% endif %}            
            {% else %}
            <button type="submit" class="btn btn-primary btn-large">Start new test <i class="icon-play icon-large"></i></button>                        
            {% endif %}
        </div>
            
        {% if app.request.attributes.get('_route') == 'app' %}
        <div id="test-options">
            <p class="info"><i class="icon-wrench"></i> What do you want to check?</p>
            <div class="test-options-set" id="html-validation-options">
                <label class="checkbox">
                  <input type="checkbox" value="1" name="html-validation" {% if (html_validation_selected == 1) %} checked {% endif %} /> HTML validation
                  <span class="help-block">Examine whether the HTML markup for all your pages is valid</span>
                </label>                
            </div>
                
            <div class="test-options-set" id="css-validation-options">
                <label class="checkbox">
                  <input type="checkbox" value="1" name="css-validation" {% if (css_validation_selected == 1) %} checked {% endif %} /> CSS validation
                  <span class="help-block">Check CSS rules defined in linked stylesheets and inline</span>
                </label>
            </div>                
            
            <div class="test-options-set" id="js-static-analysis-validation-options">
                <label class="checkbox">
                  <input type="checkbox" value="1" name="js-static-analysis" {% if (js_static_analysis_selected == 1) %} checked {% endif %} /> JavaScript static analysis
                  <span class="help-block">Analyse the quality of your JavaScript with <a href="http://www.jslint.com/lint.html">JSLint</a></span>
                </label>
            </div>             
        </div>
        {% elseif app.request.attributes.get('_route') == 'app_progress' %}
        <div id="test-options">
            <p>
                <i class="icon-caret-right"></i>
                Checking          
            {% if 'HTML validation' in task_types and 'CSS validation' in task_types %}
                <span class="test-type">HTML validation</span> and <span class="test-type">CSS validation</span>
            {% elseif 'HTML validation' in task_types %}
                <span class="test-type">HTML validation</span>
            {% elseif 'CSS validation' in task_types %}
                <span class="test-type">CSS validation</span>
            {% endif %}                
            </p>
        </div>
        {% elseif app.request.attributes.get('_route') == 'app_results' %}
        <div id="test-options">
            <p>
                <i class="icon-caret-right"></i>
                Re-check        
            {% if 'HTML validation' in task_types and 'CSS validation' in task_types %}
                <label class="test-type"><input type="checkbox" value="1" name="html-validation" checked /> HTML validation</label> and <label class="test-type"><input type="checkbox" value="1" name="css-validation" checked /> CSS validation</label>
            {% elseif 'HTML validation' in task_types %}
                <label class="test-type"><input type="checkbox" value="1" name="html-validation" checked /> HTML validation</label> and <label class="test-type"><input type="checkbox" value="1" name="css-validation" /> CSS validation</label>
            {% elseif 'CSS validation' in task_types %}
                <label class="test-type"><input type="checkbox" value="1" name="html-validation" /> HTML validation</label> and <label class="test-type"><input type="checkbox" value="1" name="css-validation" checked /> CSS validation</label>
            {% endif %}                
            </p>
        </div>            
        {% endif %}
            
    </form>
</div>
</section>