<section>
<div id="input" class="leader">                  
    <form method="post" action="{{ test_input_action_url }}">                
        <h1 class="info">
            <label for="input-website">
                {% if test is defined %}
                    <i class="icon-bar-chart"></i> Results for 
                    {{ website }} <span id="test-id">(#{{ test.testId }})</span>
                {% else %}
                    {% if app.request.attributes.get('_route') == 'app_queued' %}
                        <i class="icon-cog"></i> Testing 
                    {% else %}                
                        <i class="icon-play-circle"></i> Start new website test
                    {% endif %}                                        
                {% endif %}               
            </label>
        </h1>           
            
        {% if test_start_error is defined and test_start_error != '' %}
            {% if test_start_error == 'website-blank' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter a website URL if we're going to get anything done here.
        </div>            
            {% endif %}            
            
            {% if test_start_error == 'website-blocked' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Ouch!</strong></p>
            <p><strong>{{ website }}</strong>  is too large for me to test just yet. I'm still new. Do you have a website you made that you'd like to test?</p>
        </div>            
            {% endif %}
            
            {% if test_start_error == 'no-test-types-selected' %}
            {% if 'js-static-analysis' in available_task_types|keys %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Slow down!</strong></p>
            <p>
                You'll need to choose something to test. Tick <strong>HTML validation</strong>,
                <strong>CSS validation</strong> or <strong>JavaScript static analysis</strong>
                as required.
            </p>            
        </div>             
            {% else %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Slow down!</strong></p>
            <p>
                You'll need to choose something to test. Tick <strong>HTML validation</strong>
                or <strong>CSS validation</strong> as required.
            </p>            
        </div>            
            {% endif %}
            
            
            {% endif %}            
        {% endif %}          

        <div class="fields input-prepend input-append larger">                    
            <input name="website" id="input-website" type="text" placeholder="Enter website URL &hellip;" {% if app.request.attributes.get('_route') == 'app_queued' %}disabled{% endif %} {% if test is defined %} {% if test.state != 'completed' and test.state != 'cancelled' and test.state != 'failed-no-sitemap' %} disabled {% endif %} {% endif %} {% if website is defined %} value="{{ website }}" {% endif %}>            
            {% if test is defined %}
            <button type="submit" class="btn btn-primary btn-large" name="full-single" value="full">Test full site</button>
            <button type="submit" class="btn btn-large" name="full-single" value="single">Test this URL only</button>          
            {% else %}
            <button type="submit" class="btn btn-primary btn-large" name="full-single" value="full">Test full site</button>
            <button type="submit" class="btn btn-large" name="full-single" value="single">Test this URL only</button>
            <i class="icon-play icon-large"></i>
            {% endif %}
        </div>           
            
        {% if app.request.attributes.get('_route') == 'app' %}
        {% include 'SimplyTestableWebClientBundle:Partials:test-input-task-type-options.html.twig' %} 
        {% endif %}
            
    </form>
</div>
</section>