<section>
<div id="input" class="leader">            
    <form method="post" action="{{ test_input_action_url }}">                
        <h1 class="info">
            <label for="input-website">
                {% if test is defined %}
                    {% if test.state == 'new'  %}
                    <i class="icon-cog"></i> Testing {{ test.website }}
                    {% elseif test.state == 'queued'  %}
                    <i class="icon-cog"></i> Testing {{ test.website }} 
                    {% elseif test.state == 'preparing' or test.state == 'in-progress' %}
                    <i class="icon-cog"></i> Testing {{ test.website }}
                    {% elseif test.state == 'completed' or test.state == 'cancelled' or test.state == 'no-sitemap' %}
                    <i class="icon-bar-chart"></i> Results for {{ test.website }}
                    {% endif %} 
                    <span id="test-id">(#{{ test.testId }})</span>
                {% else %}
                    <i class="icon-play-circle"></i> Start new website test
                {% endif %}               
            </label>
        </h1>
            
        {% if test_start_error is defined and test_start_error != '' %}
            {% if test_start_error == 'website-blank' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter a website URL if we're going to get anything done here.
        </div>            
            {% endif %}            
            
            {% if test_start_error == 'website-blocked' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Ouch!</strong></p>
            <p><strong>{{ website }}</strong>  is too large for me to test just yet. I'm still new. Do you have a website you made that you'd like to test?</p>
        </div>            
            {% endif %}
            
            {% if test_start_error == 'no-test-types-selected' %}
            {% if 'js-static-analysis' in available_task_types|keys %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Slow down!</strong></p>
            <p>
                You'll need to choose something to test. Tick <strong>HTML validation</strong>,
                <strong>CSS validation</strong> or <strong>JavaScript static analysis</strong>
                as required.
            </p>            
        </div>             
            {% else %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Slow down!</strong></p>
            <p>
                You'll need to choose something to test. Tick <strong>HTML validation</strong>
                or <strong>CSS validation</strong> as required.
            </p>            
        </div>            
            {% endif %}
            
            
            {% endif %}            
        {% endif %}             

        <div class="fields input-append larger">                    
            <input name="website" id="input-website" type="text" placeholder="Enter website homepage URL &hellip;" {% if test is defined %} {% if test.state != 'completed' and test.state != 'cancelled' and test.state != 'no-sitemap' %} disabled {% endif %} value="{{ test.website }}" {% endif %} {% if website is defined %} value="{{ website }}" {% endif %}>            
            {% if test is defined %}
                {% if test.state == 'completed' or test.state == 'cancelled' %}
                <button type="submit" class="btn btn-primary btn-large">Run test again<i class="icon-repeat icon-large"></i></button>
                {% elseif test.state == 'no-sitemap' %}
                <button type="submit" class="btn btn-primary btn-large">Try again<i class="icon-repeat icon-large"></i></button>
                {% else %}
                <button type="submit" class="btn btn-primary btn-large btn-danger">Cancel test <i class="icon-warning-sign icon-large"></i></button>
                {% endif %}            
            {% else %}
            <button type="submit" class="btn btn-primary btn-large">Start new test <i class="icon-play icon-large"></i></button>                        
            {% endif %}
        </div>
            
        {% if app.request.attributes.get('_route') == 'app' %}
        <div id="test-options">
            <p class="info"><i class="icon-wrench"></i> What do you want to check?</p>
            
            {% if 'html-validation' in available_task_types|keys %}
            
            <div class="test-options-set" id="html-validation-options">
                <label class="checkbox">
                  <input type="checkbox" value="1" name="html-validation" {% if (validation_options['html-validation'] == 1) %} checked {% endif %} /> HTML validation
                  <span class="help-block">Examine whether the HTML markup for all your pages is valid</span>
                </label>                
            </div>
            
            {% endif %}
            
            {% if 'css-validation' in available_task_types|keys %}
                
            <div class="test-options-set" id="css-validation-options">
                <label class="checkbox">
                  <input type="checkbox" value="1" name="css-validation" {% if (validation_options['css-validation'] == 1) %} checked {% endif %} /> CSS validation
                  <span class="help-block">Check CSS rules defined in linked stylesheets and inline</span>
                </label>
                    
                <div class="expandable test-options-advanced">
                    <div class="control">Advanced CSS validation options</div>
                    <div class="expanding">
                        <div class="row-fluid">                            
                            <div class="span3 css-validator-option-set validator-option-set css-general">
                                <p>General:</p>
                                <label class="checkbox">
                                    <input type="checkbox" value="1" name="css-validation-ignore-warnings" {% if (validation_options['css-validation-ignore-warnings'] == 1) %} checked {% endif %}> Ignore warnings (report errors only)
                                </label>
                                
                                <label class="checkbox css-ignore-common-cdn-domains">
                                    <input type="checkbox" value="1" name="css-validation-ignore-common-cdns"  {% if (validation_options['css-validation-ignore-common-cdns'] == 1) %} checked {% endif %}> Ignore CSS from common CDNs:
                                    
                                    {% if css_validation_ignore_common_cdns|length > 0 %}
                                    <ul>
                                        {% for cdn_domain_to_ignore in css_validation_ignore_common_cdns %}                                        
                                            <li>&ndash; {{ cdn_domain_to_ignore }}</li>                                        
                                        {% endfor %}
                                    </ul>                                        
                                    {% endif %}                                    
                                </label> 
                            </div>
                            <div class="span3 css-validator-option-set validator-option-set css-vendor-extensions">                                
                                <p>Vendor extensions:</p>
                                <label class="radio">
                                    <input type="radio" name="css-validation-vendor-extensions" value="ignore" {% if validation_options['css-validation-vendor-extensions'] == 'ignore' %} checked {% endif %}>
                                    Ignore
                                </label>
                                <label class="radio">
                                    <input type="radio" name="css-validation-vendor-extensions" value="warn" {% if validation_options['css-validation-vendor-extensions'] == 'warn' %} checked {% endif %}>
                                    Report as warnings
                                </label>                         
                                <label class="radio">
                                    <input type="radio" name="css-validation-vendor-extensions" value="error" {% if validation_options['css-validation-vendor-extensions'] == 'error' %} checked {% endif %}>
                                    Report as errors
                                </label> 
                            </div>                                
                            <div class="span6 css-validator-option-set validator-option-set css-domains-to-ignore">
                                <p>Linked CSS domains to ignore:</p>
                                
                                <span class="help-block">
                                    You might be linking to third-party CSS resources that you don't control and that you
                                    want the validator to ignore.
                                </span>
                                <textarea name="css-validation-domains-to-ignore" rows="5" placeholder="example.mycdn.com                                 one-per-line.example.com">{% if validation_options['css-validation-domains-to-ignore'] != '' %}{{validation_options['css-validation-domains-to-ignore']}}{% endif %}</textarea>
                            </div>                             
                        </div>                          
                            
                        <!--
vendor extensions:
    ignore
    warnings
    errors
warnings
    ignore (errors only, no warnings)
cdns to ignore
                        -->
                    </div>
                </div>
            </div>
            
            {% endif %}
            
            {% if 'js-static-analysis' in available_task_types|keys %}
            
            <div class="test-options-set" id="js-static-analysis-validation-options">
                <label class="checkbox">
                  <input type="checkbox" value="1" name="js-static-analysis" {% if (js_static_analysis_selected == 1) %} checked {% endif %} /> JavaScript static analysis
                  <span class="help-block">Analyse the quality of your JavaScript with <a href="http://www.jslint.com/lint.html">JSLint</a></span>
                </label>
            </div>
            
            {% endif %}
        </div>
        {% elseif app.request.attributes.get('_route') == 'app_progress' %}          
            
        <div id="test-options">
            <p>
                <i class="icon-caret-right"></i>
                Checking                 
                {% for task_type in task_types %}
                    <span class="test-type">{{ task_type }}</span>{% if loop.length > 1 %}{% if loop.index == loop.length - 1 %} and {% else %}{% if loop.index != loop.length %},{% endif %}{% endif %}{% endif %}
                {% endfor %}
            </p>
        </div>
        {% elseif app.request.attributes.get('_route') == 'app_results' %}
        <div id="test-options">
            <p>
                <i class="icon-caret-right"></i>
                Re-check:<br />
                
                {% for task_type_key, available_task_type in available_task_types %}
                {% if available_task_type in task_types %}
                <label class="test-type"><input type="checkbox" value="1" name="{{ task_type_key }}" checked /> {{ available_task_type }}</label>
                {% else %}
                <label class="test-type"><input type="checkbox" value="1" name="{{ task_type_key }}" /> {{ available_task_type }}</label>
                {% endif %}
                <br />    
                {% endfor %}
              
            </p>
        </div>            
        {% endif %}
            
    </form>
</div>
</section>