<section>
<div id="input" class="leader">            
    <form method="post" action="{{ test_input_action_url }}">                
        <h1 class="info">
            <label for="input-website">
                {% if test is defined %}
                    {% if test.state == 'new'  %}
                    <i class="icon-cog"></i> Testing {{ test.website }}
                    {% elseif test.state == 'queued'  %}
                    <i class="icon-cog"></i> Testing {{ test.website }} 
                    {% elseif test.state == 'preparing' or test.state == 'in-progress' %}
                    <i class="icon-cog"></i> Testing {{ test.website }}
                    {% elseif test.state == 'completed' or test.state == 'cancelled' or test.state == 'no-sitemap' %}
                    <i class="icon-bar-chart"></i> Results for {{ test.website }}
                    {% endif %} 
                    <span id="test-id">(#{{ test.testId }})</span>
                {% else %}
                    <i class="icon-play-circle"></i> Start new website test
                {% endif %}               
            </label>
        </h1>
            
        {% if test_start_error is defined and test_start_error != '' %}
            {% if test_start_error == 'website-blank' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter a website URL if we're going to get anything done here.
        </div>            
            {% endif %}            
            
            {% if test_start_error == 'website-blocked' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Ouch!</strong></p>
            <p><strong>{{ website }}</strong>  is too large for me to test just yet. I'm still new. Do you have a website you made that you'd like to test?</p>
        </div>            
            {% endif %}
            
            {% if test_start_error == 'no-test-types-selected' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Slow down!</strong></p>
            <p>
                You'll need to choose something to test - tick <strong>HTML validation</strong> and <strong>CSS validation</strong> as required.
            </p>
        </div>            
            {% endif %}            
        {% endif %}             

        <div class="fields input-append larger">                    
            <input name="website" id="input-website" type="text" placeholder="Enter website homepage URL &hellip;" {% if test is defined %} {% if test.state != 'completed' and test.state != 'cancelled' and test.state != 'no-sitemap' %} disabled {% endif %} value="{{ test.website }}" {% endif %} {% if website is defined %} value="{{ website }}" {% endif %}>            
            {% if test is defined %}
                {% if test.state == 'completed' or test.state == 'cancelled' %}
                <button type="submit" class="btn btn-primary btn-large">Run test again<i class="icon-repeat icon-large"></i></button>
                {% elseif test.state == 'no-sitemap' %}
                <button type="submit" class="btn btn-primary btn-large">Try again<i class="icon-repeat icon-large"></i></button>
                {% else %}
                <button type="submit" class="btn btn-primary btn-large btn-danger">Cancel test <i class="icon-warning-sign icon-large"></i></button>
                {% endif %}            
            {% else %}
            <button type="submit" class="btn btn-primary btn-large">Start new test <i class="icon-play icon-large"></i></button>                        
            {% endif %}
        </div>
            
        {% if test is not defined %}
        <div id="test-options">
            <div id="html-validation-options">
                <label class="checkbox">
                  <input type="checkbox" value="1" name="html-validation" checked /> HTML validation
                </label>                
            </div>
                
            <div id="css-validation-options">
                <label class="checkbox">
                  <input type="checkbox" value="1" name="css-validation" checked /> CSS validation
                </label>
            </div>                
        </div>
        {% endif %}
            
    </form>
</div>
</section>