<section class="top">
<div id="input" class="leader">            
    <form method="post" action="{{ test_input_action_url }}">                
        <h1 class="info">
            <label for="input-website">
                {% if test is defined %}
                    {% if test.state == 'new'  %}
                    <i class="icon-cog"></i> Testing {{ test.website }} ({{ testId }})
                    {% elseif test.state == 'queued'  %}
                    <i class="icon-cog"></i> Testing {{ test.website }} ({{ testId }})
                    {% elseif test.state == 'preparing' or test.state == 'in-progress' %}
                    <i class="icon-cogs"></i> Testing {{ test.website }} ({{ testId }})
                    {% elseif test.state == 'completed' %}
                    <i class="icon-bar-chart"></i> Results for {{ test.website }} ({{ testId }})
                    {% endif %}  
                {% else %}
                    <i class="icon-off"></i> Start new website test
                {% endif %}               
            </label>
        </h1>
            
        {% if test_start_error is defined and test_start_error != 0 %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter a website URL if we're going to get anything done here.
        </div>
        {% endif %} 

        <div class="fields input-append">                    
            <input name="website" id="input-website" type="text" placeholder="Enter website homepage URL &hellip;" {% if test is defined %} {% if test.state != 'completed' %} disabled {% endif %} value="{{ test.website }}" {% endif %}>            
            {% if test is defined %}
                {% if test.state == 'completed' %}
                <button type="submit" class="btn btn-primary btn-large">Run test again<i class="icon-off icon-large"></i></button>
                {% else %}
                <button type="submit" class="btn btn-primary btn-large btn-danger">Cancel test <i class="icon-warning-sign icon-large"></i></button>
                {% endif %}            
            {% else %}
            <button type="submit" class="btn btn-primary btn-large">Start new test <i class="icon-off icon-large"></i></button>            
            {% endif %}
        </div>
            
    </form>
</div>
</section>