<section class="start-new-test">
<div id="input" class="leader">                  
    <form method="post" action="{{ path('test_start') }}" id="test-start-form">                

        <h1 class="info">
            <label for="input-website">
                <i class="icon-play-circle"></i> Enter website URL to start new test
            </label>
        </h1>

            
        {% if test_start_error is defined and test_start_error != '' %}
            {% if test_start_error == 'website-blank' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter a website URL if we're going to get anything done here.
        </div>            
            {% endif %}            
        
            {% if test_start_error == 'web_resource_exception' %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Sorry, looks like my testing system is in <strong>read-only</strong> mode whilst some maintenance is happening. Can you try again in a short while?
        </div>            
            {% endif %}
            
            {% if test_start_error == 'no-test-types-selected' %}
            {% if 'js-static-analysis' in available_task_types|keys %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You'll need to choose something to test.           
        </div>             
            {% else %}
        <div class="alert alert-error for:input-website">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Slow down!</strong></p>
            <p>
                You'll need to choose something to test. Tick <strong>HTML validation</strong>
                or <strong>CSS validation</strong> as required.
            </p></div>            
            {% endif %}
            
            
            {% endif %}            
        {% endif %}          

        <div class="fields input-prepend input-append larger">            
            <input name="website"
                   id="input-website"
                   type="text"
                   placeholder="Enter website URL to start new test &hellip;"
                   {% if website is defined and website != '' %}
                   value="{{ website }}"
                   {% endif %}
                   >
            <button type="submit" class="btn btn-primary btn-large" name="full-single" value="full">Test full site</button>
            <button type="submit" class="btn btn-large" name="full-single" value="single">Test this URL only</button>
        </div>       

<div id="test-options">
    <div class="intro">        
        <p>
            <span class="task-type-selection">{% autoescape false %}{{ test_options_introduction }}{% endautoescape %}</span>
            <span class="expandable-control expandable-control-default-closed for-test-options-expandable">Choose what to test</span>            
        </p>        
    </div>        
    
    <div id="test-options-expandable">        
{% include 'SimplyTestableWebClientBundle:Partials:/task-type-options/task-type-options.html.twig' %}         
    </div>        
{% if test_options['http-authentication'] is defined %}            
    <div>       
        <p>
            HTTP authentication <span class="authentication-enabled">{{ (test_authentication_enabled) ? 'enabled' : 'not enabled' }}</span>.
            <span class="expandable-control expandable-control-default-closed for-authentication-options-expandable">
                <span class="authentication-change">{{ (test_authentication_enabled) ? 'Change' : 'Set' }}</span> authentication options                
            </span>
        </p>
    </div>         
        
    <div id="authentication-options-expandable">        
        <span class="help-block">For when your site or page uses either <a href="http://en.wikipedia.org/wiki/Basic_access_authentication">basic</a> or <a href="http://en.wikipedia.org/wiki/Digest_access_authentication">digest</a> HTTP authentication. Commonly used for public staging sites. Not safe for <a href="http://blog.simplytestable.com/html-validation-for-password-protected-sites/#security">sensitive information</a>.</span>          
        <div class="test-options-set" id="authentication-options">                
            <label class="checkbox-lined"><span>Username</span><input name="http-auth-username" class="credential" type="text" placeholder="Enter required username" {% if test_options['http-auth-username'] is defined and test_options['http-auth-username'] != '' %}value="{{ test_options['http-auth-username'] }}"{% endif %}></label>
            <label class="checkbox-lined"><span>Password</span><input name="http-auth-password" class="credential" type="password" placeholder="Enter required password"></label>
        </div>        
    </div>
{% endif %}        
{% if test_options['cookies'] is defined %}        
        
    <div>       
        <p>
            Custom cookies: <span class="cookies-enabled">{{ (test_cookies_enabled) ? 'enabled' : 'not enabled' }}</span>
            <span class="expandable-control expandable-control-default-closed for-cookies-options-expandable">
                <span class="cookies-change">{{ (test_cookies_enabled) ? 'Change' : 'Set' }}</span> cookie options
            </span>
        </p>
    </div>         
        
    <div id="cookies-options-expandable">        
        <span class="help-block">For testing sites that use cookies for authentication or for user-specific content. Add any number of cookies.</span>           
        
        <div class="test-options-set test-cookies">
            <table class="table">
                <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th class="value">Value</th>
                        <!--
                        <th>Domain</th>
                        <th>Path</th>
                        <th>Secure only?</th>
                        -->
                    </tr>
                </thead>
                <tbody>
                    {% for cookie in test_options['cookies'] %}
                        <tr>
                            <td class="name">
                                <input name="cookies[{{loop.index0}}][name]"
                                       type="text"
                                       placeholder="Cookie name"
                                       {% if cookie['name'] is not empty %}value="{{ cookie['name'] }}"{% endif %}>                                
                            </td>
                            <td class="value">
                                <input name="cookies[{{loop.index0}}][value]"
                                       type="text"
                                       placeholder="Cookie value"
                                       {% if cookie['value'] is not empty %}value="{{ cookie['value'] }}"{% endif %}>                                   
                            </td>                            
                            <!--
                            <td>domain</td>
                            <td>path</td>
                            <td>secure</td>
                            -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <button type="submit" class="btn btn-small add-cookie" name="add-cookie" value="1"><i class="icon icon-plus"></i> Add another cookie</button>
        </div>
    </div> 
        
{% endif %}        
        
</div> 
            
    </form>        
       
</div>
</section>