<ul class="urls">
{% for url, tasks in tasksByUrl %}            
    <li class="url">               
        <span class="url">{{ url }}</span>
        <span class="tasks">
            <ul class="tasks">
            {% for task in tasks %}
                <li class="task {{task.state}} {% if taskErrorCount is defined and taskErrorCount[task.id] is defined and taskErrorCount[task.id] > 0 %} failed {% else %} passed {% endif %}">
                    <span class="state">
                        {% if task.state == 'queued' %}
                            <i class="icon-cog"></i>
                        {% elseif task.state == 'in-progress' %}
                            <i class="icon-cogs"></i>
                        {% elseif task.state == 'cancelled' %}
                            <i class="icon-ban-circle"></i>                                
                        {% else %}
                            <i class="icon-bar-chart"></i>
                        {% endif %}
                    </span>                                
                    <span class="type">{{ task.type}}</span>

                    {% if taskErrorCount is defined and taskErrorCount[task.id] is defined %}
                        {% if taskErrorCount[task.id] == 0 %}
                            <i class="icon-ok"></i>
                        {% else %}
                            <a href="{{ path('app_task_results', { 'website': test.website, 'test_id': test.testId, 'task_id':task.id }) }}" class="label label-important">
                            {{ taskErrorCount[task.id] }}
                            {% if taskErrorCount[task.id] == 1 %}
                                error
                            {% else %}
                                errors
                            {% endif %}
                                <i class="icon-caret-down"></i>    
                            </a> 
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %} 
            </ul>
        </span>                    
    </li>
{% endfor %}              
</ul>