{% extends 'SimplyTestableWebClientBundle::bs3/User/Account/base.html.twig' %}

{% block title %}Your account ({{ user.username }}) - {{ parent() }}{% endblock %}

{% set label_col_class = 'col-lg-3 col-md-3 col-sm-4' %}
{% set field_col_class = 'col-lg-9 col-md-6 col-sm-8' %}
{% set submit_col_class = 'col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-6 col-sm-offset-4 col-sm-8' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/user-account.css'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/user-account-index.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@SimplyTestableWebClientBundle/Resources/assets/vendor/jquery-scrollto/jquery.scrollTo-1.4.12/jquery.scrollTo.js'
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/user-account.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block account_content %}
    <div class="plan-section">
        <h2 id="email-address-and-password">Email address and password</h2>
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account:account-details.html.twig' %}
    </div>

    <div class="plan-section">
        <h2 id="plan">Plan: {{ plan_presentation_name }}</h2>
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account:plan-details.html.twig' %}
    </div>

    <div class="plan-section">
        <h2 id="team">Team{% if user_summary.getTeamSummary.isInTeam %}: {{ team.name }}{% endif %}</h2>
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account/Team:team-details.html.twig' %}
    </div>

    <div class="plan-section">
        <h2 id="payment-details">Payment details</h2>
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account:payment-details.html.twig' %}
    </div>

    <div class="plan-section" id="news-subscriptions">
        <h2>News subscriptions</h2>
        {% include 'SimplyTestableWebClientBundle:bs3/Partials/User/Account:news-subscriptions.html.twig' %}
    </div>
{% endblock %}