<div class="row-fluid card-container">
    <div class="span6 card-container-label">
        <span class="card-type card-type-{{ user_summary.stripeCustomer.activeCard.type|lower}}"></span>
    </div>
    <div class="span6 details">
        <div class="card-details">
            <p> 
                <i class="icon icon-asterisk"></i>
                <i class="icon icon-asterisk"></i>
                <i class="icon icon-asterisk"></i>
                <i class="icon icon-asterisk"></i>                                
                <i class="icon icon-asterisk"></i>
                <i class="icon icon-asterisk"></i>
                <i class="icon icon-asterisk"></i>
                <i class="icon icon-asterisk"></i>
                <i class="icon icon-asterisk"></i>
                <i class="icon icon-asterisk"></i>
                <i class="icon icon-asterisk"></i>
                <i class="icon icon-asterisk"></i>                            
                            {{ user_summary.stripeCustomer.activeCard.last4 }}
                <span class="exp_date">expiring {{ card_expiry_month }} {{ user_summary.stripeCustomer.activeCard.expiryYear }}</span>
            </p>
        </div>                            
        <a href="{{ path('user_account_card') }}">Change your card details <i class="icon icon-caret-right"></i></a>                            
    </div>
</div>