{% if plan.summary.status == 'trialing' %}
    {% set trial_days_remaining = plan.summary.trial_period_days - plan.summary.days_of_trial_period + 1 %}

    {% if trial_days_remaining <= 3 %}               
    <p>
        <strong>
        {% if trial_days_remaining == 1 %}
            Your trial ends today!
        {% else %}
            Your trial ends in less than {{ trial_days_remaining }} days!
        {% endif %}                        
        </strong>
    </p>               
    {% endif %}
    
    <p>
        We need your credit or debit card details to continue your subscription
        after your trial ends.
    </p>                        

{% else %}
    
    <p>
        <strong>Your trial has ended!</strong>
    </p>

    <p>
        We need your credit or debit card details now to continue your premium subscription.
    </p>
    
    {% if payment_status['attempt_count'] == 0 %}
    <p>
        We will attempt to collect payment in {{ payment_status['next_payment_attempt_relative'] }}.
        If this fails, we will re-try a further {{ stripe['payment_retry_limit'] }} times over the following days.
    </p>
    {% else %}
        {% set retry_limit = stripe['payment_retry_limit'] + 1 %}
        {% set retry_count = retry_limit - payment_status['attempt_count'] %}
    
        {% for attempt_count in stripe['payment_retry_limit'] .. 1 %}
            {% if payment_status['attempt_count'] == attempt_count %}
    
    <p>
        We've tried {{ payment_status['attempt_count'] }} time{%if payment_status['attempt_count'] != '1'%}s{% endif %}        
        to collect payment. We'll try again in {{ payment_status['next_payment_attempt_relative'] }}.
        {% if retry_count > 1%}        
        If this fails, we will re-try a further {{ retry_count }} time{%if retry_count != '1'%}s{% endif %}
        over the following days.        
        {% endif %}    
    </p>
    
        {% if retry_count > 1%}               
    <p>
        If our last attempt to collect payment fails your account
        will be downgraded to the free basic plan. 
    </p>     
        {% else %}
    <p>
        Our next payment attempt will be our last. If it fails your account
        will be downgraded to the free basic plan. 
    </p>     
        {% endif %}       

            {% endif %}
        {% endfor %}       
    {% endif %}

    

{% endif %}

<a class="btn" href="{{ path('user_account_card') }}">Add card <i class="icon icon-credit-card"></i></a>