{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Results {{test.website}} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block main %}         
        <div class="row-fluid">
            <div class="span12">
                <section>
                        <h1 class="info">
                            <i class="icon-bar-chart"></i>
                            Results for 
                            <a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}">
                                {{ test.website }}
                                <span id="test-id">(#{{ test.testId }})</span>
                            </a>                            
                            task
                            <span id="task-id">#{{task.id}}</span>
                        </h1>
                </section>
            </div>
        </div>

        <div class="row-fluid">
            <section>                
                <div class="span12" id="task-summary">
                    <h2 class="info"><i class="icon-certificate"></i> Summary </h2>
                    
                    <table>
                        <tbody>
                            <tr>                
                                <th>Test type</th>
                                <td>{{ task.type }}</td>
                            </tr>         
                            <tr>                
                                <th>URL</th>
                                <td>{{ task.url }}</td>
                            </tr> 
                            <tr>                
                                <th>State</th>
                                <td>
                                    {% if task.state == 'queued' %}
                                        <span class="label label-warning">Queued</span>
                                    {% elseif task.state == 'in-progress' %}
                                        <span class="label label-info">In Progresss</span>
                                    {% elseif task.state == 'cancelled' %}
                                        <span class="label">Cancelled</span>
                                    {% elseif task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-limit-reached' %}
                                        <span class="label label-important">Failed</span>
                                    {% else %}
                                        <span class="label label-success">Completed</span>
                                    {% endif %}
                                </td>
                            </tr> 
                            
                            <tr>                
                                <th>Outcome</th>
                                <td>                                
                                {% if task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-limit-reached' %}
                                    {% if task.output.result.isHttpRedirectLoopFailure %}
                                        Redirect loop detected; unable to retrieve URL
                                    {% elseif task.output.result.isHttpRedirectLimitFailure %}
                                        Redirect limit reached; unable to retrieve URL
                                    {% elseif task.output.result.isCharacterEncodingFailure %}
                                        Character encoding confusion
                                    {% endif %}
                                {% elseif task.state == 'completed' %}
                                    {% if task.output.result.hasErrors %}
                                        <span class="label label-important">Failed</span>
                                        <span class="label label-important">
                                          {{ task.output.result.getErrorCount }} error{% if task.output.result.getErrorCount != 1 %}s{% endif %}</span>
                                    {% else %}
                                        <span class="label label-success">Passed</span>
                                    {% endif %}
                                {% endif %}
                                </td>                                        
                            </tr>                            
                        </tbody>
                    </table>                      
                    
                </div>
                <div class="clearfix"></div>
            </section>
        </div>

        {% if (task.state == 'completed' or task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-limit-reached') and task.output.result.hasErrors %}
        <div class="row-fluid">
            {% if task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-limit-reached' %}
            <section>                
                <div class="span12 notification" id="task-summary">                    
                    {% if task.output.result.isHttpRedirectLoopFailure %}                                               
                        <h2 class="info"><i class="icon-refresh"></i> Redirect loop detected!</h2>                        
                        <p>
                            <a href="{{ task.url }}">{{ task.url }}</a> redirects to another URL which ultimately
                            redirects back to itself. Indefinitely. Forever.
                        </p>                        

                        <p>
                            It's impossible to retrieve the content for this URL.
                        </p>                        
                        
                        <p>
                             We can't  run any tests for it. No-one can view the content at this URL.
                        </p>
                    {% elseif task.output.result.isHttpRedirectLimitFailure %}
                        <h2 class="info"><i class="icon-refresh"></i> Redirect limit reached!</h2>
                        
                        <p>
                            <a href="{{ task.url }}">{{ task.url }}</a> redirects to another URL which
                            redirects to another URL which redirects to another URL &hellip; and so on.
                        </p>                        

                        <p>
                            10 redirects were followed at which point we gave up.
                        </p>                        
                        
                        <p>
                            There's a very good chance this indicates a problem that you need to look into.
                        </p>                        
                    {% elseif task.output.result.isCharacterEncodingFailure %}
                        <h2 class="info"><i class="icon-strikethrough"></i> Character encoding confusion!</h2>
                        
                        <p>
                            The character encoding used for the page at <a href="{{ task.url }}">{{ task.url }}</a>
                            is not quite right.
                        </p>                  
                        
                        <p>
                            Either the provided character encoding is wrong or there are one or more 
                            characters in the page that are wrongly encoded.
                        </p>
                        
                        {% if task.type == 'HTML validation' %}
                        <p>
                            On this subject, the HTML validator said:
                        </p>
                        
                        <blockquote>{{ task.output.result.getFirstError|raw }}</blockquote>
                        {% endif %}                        
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </section>                 
            {% else %}
            <section>                
                <div class="span12" id="task-summary">
                    <h2 class="info"><i class="icon-ban-circle"></i> Errors </h2>                    
                    <ul class="errors">
                        {% for error in task.output.result.getErrors %}
                            <li>
                                {% if task.type == 'HTML validation' %}
                                    {% include 'SimplyTestableWebClientBundle:Partials:task/html-validation-result.html.twig' %}
                                {% else %}
                                    <p class="message">{{ error }}</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </section>                
            {% endif %}
        </div>
        {% endif %}
   
{% endblock %}  