{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Results {{test.website}} (Test#{{test.testId}} Task#{{task.taskId}}) - {{ parent() }}{% endblock %}

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

<div class="full-width-container">
    <div class="container main">            
        <div class="row-fluid">
            <div class="span12">
                <section>
                    <h1 class="info">
                        <i class="icon-bar-chart"></i>
                        {{ task.type }} results for 
                        <a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}">
                            {{ test.website }}
                            <span id="test-id">(#{{ test.testId }})</span>
                        </a>                            
                        task
                        <span id="task-id">#{{task.taskId}}</span>
                    </h1>
                        
                    <p>
                        URL tested: <a href="{{ task.url }}">{{ task.url }}</a>
                    </p>
                        
    <div class="row-fluid" id="summary-stats">
        {% if task.state == 'completed' %}
        <div class="span2 summary-container summary-figure {% if task.output.errorCount > 0 %}error-container{% else %}success-container{% endif %}">
            {% if task.output.errorCount > 0 %}
                <a href="#error-list"><span class="count">{{ task.output.errorCount }}</span> <span class="stat-label">error{% if test.errorCount != 1 %}s{% endif %}</span><i class="icon icon-caret-down"></i></a>
            {% else %}
                <span class="anchor"><span class="count">{{ task.output.errorCount }}</span> <span class="stat-label">error{% if test.errorCount != 1 %}s{% endif %}</span><i class="icon icon-ok"></i></span>                    
            {% endif %}            
        </div>            
        <div class="span2 summary-container summary-figure {% if task.output.warningCount > 0 %}warning-container{% else %}success-container{% endif %}">
            {% if task.output.warningCount > 0 %}
                <a href="#warning-list"><span class="count">{{ task.output.warningCount }}</span> <span class="stat-label">warning{% if test.warningCount != 1 %}s{% endif %}</span><i class="icon icon-caret-down"></i></a>
            {% else %}
                <span class="anchor"><span class="count">{{ task.output.warningCount }}</span> <span class="stat-label">warning{% if test.warningCount != 1 %}s{% endif %}</span><i class="icon icon-ok"></i></span>
            {% endif %}
        </div>
        {% if distinct_fixes is defined and distinct_fixes | length > 0 %}
        <div class="span2 summary-container summary-figure fix-container">
            <a href="#fix-list"><span class="count">{{ distinct_fixes | length }}</span> <span class="stat-label">fix{% if distinct_fixes | length != 1 %}es{% endif %}</span><i class="icon icon-heart"></i></a>
        </div>
        {% endif %}             
        {% else %}
        <div class="span2 summary-container summary-figure error-container">
            <span class="anchor"><span class="count">1</span> <span class="stat-label">error</span><i class="icon icon-caret-down"></i></span>
        </div>  
        {% endif %}
        
           
    </div>                        
                </section>              
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="main">
{% block main %}
        {% if (task.state == 'completed' or task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-limit-reached') and (task.output.hasErrors or task.output.hasWarnings) %}
        <div class="row-fluid">
            {% if task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-limit-reached' %}
            <section>                
                <div class="span12 notification" id="task-summary">                    
                    {% if task.output.result.isHttpClientErrorFailure %} 
                        <h2 class="info"><i class="icon-exclamation-sign"></i>
                            {{ task.output.result.firstError.class|replace({'http-retrieval-': ''}) }}
                            {{ task.output.result.firstError }}                            
                        </h2>
                        
                        {% set statusCode = task.output.result.firstError.class|replace({'http-retrieval-': ''}) %}
                        
                        {% if statusCode == '401' %}
                        <p>
                            The page at <a href="{{task.url}}">{{task.url}}</a> requires authorisation.
                        </p>
                        
                        <p>
                            We can't yet test pages that are not publicly available.
                        </p>   
                        {% elseif statusCode == '403' %}
                        <p>
                            Looks like we're not allowed to access <a href="{{task.url}}">{{task.url}}</a>.
                        </p>                         
                        {% elseif statusCode == '404' %}
                        <p>
                            We can't test <a href="{{task.url}}">{{task.url}}</a> because it doesn't exist.
                        </p>
                        <p>
                            Is the URL right?
                        </p>
                        {% elseif statusCode == '405' %}
                        <p>
                            We tried to retrieve <a href="{{task.url}}">{{task.url}}</a> using
                            a HTTP GET request.
                        </p>                         
                        <p>
                            The web server for the URL did not like that. It told us that 'GET'
                            is not the right type of HTTP request method for that URL.
                        </p>                        
                        <p>
                            If GET requests are wrong I don't want to be right.
                        </p>
                        {% else %}
                        <p>
                            That's a pretty uncommon HTTP response error there.
                        </p>                                
                        {% endif %}

                        
                        
                    {% elseif task.output.result.isHttpRedirectLoopFailure %}                                               
                        <h2 class="info"><i class="icon-refresh"></i> Redirect loop detected!</h2>                        
                        <p>
                            <a href="{{ task.url }}">{{ task.url }}</a> redirects to another URL which ultimately
                            redirects back to itself. Indefinitely. Forever.
                        </p>                        

                        <p>
                            It's impossible to retrieve the content for this URL.
                        </p>                        
                        
                        <p>
                             We can't  run any tests for it. No-one can view the content at this URL.
                        </p>
                    {% elseif task.output.result.isHttpRedirectLimitFailure %}
                        <h2 class="info"><i class="icon-refresh"></i> Redirect limit reached!</h2>
                        
                        <p>
                            <a href="{{ task.url }}">{{ task.url }}</a> redirects to another URL which
                            redirects to another URL which redirects to another URL &hellip; and so on.
                        </p>                        

                        <p>
                            10 redirects were followed at which point we gave up.
                        </p>                        
                        
                        <p>
                            There's a very good chance this indicates a problem that you need to look into.
                        </p>                        
                    {% elseif task.output.result.isCharacterEncodingFailure %}
                        <h2 class="info"><i class="icon-strikethrough"></i> Character encoding confusion!</h2>
                        
                        <p>
                            The character encoding used for the page at <a href="{{ task.url }}">{{ task.url }}</a>
                            is not quite right.
                        </p>                  
                        
                        <p>
                            Either the provided character encoding is wrong or there are one or more 
                            characters in the page that are wrongly encoded.
                        </p>
                        
                        {% if task.type == 'HTML validation' %}
                        <p>
                            On this subject, the HTML validator said:
                        </p>
                        
                        <blockquote>{{ task.output.result.getFirstError|raw }}</blockquote>
                        {% endif %}  
                    {% elseif task.output.result.isCurlTimeoutFailure %}
                        <h2 class="info"><i class="icon-time"></i> Timeout!</h2>
                        
                        <p>
                            We tried to retrieve the page at <a href="{{ task.url }}">{{ task.url }}</a>
                            to test it.
                        </p>                  

                        <p>
                            We waited.
                        </p>
                        
                        <p>
                            After 30 seconds we gave up waiting.
                        </p>   
                    {% elseif task.output.result.isCurlDnsResolutionFailulre %}
                        <h2 class="info"><i class="icon-time"></i> Timeout!</h2>
                        
                        <p>
                            We tried to retrieve the page at <a href="{{ task.url }}">{{ task.url }}</a>
                            to test it.
                        </p>                  

                        <p>
                            Resolving the domain name to an IP address took too long.
                        </p>
                    {% elseif task.output.result.isCurlUrlFormatFailure %}
                        <h2 class="info"><i class="icon-exclamation-sign"></i> Bad URL!</h2>
                        
                        <p>
                            We tried to retrieve the page at <a href="{{ task.url }}">{{ task.url }}</a>
                            to test it.
                        </p>                  

                        <p>
                            There's something funny about that URL. It's not made right, it can't be used.
                        </p>                                              
                    {% elseif task.output.result.isHtmlInvalidDocumentTypeFailure %}
                        <h2 class="info"><i class="icon-exclamation-sign"></i> Invalid document type!</h2>
                        
                        <p>
                            The page at <a href="{{ task.url }}">{{ task.url }}</a> contains an invalid
                            doctype declaration:
                        </p>
                        
                        <pre>{{ task.output.result.firstError.message }}</pre>

                        
                        <p>
                            Have a look at <a href="http://www.w3.org/QA/2002/04/valid-dtd-list.html">recommended doctype declarations</a>
                            and read more about <a href="http://en.wikipedia.org/wiki/Document_Type_Declaration">what a doctype declaration is</a>.
                        </p>
                        
                        <p>
                            
                        </p>
                    {% elseif task.output.result.isHtmlMissingDocumentTypeFailure %}
                        <h2 class="info"><i class="icon-exclamation-sign"></i> Missing document type!</h2>
                        
                        <p>
                            The page at <a href="{{ task.url }}">{{ task.url }}</a> does not have a
                            document type.
                        </p>
                        
                        <p>
                            There are many versions of HTML and in order to check 
                            if your document is valid we need to know what 
                            version of HTML you are using.
                        </p>

                        
                        <p>
                            Have a look at <a href="http://www.w3.org/QA/2002/04/valid-dtd-list.html">recommended doctype declarations</a>
                            and read more about <a href="http://en.wikipedia.org/wiki/Document_Type_Declaration">what a doctype declaration is</a>.
                        </p>
                        
                        <p>
                            
                        </p>                        
                    {% elseif task.output.result.isCssValidationSslExceptionError %}
                        <h2 class="info"><i class="icon-exclamation-sign"></i> SSL error!</h2>
                        
                        <p>
                            Sorry, the CSS validator was unable to establish a SSL connection when validating {{ task.url }}.
                        </p>
                        
                        <p>
                            This can happen when validating secure URLs that use SSL certificates
                            issued by lesser known certificate authorities.
                        </p>
                        
                        <p>
                            We don't have a solution for this. We have a rough idea of how to
                            work around such issues but haven't any plans to do so at the moment.
                        </p>
                    {% elseif task.output.result.isCssValidationUnknownExceptionError %}
                        <h2 class="info"><i class="icon-exclamation-sign"></i> Unknown validator error!</h2>
                        
                        <p>
                            Sorry, the CSS validator went bang when validating {{ task.url }}.
                        </p>
                        
                        <p>
                            This most commonly happens if the URL to be validated redirects to another URL. We're
                            working to fix this.                            
                        </p>
                    {% elseif task.output.result.isMarkuplessTextHtmlFailure %}
                        <h2 class="info"><i class="icon-exclamation-sign"></i> No markup found!</h2>
                        
                        <p>
                            The page at <a href="{{ task.url }}">{{ task.url }}</a> is being served as HTML
                            but did not return any HTML.
                        </p>
                        
                        <p>
                            This tends to happen if the page being tested generated a plain text error.
                        </p>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </section>                 
            {% else %}                
                {% if task.output.hasErrors %}
                <span id="error-list" class="section-marker"></span>
            <section class="issue-list">                
                <div class="span12">
                    <h2 class="info"><i class="icon-ban-circle"></i> Errors ({{ task.output.errorCount }}) </h2>                    
                    {% if task.type == 'CSS validation' %}
                        {% if task.output.hasErrors and not task.output.result.hasErrors %}
                    <div class="span12 notification" id="task-summary">
                        <p>
                            Detailed results from this test are no longer available.
                        </p>
                    </div>
                        {% endif %}                     
                    
                        {% for ref,errors in errors_by_ref %}
                        <div>
                            <h3><i class="icon icon-file"></i> {% if ref == '' %}Inline in your HTML{% else %}{{ ref }}{% endif %}:</h3>                            
                            <ul class="errors">
                                {% for message in errors %}
                                    <li>
                                        {% include 'SimplyTestableWebClientBundle:Partials:task/css-validation-result.html.twig' %}                                    
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    {% elseif task.type == 'JS static analysis' %}
                        {% if task.output.hasErrors and not task.output.result.hasErrors %}
                    <div class="span12 notification" id="task-summary">
                        <p>
                            Detailed results from this test are no longer available.
                        </p>
                    </div>
                        {% endif %}                     
                    
                        {% for context,errors in errors_by_js_context %}
                        <div>
                            <h3><i class="{% if errors[0].isException %}icon icon-ban-circle{% else %}icon icon-file{% endif %}"></i> {% if context == 'inline' %}Inline in your HTML{% else %}{{ context }}{% endif %}:</h3>                            
                            <ul class="errors">
                                {% for error in errors %}
                                    {% if ((error.message | replace({'Stopping': ''})) == error.message and (error.message | replace({'Too many errors': ''})) == error.message) %}
                                    <li>
                                        {% include 'SimplyTestableWebClientBundle:Partials:task/js-static-analysis-result.html.twig' %}                               
                                    </li>                                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    {% elseif task.type == 'Link integrity' %}
                        {% if task.output.hasErrors and not task.output.result.hasErrors %}
                    <div class="span12 notification" id="task-summary">
                        <p>
                            Detailed results from this test are no longer available.
                        </p>
                    </div>
                        {% endif %}    
                    
                    <ul class="errors">
                        {% for error in task.output.result.getErrors %}
                            <li>
{% include 'SimplyTestableWebClientBundle:Partials:task/link-integrity-result.html.twig' %}
                            </li>
                        {% endfor %}
                    </ul>
                    
                  
                    {% else %}
                        {% if task.output.hasErrors and not task.output.result.hasErrors %}
                    <div class="span12 notification" id="task-summary">
                        <p>
                            Detailed results from this test are no longer available.
                        </p>
                    </div>
                        {% endif %}                    
                    
                    <ul class="errors">                        
                        {% for error in task.output.result.getErrors %}
                            <li>
                                {% if task.type == 'HTML validation' %}
                                    {% include 'SimplyTestableWebClientBundle:Partials:task/html-validation-result.html.twig' %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>                           
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </section>  
                
                
                {% if distinct_fixes is defined and distinct_fixes | length > 0 %}
                <span id="fix-list" class="section-marker"></span>
            <section class="issue-list">                
                <div class="span12">
                    <h2 class="info"><i class="icon-heart"></i> Fixes ({{ distinct_fixes | length }}) </h2>                    
                    <ul class="errors fixes">                        
                        {% for fix in distinct_fixes %}
                            <li>
                                <a href="{{fix.documentation_url}}">{{fix.error}} <i class="icon icon-caret-right"></i></a>
                            </li>
                        {% endfor %}
                    </ul>                     
                </div>
                <div class="clearfix"></div>
            </section>  
                {% endif %}
                
                
                {% endif %}
                
                {% if task.output.result.hasWarnings %}
                <span id="warning-list" class="section-marker"></span>                
            <section class="issue-list">                
                <div class="span12">
                    <h2 class="info"><i class="icon-exclamation-sign"></i> Warnings ({{task.output.result.warningCount}}) </h2>                    
                    {% if task.type == 'CSS validation' %}
                        {% for ref,warnings in warnings_by_ref %}
                        <div>
                            <h3><i class="icon icon-file"></i> {% if ref == '' %}Inline in your HTML{% else %}{{ ref }}{% endif %}:</h3>                            
                            <ul class="errors">
                                {% for message in warnings %}
                                    <li>
                                        {% include 'SimplyTestableWebClientBundle:Partials:task/css-validation-result.html.twig' %}                                    
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    {% elseif task.type == 'JS static analysis' %}
                        {% for context,errors in errors_by_js_context %}
                        <div>
                            <h3><i class="icon icon-file"></i> {% if context == 'inline' %}Inline in your HTML{% else %}{{ context }}{% endif %}:</h3>                            
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>
                                        {% include 'SimplyTestableWebClientBundle:Partials:task/js-static-analysis-result.html.twig' %}                               
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    {% else %}
                    <ul class="errors">
                        {% for error in task.output.result.getErrors %}
                            <li>
                                {% if task.type == 'HTML validation' %}
                                    {% include 'SimplyTestableWebClientBundle:Partials:task/html-validation-result.html.twig' %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>                           
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </section>                 
                {% endif %}                
                

                
                
            {% endif %}
        </div>
        {% endif %}
{% endblock %}
    </div>                       
</div>

{% endblock %} 