{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Results {{test.website}} (Test#{{test.testId}} Task#{{task.taskId}}) - {{ parent() }}{% endblock %}

{% block main %}         
        <div class="row-fluid">
            <div class="span12">
                <section>
                        <h1 class="info">
                            <i class="icon-bar-chart"></i>
                            Results for 
                            <a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}">
                                {{ test.website }}
                                <span id="test-id">(#{{ test.testId }})</span>
                            </a>                            
                            task
                            <span id="task-id">#{{task.taskId}}</span>
                        </h1>
                </section>
            </div>
        </div>

        <div class="row-fluid">
            <section>                
                <div class="span12" id="task-summary">
                    <h2 class="info"><i class="icon-certificate"></i> Summary </h2>
                    
                    <table>
                        <tbody>
                            <tr>                
                                <th>Test type</th>
                                <td>{{ task.type }}</td>
                            </tr>         
                            <tr>                
                                <th>URL</th>
                                <td>{{ task.url }}</td>
                            </tr> 
                            <tr>                
                                <th>State</th>
                                <td>
                                    {% if task.state == 'queued' %}
                                        <span class="label label-warning">Queued</span>
                                    {% elseif task.state == 'in-progress' %}
                                        <span class="label label-info">In Progresss</span>
                                    {% elseif task.state == 'cancelled' %}
                                        <span class="label">Cancelled</span>
                                    {% elseif task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-limit-reached' %}
                                        <span class="label label-important">Failed</span>
                                    {% else %}
                                        <span class="label label-success">Completed</span>
                                    {% endif %}
                                </td>
                            </tr> 
                            
                            <tr>                
                                <th>Outcome</th>
                                <td class="outcome">                                
                                {% if task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-limit-reached' %}
                                    {% if task.output.result.isHttpClientErrorFailure %}
                                        {{ task.output.result.firstError.class|replace({'http-retrieval-': ''}) }}
                                        {{ task.output.result.firstError }}
                                    {% elseif task.output.result.isHttpRedirectLoopFailure %}
                                        Redirect loop detected; unable to retrieve URL
                                    {% elseif task.output.result.isHttpRedirectLimitFailure %}
                                        Redirect limit reached; unable to retrieve URL
                                    {% elseif task.output.result.isCharacterEncodingFailure %}
                                        Character encoding confusion
                                    {% elseif task.output.result.isCurlTimeoutFailure %}
                                        Timeout retrieving the page to be tested
                                    {% elseif task.output.result.isCurlDnsResolutionFailulre %}
                                        DNS timeout resolving the domain for the URL
                                    {% elseif task.output.result.isCurlUrlFormatFailure %}
                                        Bad URL format       
                                    {% elseif task.output.result.isHtmlInvalidDocumentTypeFailure %}
                                        Invalid document type     
                                    {% endif %}                                        
                                {% elseif task.state == 'completed' %}
                                    {% if task.output.result.hasErrors %}
                                        <span class="label label-important">Failed</span><span class="label label-important">
                                            <a href="#error-list">{{ task.output.result.getErrorCount }} error{% if task.output.result.getErrorCount != 1 %}s{% endif %}</a>
                                        </span>
                                    {% else %}
                                        <span class="label label-success">Passed</span>
                                    {% endif %}                                        
                                    {% if task.output.result.hasWarnings %}
                                    <span class="label label-info">
                                        <a href="#warning-list">{{ task.output.result.getWarningCount }} warning{% if task.output.result.getWarningCount != 1 %}s{% endif %}</a>
                                    </span>                                            
                                    {% endif %}
                                {% endif %}
                                </td>                                        
                            </tr>                            
                        </tbody>
                    </table>                      
                    
                </div>
                <div class="clearfix"></div>
            </section>
        </div>

        {% if (task.state == 'completed' or task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-limit-reached') and (task.output.result.hasErrors or task.output.result.hasWarnings) %}
        <div class="row-fluid">
            {% if task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-limit-reached' %}
            <section>                
                <div class="span12 notification" id="task-summary">                    
                    {% if task.output.result.isHttpClientErrorFailure %} 
                        <h2 class="info"><i class="icon-exclamation-sign"></i>
                            {{ task.output.result.firstError.class|replace({'http-retrieval-': ''}) }}
                            {{ task.output.result.firstError }}                            
                        </h2>
                        
                        {% set statusCode = task.output.result.firstError.class|replace({'http-retrieval-': ''}) %}
                        
                        {% if statusCode == '401' %}
                        <p>
                            The page at <a href="{{task.url}}">{{task.url}}</a> requires authorisation.
                        </p>
                        
                        <p>
                            We can't yet test pages that are not publicly available.
                        </p>   
                        {% elseif statusCode == '403' %}
                        <p>
                            Looks like we're not allowed to access <a href="{{task.url}}">{{task.url}}</a>.
                        </p>                         
                        {% elseif statusCode == '404' %}
                        <p>
                            We can't test <a href="{{task.url}}">{{task.url}}</a> because it doesn't exist.
                        </p>
                        <p>
                            Is the URL right? We collected it from your sitemap or news feed as shown.
                            You might want to check that your sitemaps and news feeds have correct URLs listed in them.
                        </p>
                        {% elseif statusCode == '405' %}
                        <p>
                            We tried to retrieve <a href="{{task.url}}">{{task.url}}</a> using
                            a HTTP GET request.
                        </p>                         
                        <p>
                            The web server for the URL did not like that. It told us that 'GET'
                            is not the right type of HTTP request method for that URL.
                        </p>                        
                        <p>
                            If GET requests are wrong I don't want to be right.
                        </p>
                        {% else %}
                        <p>
                            That's a pretty uncommon HTTP response error there.
                        </p>                                
                        {% endif %}

                        
                        
                    {% elseif task.output.result.isHttpRedirectLoopFailure %}                                               
                        <h2 class="info"><i class="icon-refresh"></i> Redirect loop detected!</h2>                        
                        <p>
                            <a href="{{ task.url }}">{{ task.url }}</a> redirects to another URL which ultimately
                            redirects back to itself. Indefinitely. Forever.
                        </p>                        

                        <p>
                            It's impossible to retrieve the content for this URL.
                        </p>                        
                        
                        <p>
                             We can't  run any tests for it. No-one can view the content at this URL.
                        </p>
                    {% elseif task.output.result.isHttpRedirectLimitFailure %}
                        <h2 class="info"><i class="icon-refresh"></i> Redirect limit reached!</h2>
                        
                        <p>
                            <a href="{{ task.url }}">{{ task.url }}</a> redirects to another URL which
                            redirects to another URL which redirects to another URL &hellip; and so on.
                        </p>                        

                        <p>
                            10 redirects were followed at which point we gave up.
                        </p>                        
                        
                        <p>
                            There's a very good chance this indicates a problem that you need to look into.
                        </p>                        
                    {% elseif task.output.result.isCharacterEncodingFailure %}
                        <h2 class="info"><i class="icon-strikethrough"></i> Character encoding confusion!</h2>
                        
                        <p>
                            The character encoding used for the page at <a href="{{ task.url }}">{{ task.url }}</a>
                            is not quite right.
                        </p>                  
                        
                        <p>
                            Either the provided character encoding is wrong or there are one or more 
                            characters in the page that are wrongly encoded.
                        </p>
                        
                        {% if task.type == 'HTML validation' %}
                        <p>
                            On this subject, the HTML validator said:
                        </p>
                        
                        <blockquote>{{ task.output.result.getFirstError|raw }}</blockquote>
                        {% endif %}  
                    {% elseif task.output.result.isCurlTimeoutFailure %}
                        <h2 class="info"><i class="icon-time"></i> Timeout!</h2>
                        
                        <p>
                            We tried to retrieve the page at <a href="{{ task.url }}">{{ task.url }}</a>
                            to test it.
                        </p>                  

                        <p>
                            We waited.
                        </p>
                        
                        <p>
                            After 30 seconds we gave up waiting.
                        </p>   
                    {% elseif task.output.result.isCurlDnsResolutionFailulre %}
                        <h2 class="info"><i class="icon-time"></i> Timeout!</h2>
                        
                        <p>
                            We tried to retrieve the page at <a href="{{ task.url }}">{{ task.url }}</a>
                            to test it.
                        </p>                  

                        <p>
                            Resolving the domain name to an IP address took too long.
                        </p>
                    {% elseif task.output.result.isCurlUrlFormatFailure %}
                        <h2 class="info"><i class="icon-exclamation-sign"></i> Bad URL!</h2>
                        
                        <p>
                            We tried to retrieve the page at <a href="{{ task.url }}">{{ task.url }}</a>
                            to test it.
                        </p>                  

                        <p>
                            There's something funny about that URL. It's not made right, it can't be used.
                        </p>                                              
                    {% elseif task.output.result.isHtmlInvalidDocumentTypeFailure %}
                        <h2 class="info"><i class="icon-exclamation-sign"></i> Invalid document type!</h2>
                        
                        <p>
                            The page at <a href="{{ task.url }}">{{ task.url }}</a> contains an invalid
                            doctype declaration:
                        </p>
                        
                        <pre>{{ task.output.result.firstError.message }}</pre>

                        
                        <p>
                            Have a look at <a href="http://www.w3.org/QA/2002/04/valid-dtd-list.html">recommended doctype declarations</a>
                            and read more about <a href="http://en.wikipedia.org/wiki/Document_Type_Declaration">what a doctype declaration is</a>.
                        </p>
                        
                        <p>
                            
                        </p>                       
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </section>                 
            {% else %}
                {% if task.output.result.hasErrors %}
                <span id="error-list" class="section-marker"></span>
            <section>                
                <div class="span12">
                    <h2 class="info"><i class="icon-ban-circle"></i> Errors ({{ task.output.result.errorCount }}) </h2>                    
                    {% if task.type == 'CSS validation' %}
                        {% for ref,errors in errors_by_ref %}
                        <div>
                            <h3><i class="icon icon-file"></i> {% if ref == '' %}Inline in your HTML{% else %}{{ ref }}{% endif %}:</h3>                            
                            <ul class="errors">
                                {% for message in errors %}
                                    <li>
                                        {% include 'SimplyTestableWebClientBundle:Partials:task/css-validation-result.html.twig' %}                                    
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    {% elseif task.type == 'JS static analysis' %}
                        {% for context,errors in errors_by_js_context %}
                        <div>
                            <h3><i class="icon icon-file"></i> {% if context == 'inline' %}Inline in your HTML{% else %}{{ context }}{% endif %}:</h3>                            
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>
                                        {% include 'SimplyTestableWebClientBundle:Partials:task/js-static-analysis-result.html.twig' %}                               
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    {% else %}
                    <ul class="errors">
                        {% for error in task.output.result.getErrors %}
                            <li>
                                {% if task.type == 'HTML validation' %}
                                    {% include 'SimplyTestableWebClientBundle:Partials:task/html-validation-result.html.twig' %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>                           
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </section>                 
                {% endif %}
                
                {% if task.output.result.hasWarnings %}
                <span id="warning-list" class="section-marker"></span>                
            <section>                
                <div class="span12">
                    <h2 class="info"><i class="icon-exclamation-sign"></i> Warnings ({{task.output.result.warningCount}}) </h2>                    
                    {% if task.type == 'CSS validation' %}
                        {% for ref,warnings in warnings_by_ref %}
                        <div>
                            <h3><i class="icon icon-file"></i> {% if ref == '' %}Inline in your HTML{% else %}{{ ref }}{% endif %}:</h3>                            
                            <ul class="errors">
                                {% for message in warnings %}
                                    <li>
                                        {% include 'SimplyTestableWebClientBundle:Partials:task/css-validation-result.html.twig' %}                                    
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    {% elseif task.type == 'JS static analysis' %}
                        {% for context,errors in errors_by_js_context %}
                        <div>
                            <h3><i class="icon icon-file"></i> {% if context == 'inline' %}Inline in your HTML{% else %}{{ context }}{% endif %}:</h3>                            
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>
                                        {% include 'SimplyTestableWebClientBundle:Partials:task/js-static-analysis-result.html.twig' %}                               
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    {% else %}
                    <ul class="errors">
                        {% for error in task.output.result.getErrors %}
                            <li>
                                {% if task.type == 'HTML validation' %}
                                    {% include 'SimplyTestableWebClientBundle:Partials:task/html-validation-result.html.twig' %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>                           
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </section>                 
                {% endif %}                
                

                
                
            {% endif %}
        </div>
        {% endif %}
   
{% endblock %}  