{% include 'Partials/User/Account/Password/Alert/alerts.html.twig' %}

<form class="form-horizontal" role="form" method="post" action="{{ path('action_user_account_passwordchange_request') }}" novalidate>
    <div class="form-group">
        <label for="currentPassword" class="{{ label_col_class }} control-label">Current password</label>
        <div class="{{ field_col_class }}">
            <input type="password" class="form-control" id="currentPassword" name="current-password" placeholder="Current password">
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword" class="{{ label_col_class }} control-label">New password</label>
        <div class="{{ field_col_class }}">
            <input type="password" class="form-control" id="newPassword" name="new-password" placeholder="New password">
        </div>
    </div>
    <div class="form-group">
        <div class="{{ submit_col_class }}">
            <button type="submit" class="btn btn-default xs-full">Change password</button>
        </div>
    </div>
</form>
