{% extends 'SimplyTestableWebClientBundle::bs3/Abstract/single-page-dialog.html.twig' %}

{% block title %}Confirm sign up for {{ email }} - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormErrorHelper.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/jQuery/stFormHelper.js'
        '@SimplyTestableWebClientBundle/Resources/assets/bs3/js/form-helper.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body_class %} {{ parent() }} sign-up-confirm{% endblock %}

{% block content %}
    <h1>Confirm sign up</h1>

    {% include '@SimplyTestableWebClient/bs3/Partials/User/SignUp/Confirm/Alert/alerts.html.twig' %}

    <form role="form" method="post" action="{{ path('sign_up_confirm_submit', { 'email': email}) }}" novalidate>
        <div class="form-group-collection form-group-collection-single">
            <label for="token">Activation code</label>
            <div class="input-group input-group-larger">
                <input type="text"
                       class="form-control"
                       id="token"
                       name="token"
                       placeholder="Enter your activation code (it was emailed to you)"
                       value="{{ token }}"
                       data-focused
                >
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Activate!</button>
            </span>
            </div>
        </div>
    </form>

    <div class="additional input-additional ">
        <form role="form" method="post" action="{{ path('action_signup_user_confirm_resend', { 'email': email}) }}">
            <button class="btn btn-default" type="submit">I can't find my activation code, email it again!</button>
        </form>
    </div>
{% endblock %}
