{% extends 'SimplyTestableWebClientBundle::App/single-page-dialog.html.twig' %}

{% block title %}Reset password - {{ parent() }}{% endblock %}

{% block content %}

<h1>Reset password</h1>

<p>
    Enter the email address of your account. We'll send you an email to verify
    you own the address.
</p>

<p>
    Follow the instructions in the email we send you to choose a new
    password.
</p>

<form class="form-horizontal" method="post" action="{{ path('reset_password_submit') }}">
        {% if user_reset_password_error is defined and user_reset_password_error != '' %}
            {% if user_reset_password_error == 'blank-email' %}
        <div class="alert alert-error for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter in your email address of your account.
        </div>                
            {% endif %}  
        
            {% if user_reset_password_error == 'invalid-email' %}
        <div class="alert alert-error for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Hmmm.</strong> I'm not convinced that <strong>{{ email }}</strong> is a valid email address.
        </div>                
            {% endif %}         
        
            {% if user_reset_password_error == 'invalid-user' %}
        <div class="alert alert-error for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Hmmm.</strong> I've got no accounts for <strong>{{ email }}</strong>. Are you sure you
            entered the right email address?
        </div>                
            {% endif %}          
        {% endif %}  
        
        {% if user_reset_password_confirmation is defined and user_reset_password_confirmation != '' %}
            {% if user_reset_password_confirmation == 'token-sent' %}
        <div class="alert alert-success for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>
                <strong>Nearly there</strong>.
            </p>
            <p>
                We've emailed a special magic link to <strong> {{ email }}</strong>.
            </p>
            <p>
                Follow the link in the email to choose a new password.
            </p>            
        </div>
               
            {% endif %}          
        {% endif %}         
    
    <div class="larger">
        <div class="input-append">                    
            <input type="text" id="email" name="email" placeholder="Enter your email address" {% if email != '' %} value="{{ email }}" {% endif %} />
            <button class="btn btn-large btn-primary" type="submit">Send email!</button>
        </div>       
    </div>
</form>   

{% endblock %}