{% extends 'SimplyTestableWebClientBundle::App/single-page-dialog.html.twig' %}

{% block title %}Choose a new password - {{ parent() }}{% endblock %}

{% block content %}

<h1>Choose a new password</h1>

<p>
    Hello {{ email }}.
</p>

<p>
    Pop in your choice of new password below.
</p> 

<form class="form-horizontal" method="post" action="{{ path('reset_password_choose_submit') }}">
        {% if user_reset_password_error is defined and user_reset_password_error != '' %}
            {% if user_reset_password_error == 'failed-read-only' %}
        <div class="alert alert-error for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Sorry, I can't do that right now</strong></p>
            <p>
                We're in a <strong>read-only</strong> state whilst some 
                <strong>maintenance</strong> is going on.
            </p>
            <p>
                Give it a go again soon, this won't take long.
            </p>
        </div>                
            {% endif %}            
        
            {% if user_reset_password_error == 'blank-password' %}
        <div class="alert alert-error for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter your choice of password.
        </div>                
            {% endif %}         
        
            {% if user_reset_password_error == 'invalid-token' %}
        <div class="alert alert-error for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Something is wrong.</strong> The password reset link you followed has expired or isn't quite correct.</p>
            <p>
                Did you copy the link from the email you received? Try clicking the link. If you want to copy if, make sure
                you get it right.
            </p>
            <p>
                <a href="{{ path('reset_password', {'email': email}) }}">Get a new password reset link</a>
            </p>    
        </div>                
            {% endif %}         
        
            {% if user_reset_password_error == 'unknown-error' %}
        <div class="alert alert-error for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Hmmm. </strong> Something went wrong and I have no idea what. Can you try again?
        </div>                
            {% endif %}          
        {% endif %}  
        
        {% if user_reset_password_confirmation is defined and user_reset_password_confirmation != '' %}
            {% if user_reset_password_confirmation == 'token-sent' %}
        <div class="alert alert-success for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>
                <strong>Nearly there</strong>.
            </p>
            <p>
                We've emailed a special magic link to <strong> {{ email }}</strong>.
            </p>
            <p>
                Follow the link in the email to choose a new password.
            </p>            
        </div>
               
            {% endif %}          
        {% endif %}         
    
    <div class="larger">
        <div class="input-append">                    
            <input type="password" id="password" name="password" placeholder="Choose a new password"  />
            <input type="hidden" name="email" value="{{ email }}" />
            <input type="hidden" name="token" value="{{ token }}" />
            <button class="btn btn-large btn-primary" type="submit">Reset!</button>         
        </div>    
        <div>
            <label class="checkbox" id="stay-signed-in-container">
                <input type="checkbox" {% if stay_signed_in != "0" %}checked="checked"{% endif %} name="stay-signed-in" value="1"><span>Stay signed in</span>
            </label>                
        </div>
    </div>
</form>   

{% endblock %}