{% extends 'SimplyTestableWebClientBundle::App/single-page-dialog.html.twig' %}

{% block title %}Sign up - {{ parent() }}{% endblock %}

{% block content %}

<h1>Create your free account</h1>
<p>
    Sign up free in seconds to keep track of the tests you've started, find past test
    results, easily re-test when you make changes.
</p>

<form class="form-horizontal" method="post" action="{{ path('sign_up_submit') }}">            
        {% if user_create_error is defined and user_create_error != '' %}
            {% if user_create_error == 'blank-email' %}
        <div class="alert alert-error for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter in your email address to sign up.
        </div>                
            {% endif %}
        
            {% if user_create_error == 'blank-password' %}
        <div class="alert alert-error for:input-password">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to choose a password for your account.
        </div>                
            {% endif %}        

            {% if user_create_error == 'invalid-email' %}
        <div class="alert alert-error for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Hmmm.</strong> I'm not convinced that <strong>{{ email }}</strong> is a valid email address.
        </div>                
            {% endif %}                

            {% if user_create_error == 'create-failed' %}
        <div class="alert alert-error for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Something went wrong.</strong> I tried to sign up <strong>{{ email }}</strong> but it didn't
            work. I don't know why.
        </div>                
            {% endif %}                                                    
        {% endif %}

        {% if user_create_confirmation is defined and user_create_confirmation != '' %}
            {% if user_create_confirmation == 'user-exists' %}
        <div class="alert alert-success for:input-email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Guess what?</strong> Looks like <strong>{{ email }}</strong>
                already has an account.</p>
            <p>
                Do you need to <a href="{{ path('reset_password', {'email': email}) }}">reset your password</a>?                
            </p>
        </div>                
            {% endif %}                         
        {% endif %}

        <div class="larger">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Enter your email address" {% if email != '' %} value="{{ email }}" {% endif %}>
        </div>
        <div class="larger">
            <label  for="password">Password</label>
            <input name="password" type="password" id="password" placeholder="Choose a password" />
        </div>
        <div>
            <button class="submit btn btn-large btn-primary" type="submit">Sign up!</button>
        </div>
    </form>   

{% endblock %}