{% extends 'SimplyTestableWebClientBundle::App/single-page-dialog.html.twig' %}

{% block title %}Sign up - {{ parent() }}{% endblock %}

{% block content %}

<h1>Create your free account</h1>
<p>
    Sign up free in seconds to keep track of the tests you've started, find past test
    results, easily re-test when you make changes.
</p>
<p>
    Choose any premium plan free for the first 30 days.
</p>

<form class="form-horizontal" method="post" action="{{ path('sign_up_submit') }}">            
        {% if user_create_error is defined and user_create_error != '' %}
            {% if user_create_error == 'blank-email' %}
        <div class="alert alert-error for:email" data-for="email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to enter in your email address to sign up.
        </div>                
            {% endif %}
        
            {% if user_create_error == 'blank-password' %}
        <div class="alert alert-error for:input-password">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Slow down!</strong> You're going to have to choose a password for your account.
        </div>                
            {% endif %}        

            {% if user_create_error == 'invalid-email' %}
        <div class="alert alert-error for:email" data-for="email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Hmmm.</strong> I'm not convinced that <strong>{{ email }}</strong> is a valid email address.
        </div>                
            {% endif %}                

            {% if user_create_error == 'create-failed' %}
        <div class="alert alert-error for:email" data-for="email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Something went wrong.</strong> I tried to sign up <strong>{{ email }}</strong> but it didn't
            work. I don't know why.
        </div>                
            {% endif %}                                                    
        
            {% if user_create_error == 'create-failed-read-only' %}
        <div class="alert alert-error for:email" data-for="email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Sorry, I can't do that right now</strong></p>
            <p>
                We're in a <strong>read-only</strong> state whilst some 
                <strong>maintenance</strong> is going on.
            </p>
            <p>
                Give it a go again soon, this won't take long.
            </p>
        </div>                
            {% endif %}         
        {% endif %}

        {% if user_create_confirmation is defined and user_create_confirmation != '' %}
            {% if user_create_confirmation == 'user-exists' %}
        <div class="alert alert-success for:email" data-for="email">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>Guess what?</strong> Looks like <strong>{{ email }}</strong>
                already has an account.</p>
            <p>
                Do you need to <a href="{{ path('reset_password', {'email': email}) }}">reset your password</a>?                
            </p>
        </div>                
            {% endif %}                         
        {% endif %}

        <div class="larger">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Enter your email address" {% if email != '' %} value="{{ email }}" {% endif %}>
        </div>
        <div class="larger">
            <label  for="password">Password</label>
            <input name="password" type="password" id="password" placeholder="Choose a password" />
        </div>
        <div class="larger">
            <label  for="password">Account plan</label>
            <select name="plan">
                <option value="basic" {% if plan == 'basic' %}selected{% endif %}>Basic (free)</option>
                <option value="personal" {% if plan == 'personal' %}selected{% endif %}>Personal (&pound;9 per month)</option>
                <option value="agency" {% if plan == 'agency' %}selected{% endif %}>Agency (&pound;19 per month)</option>
                <option value="business" {% if plan == 'business' %}selected{% endif %}>Business (&pound;59 per month)</option>              
{#                <option value="enterprise" {% if plan == 'enterprise' %}selected{% endif %}>Enterprise (&pound;299 per month)</option>#}
            </select>
            <a href="{{ public_site['urls']['home'] }}{{ public_site['urls']['plans_and_pricing'] }}">View plan and pricing details <i class="icon icon-caret-right"></i></a>    
        </div>        
        <div>
            <button class="submit btn btn-large btn-primary" type="submit">Sign up!</button>
            <p class="terms-notice">
                By making use of this website you agree to the <a href="http://help.simplytestable.com/legal/terms-of-service/">terms of service</a>.
            </p>
        </div>
    </form>   

{% endblock %}