{% extends 'SimplyTestableWebClientBundle::App/single-page-dialog.html.twig' %}

{% block title %}Sign up - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Sign up</h1>
    <p>
        Keep track of the tests you've started, find past test
        results, easily re-test when you make changes.
    </p>

    <form class="form-horizontal" method="post" action="{{ path('sign_up_submit') }}">            
        {% if user_create_error is defined and user_create_error != '' %}
            {% if user_create_error == 'blank-email' %}
            <div class="alert alert-error for:input-email">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Slow down!</strong> You're going to have to enter in your email address to sign up.
            </div>                
            {% endif %}

            {% if user_create_error == 'invalid-email' %}
            <div class="alert alert-error for:input-email">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Hmmm.</strong> I'm not convinced that <strong>{{ user_create_email }}</strong> is a valid email address.
            </div>                
            {% endif %}                

            {% if user_create_error == 'create-failed' %}
            <div class="alert alert-error for:input-email">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Something went wrong.</strong> I tried to sign up <strong>{{ user_create_email }}</strong> but it didn't
                work. I don't know why.
            </div>                
            {% endif %}                                                    
        {% endif %}
            
        {% if user_create_confirmation is defined and user_create_confirmation != '' %}
            {% if user_create_confirmation == 'user-exists' %}
            <div class="alert alert-success for:input-email">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p><strong>Guess what?</strong> Looks like <strong>{{ user_create_email }}</strong>
                already has an account.</p>
                <p>
                    Do you need to <a href="#">reset your password</a>?
                </p>
            </div>                
            {% endif %}                         
        {% endif %}            
        <div class="larger">
            <div class="input-append">                    
                <input class="input-xlarge" type="text" id="email" name="email" placeholder="Enter your email address" {% if user_create_email != '' %} value="{{ user_create_email }}" {% endif %}>
                <button class="btn btn-large btn-primary" type="submit">Sign up!</button>
            </div>
        </div>
    </form>                
        
{% endblock %}