{% if remote_test is defined %}
    {% set test_cookies_enabled = remote_test.hasParameter('cookies') %}
    {% set test_cookies = (remote_test.hasParameter('cookes') ? remote_test.parameter('cookies') : [{'name': '', 'value': ''}]) %}
{% else %}
    {% set test_cookies_enabled = false %}
    {% set test_cookies = test_options.cookies %}
{% endif %}

{% if read_only is not defined %}
    {% set read_only = false %}
{% endif %}

{% if data_for_attribute is not defined %}
    {% set data_for_attribute = 'cookies-options-modal' %}
{% endif %}

<div id="cookies-action-badge" class="modal-action-badge">
    <i class="fa fa-fw fa-adjust icon-primary"></i>
    <span class="content">
        Custom cookies

        <span class="actions">
            <span class="status">{{ (test_cookies_enabled) ? 'enabled' : 'not enabled' }}</span>

            {% if not read_only %}
                <span class="modal-control" data-for="">
                    change
                </span>
            {% endif %}
        </span>

    </span>
</div>

<div class="modal" id="cookies-options-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-name="close" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Custom cookies</h3>
                <p>
                    For testing sites that use cookies for authentication or for user-specific content. Add any number of cookies.
                </p>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th class="value">Value</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cookie in test_cookies %}
                        <tr>
                            <td class="name">
                                <input name="cookies[{{loop.index0}}][name]"
                                       class="form-control"
                                       type="text"
                                       placeholder="Cookie name"
                                       value="{{ cookie.name }}">
                            </td>
                            <td class="value">
                                <input name="cookies[{{loop.index0}}][value]"
                                       class="form-control"
                                       type="text"
                                       placeholder="Cookie value"
                                       value="{{ cookie.value is defined ? cookie.value : '' }}">
                            </td>
                            <td class="remove">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <button type="button" id="cookies-options-add-cookie" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add another cookie</button>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="closed-by">
                <button class="btn btn-primary" data-dismiss="modal" data-name="apply" aria-hidden="true">
                    Apply
                </button>
            </div>
        </div>
    </div>
</div>
