{% if read_only is not defined %}
    {% set read_only = false %}
{% endif %}

<div id="cookies-action-badge">
    <i class="fa fa-adjust icon-primary"></i>
    Custom cookies

    {% if read_only %}
        {% if test_cookies_enabled %}
            <span class="status modal-control" data-for="cookies-options-modal">
                enabled
            </span>
        {% else %}
            not enabled
        {% endif %}
    {% else %}
        <span class="status">{{ (test_cookies_enabled) ? 'enabled' : 'not enabled' }}</span>
        <span class="modal-control" data-for="cookies-options-modal">
            change
        </span>
    {% endif %}
</div>

<div class="modal" id="cookies-options-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-name="close" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Custom cookies</h3>
                <p>
                    For testing sites that use cookies for authentication or for user-specific content. Add any number of cookies.
                </p>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th class="value">Value</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cookie in test_cookies %}
                        <tr>
                            <td class="name">
                                <input name="cookies[{{loop.index0}}][name]"
                                       class="form-control"
                                       type="text"
                                       placeholder="Cookie name"
                                       value="{{ cookie.name }}">
                            </td>
                            <td class="value">
                                <input name="cookies[{{loop.index0}}][value]"
                                       class="form-control"
                                       type="text"
                                       placeholder="Cookie value"
                                       value="{{ cookie.value is defined ? cookie.value : '' }}">
                            </td>
                            <td class="remove">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <button type="button" id="cookies-options-add-cookie" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add another cookie</button>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="closed-by">
                <button class="btn btn-primary" data-dismiss="modal" data-name="apply" aria-hidden="true">
                    Apply
                </button>
            </div>
        </div>
    </div>
</div>
