{% extends 'base.html.twig' %}

{% block title %}{% if is_logged_in == false %}Demo{% endif %} Dashboard (Start Test, Test History) - {{ parent() }}{% endblock %}

{% block body_class %}{{ parent() }} full-width dashboard {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="alert-container">
        {% if is_logged_in == false %}
            {% include 'Partials/Generic/limited-demo-notification.html.twig' %}
        {% endif %}
    </div>

    <div class="header">
        <div class="container">
            <form id="test-start-form" method="post" action="{{ path('action_test_start') }}">
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'Partials/Dashboard/TestStart/Alert/alerts.html.twig' %}

                        <label for="website" class="sr-only">
                            What website or page do you want to test?
                        </label>
                        <input id="website"
                               type="text"
                               name="website"
                               class="form-control"
                               placeholder="Enter the site or web page you want to test"
                               {% if website is defined and website is not empty %}value="{{ website.raw }}"{% endif %}
                               data-focused
                        >
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6">
                        <p class="sr-only">What tests do you want to carry out?</p>
                        {% include 'Partials/Dashboard/TaskTypes/task-types.html.twig' %}

                        {% if 'link-integrity' not in available_task_types|keys %}
                            {% include 'Modal/Notification/AccountRequired/link-integrity.html.twig' %}
                        {% endif %}

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="row buttons">
                            <div class="col-lg-6 col-md-12 col-xs-6 btn-container">
                                <button class="btn btn-primary" type="submit" name="full-single" value="full">
                                    <i class="fa fa-fw fa-globe"></i>
                                    Test entire site
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-6 btn-container">
                                <button class="btn btn-default" type="submit" name="full-single" value="single">
                                    <i class="fa fa-fw fa-circle-o"></i>
                                    Test this page only
                                </button>
                            </div>
                        </div>
                        <div class="row options">
                            {% if test_options['http-authentication'] is defined %}
                                <div class="test-option http-authentication-test-option">
                                    {% if not is_logged_in %}
                                        {% set data_target_id = 'http-authentication-account-required-modal' %}
                                        {% include 'Modal/Notification/AccountRequired/http-authentication.html.twig' %}
                                    {% endif %}

                                    {% include 'Partials/Test/Options/HttpAuthentication/http-authentication.html.twig' %}
                                </div>
                            {% endif %}

                            {% if test_options['cookies'] is defined %}
                                <div class="test-option cookies-test-option">
                                    {% if not is_logged_in %}
                                        {% set data_target_id = 'cookies-account-required-modal' %}
                                        {% include 'Modal/Notification/AccountRequired/cookies.html.twig' %}
                                    {% endif %}

                                    {% include 'Partials/Test/Options/Cookies/cookies.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="collapse-control-group">
                            {% if 'css-validation' in available_task_types|keys %}
                                <span class="collapse-control collapsed link"
                                      data-toggle="collapse"
                                      data-target="#css-validation-options-advanced"
                                      data-icon-additional-classes="fa-fw"
                                >
                                    <span class="content">Advanced CSS validation options</span>
                                </span>
                            {% endif %}
                        </div>

                        {% if 'css-validation' in available_task_types|keys %}
                            {% include 'Partials/Test/Options/css-validation/advanced-options.html.twig' with {'is_disabled': false, 'container_classes': ['test-options-set']} %}
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container recent-activity-container hidden">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12" id="recent-activity">
                <h2>Recent activity</h2>
                <a href="{{ path('view_test_history_page1') }}">Full test history <i class="fa fa-caret-right"></i></a>

                <div class="test-list"
                     data-source-url="{{ path('view_partials_recenttests') }}"
                >
                    <i class="fa fa-spin fa-spinner js-prefill-spinner"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
