{% extends 'Abstract/single-page-dialog.html.twig' %}

{% set dialog_width = 6 %}

{% block title %}Preparing results for {% include 'Partials/url/utf8-schemeless-possibly-truncated-64.html.twig' with {'url': website} %} (#{{test.testId}}) - {{ parent() }}{% endblock %}
{% block body_class %} {{ parent() }} test-results-preparing {% endblock %}
{% set route_parameters = {website: website.raw, test_id: test.testId} %}

{% set body_attrs = [
    'data-remaining-tasks-to-retrieve-count="' ~ remaining_tasks_to_retrieve_count ~ '"',
    'data-unretrieved-remote-task-ids-url="' ~ path('test_task_ids_unretrieved', route_parameters|merge({limit: 100})) ~ '"',
    'data-results-retrieve-url="' ~ path('task_results_retrieve', { test_id: test.testId }) ~ '"',
    'data-preparing-stats-url="' ~ path('view_test_results_preparing_stats', { test_id: test.testId }) ~ '"',
    'data-results-url="' ~ path('view_test_results', route_parameters) ~ '"'
] %}

{% block body_attrs %}{{ body_attrs|join(' ')|raw }}{% endblock %}

{% block content %}

    <h1>Preparing results &hellip; <span class="completion-percent-value">{{ completion_percent }}</span>% done</h1>

    <p class="intro">
        I'm gathering the results for test <strong><span title="{{website.utf8.raw}}" id="website">{% include 'Partials/url/utf8-raw-possibly-truncated-40.html.twig' with {'url': website} %}</span> (#<span id="testId">{{test.testId}}</span>)</strong>
    </p>

    <p class="summary">
        Retrieved <strong class="local-task-count">{{ local_task_count }}</strong> results of <strong class="remote-task-count">{{ remote_task_count }}</strong>
        <i class="fa fa-spinner fa-spin"></i>
    </p>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ completion_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ completion_percent }}%;"></div>
    </div>
{% endblock %}
