{% extends 'base.html.twig' %}

{% set is_readonly = (is_owner == false) %}

{% block title %}{{ task_type }} report for {% include 'Partials/url/utf8-schemeless-possibly-truncated-64.html.twig' with {'url': website} %} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block body_class %} {{ parent() }} full-width test-results-by-task-type task-type-{{ task_type|lower|replace({' ': '-'}) }} {{ filter }} {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="alert-container">
        {% include 'Partials/Generic/Notification/Conditional/url-limit.html.twig' %}
        {% include 'Partials/Generic/Notification/Conditional/read-only-test.html.twig' %}
    </div>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span id="device-size-lg"></span>
                    <span id="device-size-md"></span>
                    <span id="device-size-sm"></span>
                    <span id="device-size-xs"></span>

                    <h1>
                        {{ task_type }} report for
                        <a href="{{ path('view_test_results_index_index', {'website': website.raw, 'test_id': test.testId}) }}">
                            <span id="test-url" title="{{website.raw}}">{{ website.utf8.schemeless.raw }}</span>
                            <span id="test-id">(#{{ test.testId }})</span>
                        </a>
                    </h1>

                    <p class="lead">
                        {% include 'Partials/Generic/single-plural-item.html.twig' with {'value': error_task_maps.uniqueErrorCount, 'singular': 'unique error'} %} found in {% include 'Partials/Generic/single-plural-item.html.twig' with {'value': tasks|length, 'singular': 'page'} %}.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="{{ filter == 'by-error' ? 'active' : '' }}">
                        <a href="{{ path('view_test_results_bytasktype_index', {'website': website.raw, 'test_id': test.testId, 'task_type': task_type|lower|replace({' ':'+'}), 'filter': 'by-error'}) }}">
                            By error ({% include 'Partials/Generic/single-plural-item.html.twig' with {'value': error_task_maps.uniqueErrorCount, 'singular': 'unique error'} %})
                        </a>
                    </li>
                    <li class="{{ filter == 'by-page' ? 'active' : '' }}">
                        <a href="{{ path('view_test_results_bytasktype_index', {'website': website.raw, 'test_id': test.testId, 'task_type': task_type|lower|replace({' ':'+'}), 'filter': 'by-page'}) }}">
                            By page ({% include 'Partials/Generic/single-plural-item.html.twig' with {'value': tasks|length, 'singular': 'page'} %})
                        </a>
                    </li>
                </ul>

                {% if filter == 'by-page' %}
                    <div class="by-page-container">
                        {% if tasks|length > 0 %}
                            {% include 'Partials/Test/Results/ByTaskType/sort-row.html.twig' with {} only %}
                        {% endif %}

                        {% include 'Partials/Test/Results/ByTaskType/task-error-count-task-list.html.twig' with {
                            tasks: tasks,
                            test_results_route_parameters: {
                                website: website.raw, test_id: test.testId, trailingSlash:''
                            }
                        } only %}
                    </div>
                {% else %}
                    <ul class="task-list list-unstyled by-error-container">
                        {% for error_index, error_task_map in error_task_maps.errorTaskMaps %}
                            {% set is_collapsible = error_task_map.tasks|length > 1 %}

                            <li class="error">
                                <h3>{{ error_task_map.message|replace({'&#39;': "'"}) }}</h3>

                                {% set found_X_times_in_Y_pages %}
                                    Found
                                    <span class="error-count" data-count="{{ error_task_map.cumulativeOccurrenceCount }}">
                                        {% include 'Partials/Generic/once-twice-x-times.html.twig' with {'value': error_task_map.cumulativeOccurrenceCount} %}
                                    </span>
                                    in
                                    {% include 'Partials/Generic/single-plural-item.html.twig' with {'value': error_task_map.tasks.count, 'singular': 'page'} %}
                                {% endset %}

                                {% if is_collapsible %}
                                    <a class="lead caret-container collapse-control collapsed"
                                       data-toggle="collapse"
                                       data-target="collapse{{ error_index }}"
                                       href="#collapse{{ error_index }}"
                                    >
                                        {{ found_X_times_in_Y_pages }}
                                    </a>
                                {% else %}
                                    <p class="lead">
                                        {{ found_X_times_in_Y_pages }}
                                        <span class="colon">:</span>
                                    </p>
                                {% endif %}

                                <div class="by-page-container {% if is_collapsible %}collapse{% endif %}" id="collapse{{ error_index }}">
                                    {% if is_collapsible %}
                                        {% include 'Partials/Test/Results/ByTaskType/sort-row.html.twig' with {} only %}
                                    {% endif %}

                                    {% include 'Partials/Test/Results/ByTaskType/occurrence-count-by-error-message-task-list.html.twig' with {
                                        tasks: error_task_map.tasks,
                                        test_results_route_parameters: {
                                            website: website.raw, test_id: test.testId, trailingSlash:''
                                        },
                                        error_message: error_task_map.message,
                                        message_hash: error_task_map.messageHash
                                    } only %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
