{% extends 'Abstract/single-page-dialog.html.twig' %}

{% set field_email = constant('App\\Request\\User\\SignInRequest::PARAMETER_EMAIL') %}
{% set field_password = constant('App\\Request\\User\\SignInRequest::PARAMETER_PASSWORD') %}
{% set field_stay_signed_in = constant('App\\Request\\User\\SignInRequest::PARAMETER_STAY_SIGNED_IN') %}
{% set field_redirect = constant('App\\Request\\User\\SignInRequest::PARAMETER_REDIRECT') %}

{% block title %}Sign in - {{ parent() }}{% endblock %}

{% block body_class %} {{ parent() }} sign-in {% endblock %}

{% block content %}
    <h1>Sign in</h1>

    {% include 'Partials/User/SignIn/Alert/before-form.html.twig' %}

    <form role="form" method="post" action="{{ path('action_user_sign_in_submit') }}" novalidate>
        {% include 'Partials/User/SignIn/Alert/within-form.html.twig' %}

        <div class="form-group-collection">
            <div class="form-group">
                <label for="{{ field_email }}">Email address</label>
                <input name="{{ field_email }}"
                       type="email"
                       class="form-control input-larger"
                       id="{{ field_email }}"
                       placeholder="Enter your email address" {% if email != '' %} value="{{ email }}" {% endif %}
                       {{ selected_field == field_email ? 'data-focused' : '' }}
                >
            </div>

            <div class="form-group">
                <label for="{{ field_password }}">Password</label>
                <input name="{{ field_password }}"
                       type="password"
                       class="form-control input-larger"
                       id="{{ field_password }}"
                       placeholder="Enter your password"
                       {{ selected_field == field_password ? 'data-focused' : '' }}
                >
            </div>
        </div>

        <div class="form-group-collection form-group-submit-collection">
            <input type="hidden" name="{{ field_redirect }}" value="{{ redirect }}" />
            <button id="submit" type="submit" class="btn btn btn-primary">Sign in!</button>
            <label class="checkbox">
                <input type="checkbox" {% if stay_signed_in != "0" %}checked="checked"{% endif %} name="{{ field_stay_signed_in }}" value="1"><span>Stay signed in</span>
            </label>
        </div>
    </form>

    <div class="additional single-button-form" >
        <a class="btn btn-default" href="{{ path('view_user_reset_password_request', {'email': email}) }}">I need to reset my password <i class="fa fa-caret-right"></i></a>
    </div>
{% endblock %}
