{% extends 'Abstract/single-page-dialog.html.twig' %}

{% block title %}Choose a new password - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Choose a new password</h1>

    <p>
        Hello <strong>{{ email }}</strong>.

        Pop in your choice of new password below.
    </p>

    {% include 'Partials/User/ResetPassword/Choose/Alert/alerts.html.twig' %}

    <form role="form" method="post" action="{{ path('action_user_reset_password_choose') }}">
        <div class="form-group-collection form-group-collection-single">
            <div class="input-group input-group-larger">
                <input type="hidden" name="email" value="{{ email }}" />
                <input type="hidden" name="token" value="{{ token }}" />
                <input type="password"
                       class="form-control input-larger"
                       id="password"
                       name="password"
                       placeholder="Choose a new password"
                       data-focused
                >
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Reset!</button>
                </span>
            </div>
            <label class="checkbox">
                <input type="checkbox" {% if stay_signed_in != "0" %}checked="checked"{% endif %} name="stay-signed-in" value="1"><span>Stay signed in</span>
            </label>
        </div>
    </form>
{% endblock %}
