{% extends 'user-account-base.html.twig' %}

{% set label_width_class = 'col-lg-3 col-md-4 col-sm-3' %}
{% set full_field_width_class = 'col-lg-9 col-md-8 col-sm-8' %}
{% set full_field_width_offset = 'col-lg-offset-3 col-md-offset-4 col-sm-offset-4' %}
{% set field_width_class = 'col-lg-5 col-md-5 col-sm-5' %}
{% set intro_width_class = 'col-lg-offset-3 col-md-offset-4 col-sm-offset-3' %}

{% set default_form_group_parameters = {
    full_field_width_class: full_field_width_class,
    full_field_width_offset: full_field_width_offset,
    label_width_class: label_width_class,
    field_width_class: full_field_width_class,
    field_view: 'Partials/User/Account/Card/FormField/text_field.html.twig'
} %}

{% block title %}Your card details ({{ user.username }}) - {{ parent() }}{% endblock %}
{% block heading %}<a href="{{ path('view_user_account') }}">{{ parent() }}</a>: your card details{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    {{ parent() }}
{% endblock %}

{% block body_class %} {{ parent() }} user-account-card {% endblock %}

{% block account_content %}
    <form class="form-horizontal js-form-button-spinner"
          role="form"
          id="payment-form"
          action={{ path('action_user_account_card_associate', {'stripe_card_token' : 'stripe_card_token'}) }}
          data-stripe-publishable-key="{{ stripe_publishable_key }}"
          novalidate>

        <div class="account-section" id="cardholder">
            <div class="{{ intro_width_class }} intro">
                <h2>Card holder</h2>
            </div>
            {% include 'Partials/User/Account/Card/cardholder-form-fields.html.twig' %}
        </div>

        <div class="account-section" id="credit-card">
            <div class="{{ intro_width_class }} intro">
                <h2>Credit card</h2>

                <p>
                    We accept Visa and Mastercard credit and debit cards.
                </p>
            </div>
            {% include 'Partials/User/Account/Card/card-form-fields.html.twig' %}
        </div>

        <div class="{{ intro_width_class }} submit">
            <button type="submit" class="btn btn-default xs-full">
                {% if user_summary.stripeCustomer.hasActiveCard %}
                    Update
                {% else %}
                    Add
                {% endif %}
                card
                <i class="fa fa-caret-right"></i>
            </button>
        </div>

    </form>
{% endblock %}