

<h2>Accept or decline team {{ (invites|length == 1) ? 'invitation' : 'invites' }}</h2>

{% if invites|length == 1 %}
    <p>
        You have been invited to join team <strong>{{ invites[0].team }}</strong>.
    </p>
    <form role="form">
        <input type="hidden" name="team" value="{{ invites[0].team }}">
        <button type="submit" class="btn btn-success" name="accept-decline" value="accept">Accept invitation</button>
        <button type="submit" class="btn btn-default" name="accept-decline" value="decline">Decline</button>
    </form>
{% else %}
    <p>
        You have invites to join {{ invites|length }} teams. You can accept only one.
    </p>
    <ul class="list-unstyled invites">
        {% for invite in invites %}
            <li>
                <p>
                    Invitation to team <strong>{{ invite.team }}</strong>:
                </p>
                <form role="form">
                    <input type="hidden" name="team" value="{{ invite.team }}">
                    <button type="submit" class="btn btn-success" name="accept-decline" value="accept">Accept invitation</button>
                    <button type="submit" class="btn btn-default" name="accept-decline" value="decline">Decline</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endif %}