{% extends 'SimplyTestableWebClientBundle::bs3/base.html.twig' %}

{% set default_dialog_width = 6 %}
{% if dialog_width is not defined %}{% set dialog_width = default_dialog_width %}{% endif %}

{% set dialog_width_lg = dialog_width %}
{% set dialog_offset_lg = (12 - dialog_width_lg) / 2 %}

{% if dialog_width == 6 %}
    {% set dialog_width_md = 8 %}
    {% set dialog_offset_md = 2 %}

    {% set dialog_width_sm = 10 %}
    {% set dialog_offset_sm = 1 %}
{% elseif dialog_width == 8 %}
    {% set dialog_width_md = 10 %}
    {% set dialog_offset_md = 1 %}

    {% set dialog_width_sm = 12 %}
    {% set dialog_offset_sm = 0 %}
{% else %}
    {% set dialog_width_md = dialog_width %}
    {% set dialog_offset_md = (12 - dialog_width_md) / 2 %}

    {% set dialog_width_sm = dialog_width %}
    {% set dialog_offset_sm = (12 - dialog_width_sm) / 2 %}
{% endif %}

{% block body_class %} single-page-dialog single-page-dialog-{{ dialog_width }} {{ parent() }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@SimplyTestableWebClientBundle/Resources/assets/bs3/css/single-page-dialog.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset('build/single-page-dialog.css') }}">
{% endblock %}

{% block body%}
    <div class="container">
        <div class="row">
            {# Center column by setting an offset equal to half of the
               remaining size of the row. Works for equal column widths only.
            #}
            <div class="col-xs-12 col-sm-{{dialog_width_sm}} col-sm-offset-{{dialog_offset_sm}} col-md-{{dialog_width_md}} col-md-offset-{{dialog_offset_md}} col-lg-{{dialog_width_lg}} col-lg-offset-{{dialog_offset_lg}}">
                {% block navbar_content %}
                    {% include 'SimplyTestableWebClientBundle:bs3/Partials/SinglePageDialog:navbar.html.twig' %}
                {% endblock %}
                <section>
                    <div id="content">{% block content %}{% endblock %}</div>
                </section>

                <div id="footer">
                    <ul class="list-inline">
                        <li><a href="{{ public_site.urls.home }}">Home</a></li>
                        <li><a href="mailto:{% autoescape false %}{{ external_links.contact_email }}{% endautoescape %}">Contact</a></li>
                        <li><a href="{{ external_links.privacy }}">Privacy</a></li>
                        <li><a href="{{ external_links.terms }}">Terms</a></li>
                        <li><a href="{{ path('view_dashboard_index_index') }}">Dashboard</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
{% endblock %}