{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}
{% if test is defined %}
Testing {{website}} (#{{test.testId}}) - {{ parent() }}
{% else %}
Testing {{website}} - {{ parent() }}
{% endif %}
{% endblock %}



{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/bundles/simplytestablewebclient/js/punycode.min.js"></script>
<script type="text/javascript" src="/bundles/simplytestablewebclient/js/moment.min.js"></script>
{% endblock %} 

{% block body_class %}{{ parent() }} app-progress {% endblock %}

{% block main %}         
<div class="row-fluid">
    <div class="span12">
        {% if test_cancel_error is defined and test_cancel_error != '' %}           
            {% if test_cancel_error == 503 %}
            <div class="alert alert-error">   
                Oops. We're in a <strong>read-only</strong> state whilst some 
                <strong>maintenance</strong> is going on. You can cancel
                this test right now.
            </div> 
            {% endif %}        
        {% endif %}

        {% if remote_test_summary.ammendments is defined %}
            {% if remote_test_summary.ammendments[0].constraint is defined %}
            <div class="alert alert-info alert-ammendment alert-from-view">
                <i class="icon icon-warning-sign"></i>
                <span>
{% include 'SimplyTestableWebClientBundle:Partials:test-url-limit-notification.html.twig' %}
                    </span>
                </div>                
            {% endif %}         
        {% endif %}

        {% if remote_test_summary.crawl is defined and remote_test_summary.crawl.limit and remote_test_summary.crawl.discovered_url_count == remote_test_summary.crawl.limit  %}
                <div class="alert alert-info alert-ammendment alert-from-view">
                    <i class="icon icon-warning-sign"></i>
                    <span>
{% include 'SimplyTestableWebClientBundle:Partials:crawl-url-limit-notification.html.twig' %}
                        </span>
                    </div>       
        {% endif %}            

                {% include 'SimplyTestableWebClientBundle:Partials:header-progress.html.twig' %}
                </div>
            </div>


            <section>
                <div class="row-fluid">
                    <div class="span12">
                    {% include 'SimplyTestableWebClientBundle:Partials/progress:completion-percent.html.twig' %}
                    </div>                
                </div>          
            </section>


    {% include 'SimplyTestableWebClientBundle:Partials:progress/task-states.html.twig' %}
    {% include 'SimplyTestableWebClientBundle:Partials:progress/task-progress.html.twig' %}
   


{% endblock %}

{% block latest %}
{% endblock %}