{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}
{% if test is defined %}
Testing {{website}} (#{{test.testId}}) - {{ parent() }}
{% else %}
Testing {{website}} - {{ parent() }}
{% endif %}
{% endblock %}



{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/bundles/simplytestablewebclient/js/punycode.min.js"></script>
<script type="text/javascript" src="/bundles/simplytestablewebclient/js/moment.min.js"></script>
{% endblock %} 

{% block body_class %}{{ parent() }} app-progress {% endblock %}

{% block main %}         
<div class="row-fluid">
    <div class="span12">         
        {% if reason == 503 %}
            <div class="alert alert-info">       
                We're in a <strong>read-only</strong> state whilst some 
                <strong>maintenance</strong> is going on. Your test has been queued 
                and will be started before too long.
            </div> 
        {% endif %}        


        {% include 'SimplyTestableWebClientBundle:Partials:header-progress.html.twig' %}
    </div>
</div>   


{% endblock %}

{% block latest %}
{% endblock %}