{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}
{% if test is defined %}
Testing {{website}} (#{{test.testId}}) - {{ parent() }}
{% else %}
Testing {{website}} - {{ parent() }}
{% endif %}
{% endblock %}



{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/bundles/simplytestablewebclient/js/punycode.min.js"></script>
<script type="text/javascript" src="/bundles/simplytestablewebclient/js/moment.min.js"></script>
{% endblock %} 

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

        {% if remote_test.ammendments is defined %}
            {% if remote_test.ammendments[0].constraint is defined %}
<div class="full-width-container full-width-notification alert-ammendment">
    <div class="container main">
        <div class="row-fluid">
            <div class="span12">
{% include 'SimplyTestableWebClientBundle:Partials:test-url-limit-notification.html.twig' %}
            </div>
        </div>
    </div>
</div>
            {% endif %}         
        {% endif %}

<div class="full-width-container progress-header">
    <div class="container main">            
        <div class="row-fluid">
            <div class="span12">
        {% if is_owner == false and is_public_user_test == false %}
<div class="alert alert-info alert-from-view">
    <i class="icon icon-exclamation-sign"></i>
    <span>
        You're viewing a <strong>read-only version</strong> of this test. <a href="{{ path('sign_in') }}">Sign in</a> if you're the test owner to manage this test.
    </span>
</div>             
        {% endif %}

                {% include 'SimplyTestableWebClientBundle:Partials:header-progress.html.twig' %}     
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="main">
{% block main %}
    {% include 'SimplyTestableWebClientBundle:Partials:progress/task-states.html.twig' %}
    {% include 'SimplyTestableWebClientBundle:Partials:progress/task-progress.html.twig' %}
{% endblock %}
    </div>                       
</div>

{% endblock %}