{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Testing {{test.website}} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block main %}         
        <div class="row-fluid">
            <div class="span12">
                {% include 'SimplyTestableWebClientBundle:Partials:test-input.html.twig' %} 
            </div>
        </div>


        <section>
            <div class="row-fluid">
                <div class="span12">
                    {% include 'SimplyTestableWebClientBundle:Partials/progress:completion-percent.html.twig' %}
                </div>                
            </div>          
        </section>


        <div class="row-fluid">
            <section>                
                <div class="span12" id="test-summary">
                    <h2 class="info"><i class="icon-certificate"></i> Summary (<span id="url-list-url-count">{{ tasksByUrl | length }}</span> urls, <span id="url-list-task-count">{{ taskCount }}</span> tests)</h2>
                    {% include 'SimplyTestableWebClientBundle:Partials:progress/task-states.html.twig' %}
                </div>
                <div class="clearfix"></div>
            </section>
        </div>

        <div id="test-list">
            <div class="row-fluid">
                <div class="span12">
                    <section id="url-list">
                        <h2 class="info"><i class="icon-tasks"></i> Progress</h2>
                        {% include 'SimplyTestableWebClientBundle:Partials:url-list.html.twig' %}      
                    </section>  
                </div>
            </div>            
        </div>    
{% endblock %}

{% block latest %}
{% endblock %}