{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Testing {{test.website}} (#{{test.id}}) - {{ parent() }}{% endblock %}

{% block main %}         
    {% include 'SimplyTestableWebClientBundle:Partials:test-input.html.twig' %}
<div id="progress">
    {% if url_total > 0 %}
    <section id="completion-percent">    
        <h2 class="info"><i class="icon-info-sign"></i>
            {% if test.state == 'queued' %}
                Queued, waiting to start
            {% elseif test.state == 'preparing' or test.state == 'in-progress' %}
                Running now, {{ completion_percent }}% done
            {% endif %}
                
            <div class="progress progress-striped active">
                <div class="bar" style="width:{{ completion_percent }}%;"></div>
            </div>                
        </h2>
    </section>
        
    <section id="url_list">
        <h2 class="info"><i class="icon-info-sign"></i> Tests ({{ url_total }} urls, {{ task_total}} tests)</h2>
        
        <table class="test-states">
            <tbody>
                <tr class="queued">
                    <th><span class="label label-warning">Queued</span></th>
                    <td class="bar"><span class="label label-warning" style="width:{% if task_state_total.queued == 0 %} 1{% else %} {{ (task_state_total.queued / task_total) * 100}}{% endif %}%;">{{ task_state_total.queued }}</span></td>
                </tr>
                <tr class="in-progress">
                    <th><span class="label label-info">In Progress</span></th>
                    <td class="bar"><span class="label label-info" style="width:{% if task_state_total.in_progress == 0 %} 1{% else %} {{ (task_state_total.in_progress / task_total) * 100}}{% endif %}%;">{{ task_state_total.in_progress }}</span></td>
                </tr>
                <tr class="completed">                
                    <th><span class="label label-success">Completed</span></th>
                    <td class="bar"><span class="label label-success" style="width:{% if task_state_total.completed == 0 %} 1{% else %} {{ (task_state_total.completed / task_total) * 100}}{% endif %}%;">{{ task_state_total.completed }}</span></td>
                </tr>            
            </tbody>
        </table>
        
        <ul class="urls">
        {% for url in urls %}             
            <li class="url">               
                <span class="url">{{ url }}</span>
                <span class="tasks">
                    <ul class="tasks">
                    {% for task in test.tasks %}
                        {% if task.url == url %}
                            <li class="task {{task.state}}">
                                <span class="state">
                                    {% if task.state == 'queued' %}
                                        <i class="icon-cog"></i>
                                    {% elseif task.state == 'in-progress' %}
                                        <i class="icon-cogs"></i>
                                    {% else %}
                                        <i class="icon-bar-chart"></i>
                                    {% endif %}
                                </span>                                
                                <span class="type">{{ task.type}}</span>
                            </li>                            
                        {% endif %}
                    {% endfor %} 
                    </ul>
                </span>                    
            </li>
        {% endfor %}              
        </ul>      
    </section>
    {% endif %}
</div>

{% endblock %}

{% block latest %}

{% endblock %}