{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}
{% if test is defined %}
Testing {{website}} (#{{test.testId}}) - {{ parent() }}
{% else %}
Testing {{website}} - {{ parent() }}
{% endif %}
{% endblock %}



{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/bundles/simplytestablewebclient/js/punycode.min.js"></script>
<script type="text/javascript" src="/bundles/simplytestablewebclient/js/moment.min.js"></script>
{% endblock %} 

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

<div class="full-width-container">
    <div class="container main">            
        <div class="row-fluid">
            <div class="span12">
                {% if remote_test_summary.ammendments is defined %}
                    {% if remote_test_summary.ammendments[0].constraint is defined %}
                    <div class="alert alert-info alert-ammendment alert-from-view">
                        <i class="icon icon-exclamation-sign"></i>
                        <span>
        {% include 'SimplyTestableWebClientBundle:Partials:test-url-limit-notification.html.twig' %}
                        </span>
                    </div>                
                    {% endif %}         
                {% endif %}
                    
        {% if is_owner == false %}
<div class="alert alert-info alert-from-view">
    <i class="icon icon-exclamation-sign"></i>
    <span>
This is a <strong>read-only version</strong> of this test.
    </span>
</div>             
        {% endif %}                    

                {% include 'SimplyTestableWebClientBundle:Partials:header-progress.html.twig' %}     
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="main">
{% block main %}
    {% include 'SimplyTestableWebClientBundle:Partials:progress/task-states.html.twig' %}
    {% include 'SimplyTestableWebClientBundle:Partials:progress/task-progress.html.twig' %}
{% endblock %}
    </div>                       
</div>

{% endblock %}