{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Testing {{website}} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/bundles/simplytestablewebclient/js/punycode.min.js"></script>
{% endblock %} 

{% block body_class %}{{ parent() }} app-progress {% endblock %}

{% block main %}         
<div class="row-fluid">
    <div class="span12">
                {% include 'SimplyTestableWebClientBundle:Partials:test-input.html.twig' %} 
        </div>
    </div>


    <section>
        <div class="row-fluid">
            <div class="span12">
                    {% include 'SimplyTestableWebClientBundle:Partials/progress:completion-percent.html.twig' %}
                </div>                
            </div>          
        </section>


        <div class="row-fluid">
            <section>                
                <div class="span12" id="test-summary">
                    <h2 class="info"><i class="icon-certificate"></i> Summary (<span id="test-summary-url-count">{{ remote_test_summary.url_count }}</span> urls, <span id="test-summary-task-count">{{ remote_test_summary.task_count }}</span> tests)</h2>
                    {% include 'SimplyTestableWebClientBundle:Partials:progress/task-states.html.twig' %}
                </div>
                <div class="clearfix"></div>
            </section>
        </div>


        <div id="test-list">
            <div class="row-fluid">
                <div class="span12">
                    <section id="task-list-container">
                        <h2 class="info"><i class="icon-tasks"></i> Progress</h2>
                    </section>  
                </div>
            </div>            
        </div>


{% endblock %}

{% block latest %}
{% endblock %}