{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Results {{test.website}} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block main %}         
        <div class="row-fluid">
            <div class="span12">
                {% include 'SimplyTestableWebClientBundle:Partials:test-input.html.twig' %} 
            </div>
        </div>

        <div class="row-fluid">
            <section>                
                <div class="span12" id="test-summary">
                    <h2 class="info"><i class="icon-certificate"></i> Summary (<span id="url-list-url-count">{{ urls | length }}</span> urls, <span id="url-list-task-count">{{ test.tasks | length }}</span> tests)</h2>
                    {% include 'SimplyTestableWebClientBundle:Partials:results/task-states.html.twig' %}
                </div>
                <div class="clearfix"></div>
            </section>
        </div>

        <div id="test-list">
            <div class="row-fluid">
                <div class="span12">
                    <section id="url-list">
                        <span class="info"><i class="icon-tasks"></i></span>
                        
                        <ul class="nav nav-tabs">
                            <li><a href="#all" data-toggle="tab">All ({{ test.taskCount }})</a></li>
                            <li><a href="#tests-with-errors" data-toggle="tab">Tests with errors ({{ erroredTaskCount }})</a></li>
                            <li><a href="#tests-without-errors" data-toggle="tab">Tests without errors ({{ test.taskCount - taskCountByState.cancelled - erroredTaskCount }})</a></li>                            
                            <li><a href="#cancelled-tests" data-toggle="tab">Cancelled tests ({{ taskCountByState.cancelled }})</a></li>
                        </ul> 
                            
                        <div class="tab-content">
                            <div class="tab-pane active" id="all"></div>
                            <div class="tab-pane" id="tests-with-errors"></div>
                            <div class="tab-pane" id="tests-without-errors"></div>                            
                            <div class="tab-pane" id="cancelled-tests"></div>
                        </div>
                        
                        {% include 'SimplyTestableWebClientBundle:Partials:url-list.html.twig' %}      
                    </section>  
                </div>
            </div>            
        </div>    
{% endblock %}
