{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Results {{test.website}} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block main %}        
<div class="row-fluid">
    <div class="span12">
                {% include 'SimplyTestableWebClientBundle:Partials:test-input.html.twig' %}             
        </div>
    </div>

    <div class="row-fluid">
        <section>                
            <div class="span12 {% if test.state == 'no-sitemap' %} notification-panel {% endif %}" id="test-summary">
                    {% if test.state == 'no-sitemap' %}
                    <h2 class="info"><i class="icon-exclamation-sign"></i>No sitemap found or news feed found, unable to run tests</h2>

                    <p class="intro">
                        URLs for a site-wide test are collected from your <a href="http://en.wikipedia.org/wiki/Sitemaps">sitemap</a>,
                        your RSS news feed or your ATOM news feed.                                
                        We looked hard but couldn't find any URLs listed in any sitemaps or news feeds and so no tests can be run.
                    </p>                          

                    <div class="row-fluid">
                        <div class="span6">
                            <h3>What we're doing about this</h3>                                                

                            <ul>
                                <li>
                                    <p>
                                        building a sitemap generator
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <del>collecting URLs from other sources such as RSS feeds</del>
                                        <a href="http://blog.simplytestable.com/urls-now-collected-from-news-feeds/">done</a>
                                    </p>
                                </li>                            
                                <li>
                                    <p>
                                        letting you give us a list of URLs to be tested
                                    </p>
                                </li>                              
                            </ul>

                            <p>
                                Work on these features won't start until after the public release on 12 October 2012.                                 
                            </p>

                            <p>
                                To find out when we introduce changes and improvements:
                            </p>
                            <ul>
                                <li>
                                    <p><a href="http://eepurl.com/ni82f">sign up to our weekly updates newsletter</a> </p>
                                </li>
                                <li>
                                    <p><a href="//twitter.com/simplytestable">follow @simplytestable on twitter</a></p>
                                </li>
                                <li>
                                    <p><a href="http://blog.simplytestable.com">keep an eye out on our blog</a></p>
                                </li>                                  
                            </ul>                                    

                        </div>                            
                        <div class="span6">
                            <h3>What you can do</h3>

                            <ul>
                                <li>
                                    <p>
                                        <a href="http://support.google.com/webmasters/bin/answer.py?hl=en&answer=183668">create a sitemap</a>,
                                        either an XML sitemap at <code>{{test.website}}sitemap.xml</code> or a plain text sitemap at
                                        <code>{{test.website}}sitemap.txt</code>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        update <code>{{test.website}}robots.txt</code> and link to your sitemap if it is at a non-standard location
                                    </p>
                                </li>                            
                                <li>
                                    <p>
                                        ensure any RSS or ATOM news feed is valid
                                    </p>
                                </li>                                
                            </ul>
                        </div>                                
                    </div>

                    {% else %}
                    <h2 class="info"><i class="icon-certificate"></i> Summary (<span id="test-summary-url-count">{{ remote_test_summary.url_count }}</span> urls, <span id="test-summary-task-count">{{ remote_test_summary.task_count }}</span> tests)</h2>
                        {% include 'SimplyTestableWebClientBundle:Partials:results/task-states.html.twig' %}
                    {% endif %}                    
                </div>
                <div class="clearfix"></div>
            </section>
        </div>

        {% if remote_test_summary.task_count > 0 %}
        <div id="test-list">
            <div class="row-fluid">
                <div class="span12">                    
                    <section id="task-list-container">
                        <span class="info"><i class="icon-tasks"></i></span>
                        
                        {% if tasks is defined %}
                        <ul class="nav nav-tabs">
                            <li class="{% if (filter == 'all') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=all">All ({{ remote_test_summary.task_count }})</a></li>
                            <li class="{% if (filter == 'with-errors') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=with-errors">Tests with errors ({{ remote_test_summary.errored_task_count }})</a></li>
                            <li class="{% if (filter == 'without-errors') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=without-errors">Tests without errors ({{ remote_test_summary.task_count - remote_test_summary.errored_task_count - remote_test_summary.cancelled_task_count - remote_test_summary.skipped_task_count }})</a></li>                            
                            <li class="{% if (filter == 'skipped') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=skipped">Skipped tests ({{ remote_test_summary.skipped_task_count }})</a></li>
                            <li class="{% if (filter == 'cancelled') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=cancelled">Cancelled tests ({{ remote_test_summary.cancelled_task_count }})</a></li>
                        </ul> 

                        <!--
                        <div class="tab-content">
                            <div class="tab-pane active" id="all">all</div>
                            <div class="tab-pane" id="tests-with-errors">tests with errors</div>
                            <div class="tab-pane" id="tests-without-errors">tests without errors</div>                            
                            <div class="tab-pane" id="cancelled-tests">cancelled tests</div>
                        </div>                        
                        -->
                        
                        <ul class="tasks">
                            {% for task in tasks %}
                                <li class="task {{ task.state }}">
                                    <span class="url">{{ task.url }}</span>
                                    <div class="meta">
                                        <span class="state">
                                            {% if task.state == 'queued' or task.state == 'queued-for-assignment' %}
                                                <i class="icon-cog"></i>
                                            {% elseif task.state == 'in-progress' %}
                                                <i class="icon-cogs"></i>                                                
                                            {% elseif task.state == 'skipped' %}
                                                <i class="icon-random"></i>
                                            {% elseif task.state == 'cancelled' or task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-available' or task.state == 'failed-retry-limit-reached' %}
                                                <i class="icon-ban-circle"></i>                                
                                            {% else %}
                                                <i class="icon-bar-chart"></i>
                                            {% endif %}
                                        </span>
                                        <span class="type">{{ task.type }}</span>

                                        {%if task.hasOutput %}
                                            {% if task.state == 'skipped' or task.state == 'cancelled' %}                                        
                                            {% else %}
                                                {%if task.output.hasErrors %}
                                                    <a href="{{ path('app_task_results', { 'website': test.website, 'test_id': test.testId, 'task_id':task.taskId }) }}" class="label label-important">
                                                    {{ task.output.errorCount }}
                                                    {% if task.output.errorCount == 1 %}
                                                        error
                                                    {% else %}
                                                        errors
                                                    {% endif %}
                                                        <i class="icon-caret-down"></i>    
                                                    </a>
                                                {% else %}
                                                    <i class="icon-ok"></i>
                                                {% endif %}                                        
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}                       
                        
                    </section>  
                </div>
            </div>            
        </div>
        {% endif %}
{% endblock %}
