{% set error_free_task_count = remote_test_summary.task_count - remote_test_summary.errored_task_count - remote_test_summary.cancelled_task_count - remote_test_summary.skipped_task_count %}

{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Results {{website}} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

<div class="full-width-container">
    <div class="container main">            
        <div class="row-fluid">
            <div class="span12">
        {% if remote_test_summary.ammendments is defined %}
            {% if remote_test_summary.ammendments[0].constraint is defined %}
<div class="alert alert-info alert-ammendment alert-from-view">
    <i class="icon icon-warning-sign"></i>
    <span>
{% include 'SimplyTestableWebClientBundle:Partials:test-url-limit-notification.html.twig' %}
    </span>
</div>                
            {% endif %}         
        {% endif %}
                    
{% include 'SimplyTestableWebClientBundle:Partials:header-results.html.twig' %}                     
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="main">
{% block main %}
        {% if remote_test_summary.task_count > 0 %}

    <div id="test-list">
        <div class="row-fluid">
            <div class="span12">                    
                <section id="task-list-container">
                    <span class="info"><i class="icon-tasks"></i></span>

                        {% if tasks is defined %}
                    <ul class="nav nav-tabs">
                        <li class="tasks-all {% if (filter == 'all') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=all#test-list">All ({{ remote_test_summary.task_count }})</a></li>
                        <li class="tasks-with-errors {% if (filter == 'with-errors') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=with-errors#test-list"><i class="icon icon-ban-circle"></i> Tests with errors ({{ remote_test_summary.errored_task_count }})</a></li>
                        <li class="tasks-with-warnings {% if (filter == 'with-warnings') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=with-warnings#test-list"><i class="icon icon-text">!</i> Tests with warnings ({{ remote_test_summary.warninged_task_count }})</a></li>
                        <li class="tasks-without-errors {% if (filter == 'without-errors') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=without-errors#test-list"><i class="icon icon-ok"></i> Tests without errors ({{ remote_test_summary.task_count - remote_test_summary.errored_task_count - remote_test_summary.cancelled_task_count - remote_test_summary.skipped_task_count }})</a></li>                            
                        {% if remote_test_summary.skipped_task_count > 0 %}<li class="tasks-skipped {% if (filter == 'skipped') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=skipped#test-list"><i class="icon icon-random"></i> Skipped tests ({{ remote_test_summary.skipped_task_count }})</a></li>{% endif %}
                        {% if remote_test_summary.cancelled_task_count > 0 %}<li class="tasks-cancelled {% if (filter == 'cancelled') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=cancelled#test-list"><i class="icon icon-remove"></i> Cancelled tests ({{ remote_test_summary.cancelled_task_count }})</a></li>{% endif %}
                    </ul>

                        {% if tasks|length > 0 %}

                    <ul class="tasks">                           
                            {% for url,taskSet in tasks %}
                            <li class="taskSet">
                                <span class="url">{{ url }}</span>
                                    {% for task in taskSet %}
                                <div class="task {{ task.state }}" id="task{{ task.id }}">
                                    <span class="meta">
                                        <span class="state">
                                                    {% if task.state == 'queued' or task.state == 'queued-for-assignment' %}
                                                <i class="icon-cog"></i>
                                                    {% elseif task.state == 'in-progress' %}
                                                <i class="icon-cogs"></i>                                                
                                                    {% elseif task.state == 'skipped' %}
                                                <i class="icon-random"></i>
                                                    {% elseif task.state == 'cancelled' or task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-available' or task.state == 'failed-retry-limit-reached' %}
                                                <i class="icon-remove-circle"></i>                                
                                                    {% else %}
                                                <i class="icon-bar-chart"></i>
                                                    {% endif %}
                                            </span>                
                                            <span class="type">{{ task.type }}</span>

                                                {%if task.hasOutput %}
                                                    {% if task.state == 'skipped' or task.state == 'cancelled' %}                                        
                                                    {% else %}
                                                        {% if task.output.hasErrors and task.output.hasWarnings %}
                                            <a href="{{ path('app_task_results', { 'website': test.website, 'test_id': test.testId, 'task_id':task.taskId }) }}" class="label label-important">
                                                            {{ task.output.errorCount }}
                                                            {% if task.output.errorCount == 1 %}
                                                    error,
                                                            {% else %}
                                                    errors,
                                                            {% endif %}                                                                  
                                                            {{ task.output.warningCount }}
                                                            {% if task.output.warningCount == 1 %}
                                                    warning
                                                            {% else %}
                                                    warnings
                                                            {% endif %}                                                                
                                                    <i class="icon-caret-right"></i>    
                                                </a>                                                            

                                                        {% elseif not task.output.hasErrors and task.output.hasWarnings %}
                                                <span class="label label-success"><i class="icon icon-ok"></i> No errors</span>
                                                <a href="{{ path('app_task_results', { 'website': test.website, 'test_id': test.testId, 'task_id':task.taskId }) }}" class="label label-info">                                                            
                                                            {{ task.output.warningCount }}
                                                            {% if task.output.warningCount == 1 %}
                                                        warning
                                                            {% else %}
                                                        warnings
                                                            {% endif %}
                                                        <i class="icon-caret-right"></i>    
                                                    </a>                                                            
                                                        {% elseif task.output.hasErrors and not task.output.hasWarnings %}
                                                    <a href="{{ path('app_task_results', { 'website': test.website, 'test_id': test.testId, 'task_id':task.taskId }) }}" class="label label-important">
                                                            {{ task.output.errorCount }}
                                                            {% if task.output.errorCount == 1 %}
                                                            error
                                                            {% else %}
                                                            errors
                                                            {% endif %}
                                                            <i class="icon-caret-right"></i>    
                                                        </a>                                                            
                                                        {% else %}
                                                        <i class="icon-ok"></i>
                                                        {% endif %}                                      
                                                    {% endif %}
                                                {% endif %}            

                                                    </span>
                                                </div>    
                                            {% endfor %}

                                            </li>
                                        {% endfor %}
                                        </ul>
                            {% else %}                        
                                {% if filter == 'with-errors' %} 
                                        <div id="no-errors">
                                            <div id="trophy">
                                                <!--<i class="icon icon-certificate"></i>-->
                                                <i class="icon icon-ok"></i>
                                            </div>
                                            <p>
                                                Congratulations,<br /> no errors!
                                            </p>
                                        </div>
                                {% endif %}
                            {% endif %}
                                    {% endif %}                       

                                    </section>  
                                </div>
                            </div>            
                        </div>        

        {% endif %}
{% endblock %}
    </div>                       
</div>

{% endblock %}