{% extends 'SimplyTestableWebClientBundle::App/base.html.twig' %}

{% block title %}Results for {% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-64.html.twig' with {'url': website} %} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block body_class %}full-width {{ parent() }}{% endblock %}

{% block body %}

        {% if remote_test.ammendments is defined %}
            {% if remote_test.ammendments[0].constraint is defined %}
<div class="full-width-container full-width-notification">
    <div class="container main">
        <div class="row-fluid">
            <div class="span12">
{% include 'SimplyTestableWebClientBundle:Partials:test-url-limit-notification.html.twig' %}
            </div>
        </div>
    </div>
</div>
            {% endif %}         
        {% endif %}

        {% if is_owner == false and is_public_user_test == false %}
<div class="full-width-container full-width-notification">
    <div class="container main">
        <div class="row-fluid">
            <div class="span12">
    <span>
        You're viewing a <strong>read-only version</strong> of this test. <a href="{{ path('view_user_signin_index') }}">Sign in</a> if you're the test owner to modify options and re-test.
    </span>
            </div>
        </div>
    </div>
</div>             
        {% endif %}

<div class="full-width-container">
    <div class="container main">            
        <div class="row-fluid">
            <div class="span12">                    
{% include 'SimplyTestableWebClientBundle:Partials:header-results.html.twig' %}                     
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="main">
{% block main %}
        {% if remote_test.taskcount > 0 %}

    <div id="test-list">
        <div class="row-fluid">
            <div class="span12">                    
                <section id="task-list-container">
                    <h2>
                        {% if (filter == 'all' and type is null) %}
                            All Tests
                        {% elseif (filter == 'all') %}
                            All <span>{{ type_label }}</span> Tests
                        {% else %}
                            <span>{{ type_label }}</span> Tests {{ filter_label }}
                        {% endif %}
                            
                    {% if (type is not null) %}
                        <a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter={{ filter }}">show for all types of test</a>
                    {% endif %}                            
                    </h2>
                        

                    
                    <span class="info"><i class="icon-tasks"></i></span>

                        {% if tasks is defined %}
                    <ul class="nav nav-tabs">
                        <li class="tasks-all {% if (filter == 'all') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=all&type={{ type }}#test-list">All ({{ filtered_task_counts.all }})</a></li>
                        <li class="tasks-with-errors {% if (filter == 'with-errors') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=with-errors&type={{ type }}#test-list"><i class="icon icon-ban-circle"></i> With errors ({{ filtered_task_counts.with_errors }})</a></li>
                        <li class="tasks-with-warnings {% if (filter == 'with-warnings') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=with-warnings&type={{ type }}#test-list"><i class="icon icon-text">!</i> With warnings ({{ filtered_task_counts.with_warnings }})</a></li>
                        <li class="tasks-without-errors {% if (filter == 'without-errors') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=without-errors&type={{ type }}#test-list"><i class="icon icon-ok"></i> Without errors ({{ filtered_task_counts.without_errors }})</a></li>                            
                        {% if filtered_task_counts.skipped > 0 %}<li class="tasks-skipped {% if (filter == 'skipped') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=skipped#test-list"><i class="icon icon-random"></i> Skipped ({{ filtered_task_counts.skipped }})</a></li>{% endif %}
                        {% if filtered_task_counts.cancelled > 0 %}<li class="tasks-cancelled {% if (filter == 'cancelled') %} active {% endif %}"><a href="{{ path('app_results', { 'website': test.website, 'test_id': test.testId }) }}?filter=cancelled#test-list"><i class="icon icon-remove"></i> Cancelled ({{ filtered_task_counts.cancelled }})</a></li>{% endif %}
                    </ul>

                        {% if tasks|length > 0 %}

                    <ul class="tasks">                           
                            {% for url,taskSet in tasks %}
                            <li class="taskSet">
                                <span class="url">{{ url }}<span class="fade"></span></span>
                                    {% for task in taskSet %}
                                <div class="task {{ task.state }}" id="task{{ task.id }}">
                                    <span class="meta">
                                        <span class="state">
                                                    {% if task.state == 'queued' or task.state == 'queued-for-assignment' %}
                                                <i class="icon-cog"></i>
                                                    {% elseif task.state == 'in-progress' %}
                                                <i class="icon-cogs"></i>                                                
                                                    {% elseif task.state == 'skipped' %}
                                                <i class="icon-random"></i>
                                                    {% elseif task.state == 'cancelled' or task.state == 'failed' or task.state == 'failed-no-retry-available' or task.state == 'failed-retry-available' or task.state == 'failed-retry-limit-reached' %}
                                                <i class="icon-remove-circle"></i>                                
                                                    {% else %}
                                                <i class="icon-bar-chart"></i>
                                                    {% endif %}
                                            </span>                
                                            <span class="type">{{ task.type }}</span>

                                                {%if task.hasOutput %}
                                                    {% if task.state == 'skipped' or task.state == 'cancelled' %}                                        
                                                    {% else %}
                                                        {% if task.output.hasErrors and task.output.hasWarnings %}
                                            <a href="{{ path('app_task_results', { 'website': test.website, 'test_id': test.testId, 'task_id':task.taskId }) }}" class="label label-important">
                                                            {{ task.output.errorCount }}
                                                            {% if task.output.errorCount == 1 %}
                                                    error,
                                                            {% else %}
                                                    errors,
                                                            {% endif %}                                                                  
                                                            {{ task.output.warningCount }}
                                                            {% if task.output.warningCount == 1 %}
                                                    warning
                                                            {% else %}
                                                    warnings
                                                            {% endif %}                                                                
                                                    <i class="icon-caret-right"></i>    
                                                </a>                                                            

                                                        {% elseif not task.output.hasErrors and task.output.hasWarnings %}
                                                <span class="label label-success"><i class="icon icon-ok"></i> No errors</span>
                                                <a href="{{ path('app_task_results', { 'website': test.website, 'test_id': test.testId, 'task_id':task.taskId }) }}" class="label label-info">                                                            
                                                            {{ task.output.warningCount }}
                                                            {% if task.output.warningCount == 1 %}
                                                        warning
                                                            {% else %}
                                                        warnings
                                                            {% endif %}
                                                        <i class="icon-caret-right"></i>    
                                                    </a>                                                            
                                                        {% elseif task.output.hasErrors and not task.output.hasWarnings %}
                                                    <a href="{{ path('app_task_results', { 'website': test.website, 'test_id': test.testId, 'task_id':task.taskId }) }}" class="label label-important">
                                                            {{ task.output.errorCount }}
                                                            {% if task.output.errorCount == 1 %}
                                                            error
                                                            {% else %}
                                                            errors
                                                            {% endif %}
                                                            <i class="icon-caret-right"></i>    
                                                        </a>                                                            
                                                        {% else %}
                                                        <i class="icon-ok"></i>
                                                        {% endif %}                                      
                                                    {% endif %}
                                                {% endif %}            

                                                    </span>
                                                </div>    
                                            {% endfor %}

                                            </li>
                                        {% endfor %}
                                        </ul>
                            {% else %}                        
                                {% if filter == 'with-errors' %} 
                                        <div id="no-errors">
                                            <div id="trophy">
                                                <!--<i class="icon icon-certificate"></i>-->
                                                <i class="icon icon-ok"></i>
                                            </div>
                                            <p>
                                                Congratulations,<br /> no errors!
                                            </p>
                                        </div>
                                {% endif %}
                            {% endif %}
                                    {% endif %}                       

                                    </section>  
                                </div>
                            </div>            
                        </div>        

        {% endif %}
{% endblock %}
    </div>                       
</div>

{% endblock %}