{% extends 'SimplyTestableWebClientBundle::App/single-page-dialog.html.twig' %}

{% set title %}
{% if remote_test.rejection.constraint is defined and remote_test.rejection.constraint is not null %}
    {% if is_logged_in %}
        Plan limit reached 
    {% else %}
        Demo limit reached
    {% endif %}
{% elseif remote_test.rejection.reason|slice(0, 4) == 'curl' %}
    Sorry, that can't be accessed at the moment
{% else %}
    Oops, I can't do that
{% endif %}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block body_class %} single-page-notification {{ parent() }} {% endblock %}

{% block content %}

<h1>{{ title }}</h1>

{% if remote_test.rejection.constraint.name is defined and remote_test.rejection.constraint.name == 'credits_per_month' %}
    {% if userSummary.user_plan.plan.name == 'basic' %}
        {% set next_plan = 'personal' %}
    {% elseif userSummary.user_plan.plan.name == 'personal' %}
        {% set next_plan = 'agency' %}
    {% endif %}

    <p class="intro">    
        You reached your plan's monthly limit of <strong>{{ remote_test.rejection.constraint.limit }}</strong>
        credits.
    </p>

    <p class="intro">
        Upgrade from the <strong>{{ userSummary.user_plan.plan.name }}</strong> plan
        to the
        <strong>{{ next_plan }}</strong>
        plan for more monthly test credits.
    </p>

    <div class="cta">
        <form method="post" action="{{ path('user_account_plan_subscribe') }}">
            <input type="hidden" name="plan" value="{{ next_plan }}" />
            <button type="submit" class="btn btn-primary btn-large">Upgrade to the {{ next_plan }} plan now <i class="icon icon-caret-right"></i></button>
        </form>   
    </div>
{% endif %}

{% if remote_test.rejection.constraint.name is defined and remote_test.rejection.constraint.name == 'full_site_jobs_per_site' %}
    
    <p class="intro" id="reason">
        We've reached the limit of free full-site <a href="{{ [public_site.urls.home, public_site.urls.plans_demo]|join('') }}">demo tests</a> that can
        be run for <span class="website">{% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-40.html.twig' with {'url': website} %}</span>.
    </p> 
    
    <p class="intro">
        <a href="{{ path('sign_up') }}">Create a free account</a> or <a href="{{ path('sign_in') }}">sign in</a> to run more tests for this site.
    </p>

    <div class="cta">
        <a href="https://gears.simplytestable.com/signup/" class="btn btn-lg btn-cta btn-success"> 
            <span class="primary">Create an account</span>
            <span class="byline">Free. Get started in seconds.</span>            
            <i class="icon icon-caret-right"></i>
        </a>
    </div>
        
    <div class="additional">
        <ul>
            <li>
                <p>
                    <a href="{{ [public_site.urls.home, public_site.urls.account_benefits]|join('') }}">Benefits of a free account <i class="icon icon-caret-right"></i></a>
                </p>
            </li>            
            <li>
                <p>
                    <a href="{{ [public_site.urls.home, public_site.urls.plans_and_pricing]|join('') }}">Premium plan options <i class="icon icon-caret-right"></i></a>
                </p>
            </li>               
            <li>
                <p>                    
                    <a href="{{ path('app_history_all', {'filter': remote_test.website}) }}">Past results for {% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-40.html.twig' with {'url': website} %}<i class="icon icon-caret-right"></i></a>
                </p>
            </li>         
        </ul>
    </div>
{% endif %}

{% if remote_test.rejection.constraint.name is defined and remote_test.rejection.constraint.name == 'single_url_jobs_per_url' %}
    <p class="intro" id="reason">
        We've reached the limit of free single-page <a href="{{ [public_site.urls.home, public_site.urls.plans_demo]|join('') }}">demo tests</a> that can
        be run for <span class="website">{% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-40.html.twig' with {'url': website} %}</span>.
    </p>
    
    <p class="intro">
        <a href="{{ path('sign_up') }}">Create a free account</a> or <a href="{{ path('sign_in') }}">sign in</a> to run more tests for this page.
    </p>

    <div class="cta">
        <a href="https://gears.simplytestable.com/signup/" class="btn btn-lg btn-cta btn-success"> 
            <span class="primary">Create an account</span>
            <span class="byline">Free. Get started in seconds.</span>            
            <i class="icon icon-caret-right"></i>
        </a>
    </div>
        
    <div class="additional">
        <ul>
            <li>
                <p>
                    <a href="{{ [public_site.urls.home, public_site.urls.account_benefits]|join('') }}">Benefits of a free account <i class="icon icon-caret-right"></i></a>
                </p>
            </li>            
            <li>
                <p>
                    <a href="{{ [public_site.urls.home, public_site.urls.plans_and_pricing]|join('') }}">Premium plan options <i class="icon icon-caret-right"></i></a>
                </p>
            </li>               
            <li>
                <p>                    
                    <a href="{{ path('app_history_all', {'filter': remote_test.website}) }}">Past results for {% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-40.html.twig' with {'url': website} %}<i class="icon icon-caret-right"></i></a>
                </p>
            </li>         
        </ul>
    </div>        
{% endif %}

{% if remote_test.rejection.constraint is null and remote_test.rejection.reason == 'unroutable' %}
    <p class="intro first">    
        <span class="nowrap">Sorry, I can't test <a title="{{website.raw}}" href="{{ website.raw }}">{% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-raw-possibly-truncated-40.html.twig' with {'url': website} %}</a></span> because it can't be accessed over the Internet.
    </p>

    <p class="intro">
        This happens if you try to test a website:
    </p>

    <ul>
        <li>
            <p class="intro">
                that's accessed by IP address and where the IP address is not routable
            </p>
        </li>    
        <li>
            <p class="intro">
                that contains an invalid domain name (such as <a href="http://example/">http://example/</a>)
            </p>
        </li>
    </ul>

    <div class="cta">
        <a href="{{ path('app') }}" class="btn btn-primary btn-large"><i class="icon icon-caret-left"></i> Try testing a different site</a>
    </div>
{% endif %}
    
{% if remote_test.rejection.constraint is null and remote_test.rejection.reason|slice(0, 4) == 'curl' %}
    {% set curl_error_number = remote_test.rejection.reason|slice(5, 2) %}
    
    {% if curl_error_number == 7 %}
        {% set intro = 'there doesn\'t appear to be a web server there to talk to' %} 
    {% elseif curl_error_number == 28 %}  
        {% set intro = 'the web server didn\'t respond within 10 seconds' %}
        {% set advice %}  
            <p class="intro">
                The web server for the site being tested is probably having
                some issues if it doesn't respond within 10 seconds.
            </p>
            <p class="intro">
                We won't run a test if a web server is responding slowly
                as doing so is likely to make matters worse.
            </p>
        {% endset %}             
    {% elseif curl_error_number == 52 %}    
        {% set intro = 'the web server returned no data whatsoever' %}                      
    {% endif %}

    <p class="intro">  
        Were not able to talk to {{ test.formattedWebsite }} at the moment{% if intro is defined %}: {{ intro }}{% endif %}.
    </p>
    
    {% if advice is defined %}{{ advice }}{% endif %}

    <p class="intro">
        Check that <a href="{{ test.website }}">{{ test.formattedWebsite }}</a> is working as expected in a browser.
    </p>

    <div class="cta">
        <a href="{{ path('app') }}" class="btn btn-primary btn-large"><i class="icon icon-caret-left"></i> Try testing a different site</a>
    </div>
    
    <p class="support-hint">
        If you need to <a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#115;&#105;&#109;&#112;&#108;&#121;&#116;&#101;&#115;&#116;&#97;&#98;&#108;&#101;&#46;&#99;&#111;&#109;">contact us</a>
        about this, tell us you encountered curl error {{ curl_error_number }}. We'll know what this means.
    </p>
{% endif %}

{% endblock %}