{% extends 'SimplyTestableWebClientBundle::App/single-page-dialog-mid.html.twig' %}

{% block title %}No URLs detected for {% include 'SimplyTestableWebClientBundle:Partials:/url/utf8-schemeless-possibly-truncated-64.html.twig' with {'url': website} %} (#{{test.testId}}) - {{ parent() }}{% endblock %}

{% block body_class %} single-page-notification {{ parent() }} {% endblock %}

{% block content %}

<h1>No sitemap or news feed, sign in to crawl this site</h1>

<p class="intro">
    Demo tests only collect URLs to be tested from your XML sitemap
    or news feed. As a registered user you can crawl a site to discover URLs to be tested.
</p>

<div class="primary-options">
    <div class="inline-forms">
        <form action="{{ path('user_view_signin_index') }}" method="get">
            <button  type="submit" class="btn btn-primary btn-large">Sign in to crawl this site to find URLs</button>
            <input type="hidden" name="redirect" value="{{ redirect }}" />
        </form> 
        or 
        <form action="{{ path('user_view_signup_index') }}" method="get">
            <button  type="submit" class="btn btn-large">Create an account</button>
            <input type="hidden" name="redirect" value="{{ redirect }}" />
        </form>          
    </div>


    <div class="test-options-advanced">
        <div class="expandable-control expandable-control-default-closed for-detail-expandable">More detail</div>
        <div id="detail-expandable">
            <h3>Why did this happen?</h3>
            <p>
                URLs for a site-wide test are collected from your sitemap, your RSS 
                news feed or your ATOM news feed.
            </p>

            <p>
                We looked hard but couldn't find any URLs for {{ website.utf8.raw }} listed in 
                any sitemaps or news feeds.
            </p>

            <h3>What you can do</h3>
            <ul>
                <li>
                    <p>
                        create a <a href="http://support.google.com/webmasters/bin/answer.py?hl=en&amp;answer=183668">sitemap</a>,
                        either an XML sitemap at <code>{{ website.utf8.raw }}sitemap.xml</code> or a plain text sitemap at
                        <code>{{ website.utf8.raw }}sitemap.txt</code>
                    </p>
                </li>
                <li>
                    <p>
                        update <code>{{ website.utf8.raw }}robots.txt</code> and link to your sitemap if it is at a non-standard location
                    </p>
                </li>                            
                <li>
                    <p>
                        ensure any RSS or ATOM news feed is valid
                    </p>
                </li>                                   
                <li>
                    <p>
                        ensure links in any sitemap or news feed
                        are for {{ website.utf8.raw }} specifically
                        and not any other domain
                    </p>
                </li>                                
            </ul>
        </div>
    </div>        
</div>

{% endblock %}