{% extends 'SimplyTestableWebClientBundle::App/single-page-dialog.html.twig' %}

{% set title %}
{% if remote_test.rejection.constraint is defined and remote_test.rejection.constraint is not null %}
    {% if is_logged_in %}
        Plan limit reached 
    {% else %}
        Free test limit reached
    {% endif %}
{% else %}
    Oops, I can't do that
{% endif %}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block body_class %} single-page-notification {{ parent() }} {% endblock %}

{% block content %}

<h1>{{ title }}</h1>

{% if remote_test.rejection.constraint.name is defined and remote_test.rejection.constraint.name == 'credits_per_month' %}
    {% if userSummary.user_plan.plan.name == 'basic' %}
        {% set next_plan = 'personal' %}
    {% elseif userSummary.user_plan.plan.name == 'personal' %}
        {% set next_plan = 'agency' %}
    {% endif %}

    <p class="intro">    
        You reached your plan's monthly limit of <strong>{{ remote_test.rejection.constraint.limit }}</strong>
        credits.
    </p>

    <p class="intro">
        Upgrade from the <strong>{{ userSummary.user_plan.plan.name }}</strong> plan
        to the
        <strong>{{ next_plan }}</strong>
        plan for more monthly test credits.
    </p>

    <div class="cta">
        <form method="post" action="{{ path('user_account_plan_subscribe') }}">
            <input type="hidden" name="plan" value="{{ next_plan }}" />
            <button type="submit" class="btn btn-primary btn-large">Upgrade to the {{ next_plan }} plan now <i class="icon icon-caret-right"></i></button>
        </form>   
    </div>
{% endif %}

{% if remote_test.rejection.constraint.name is defined and remote_test.rejection.constraint.name == 'full_site_jobs_per_site' %}
    <p class="intro">    
        We allow <strong>{{ remote_test.rejection.constraint.limit }}</strong> full-site 
        tests for free per month per website for those who don't have an account.
    </p>

    <p class="intro">
        There have already been <strong>{{ remote_test.rejection.constraint.limit }}</strong> free full-site tests
        this month for <strong>{{ website }}</strong>.
    </p>

    <p class="intro">
        Create an account or sign in to run more full-site tests this site.
    </p>

    <div class="cta">
        <a href="{{ path('sign_up') }}" class="btn btn-primary btn-large"><i class="icon icon-user"></i> Create account</a>
        or
        <a href="{{ path('sign_in') }}" class="btn">Sign in</a>
    </div>
{% endif %}

{% if remote_test.rejection.constraint.name is defined and remote_test.rejection.constraint.name == 'single_url_jobs_per_url' %}
    <p class="intro">    
        We allow <strong>{{ remote_test.rejection.constraint.limit }}</strong> single-URL 
        tests for free per month per URL for those who don't have an account.
    </p>

    <p class="intro">
        There have already been <strong>{{ remote_test.rejection.constraint.limit }}</strong> free single-URL tests
        this month for <strong>{{ website }}</strong>.
    </p>

    <p class="intro">
        Create an account or sign in to run more single-URL tests this site.
    </p>

    <div class="cta">
        <a href="{{ path('sign_up') }}" class="btn btn-primary btn-large"><i class="icon icon-user"></i> Create account</a>
        or
        <a href="{{ path('sign_in') }}" class="btn">Sign in</a>
    </div>
{% endif %}

{% if remote_test.rejection.constraint is null and remote_test.rejection.reason == 'unroutable' %}
    <p class="intro">    
    Sorry, I can't test <a href="{{ website }}">{{ website }}</a> because it can't be accessed over the Internet.
    </p>

    <p class="intro">
        This happens if you try to test a website:
    </p>

    <ul>
        <li>
            <p class="intro">
                that's accessed by IP address and where the IP address is not routable
            </p>
        </li>    
        <li>
            <p class="intro">
                that contains an invalid domain name (such as <a href="http://example/">http://example/</a>)
            </p>
        </li>
    </ul>

    <div class="cta">
        <a href="{{ path('app') }}" class="btn btn-primary btn-large"><i class="icon icon-caret-left"></i> Try testing a different site</a>
    </div>
{% endif %}

{% endblock %}